Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

remove the space
  python/musica/mechanism_configuration/aerosol/aerosol.py
Due: python

address review nits: consistent MIEM option description, clearer var name
  CMakeLists.txt
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
Due: cpp_fortran

refactor: merge miem config-reading into musica::configuration
  include/musica/configuration/emissions.hpp
  include/musica/configuration/read_mechanism.hpp
  include/musica/miem/emissions.hpp
  src/CMakeLists.txt
  src/configuration/CMakeLists.txt
  src/configuration/emissions.cpp
  src/configuration/parse.cpp
  src/configuration/read_mechanism.cpp
  src/miem/CMakeLists.txt
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran

Add MIEM emissions integration (parse, translate, build wiring) (#929)
  CMakeLists.txt
  cmake/dependencies.cmake
  configs/v1/emissions/config.json
  configs/v1/emissions/config.yaml
  include/musica/configuration/emissions.hpp
  include/musica/configuration/read_mechanism.hpp
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  src/CMakeLists.txt
  src/configuration/CMakeLists.txt
  src/configuration/emissions.cpp
  src/configuration/parse.cpp
  src/configuration/read_mechanism.cpp
  src/packaging/CMakeLists.txt
  src/test/unit/CMakeLists.txt
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/configuration/emissions.hpp
  include/musica/miam/miam_builder.hpp
  include/musica/micm/micm_c_interface.hpp
  javascript/bindings/musica_wasm.cpp
  src/configuration/parse.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
Due: cpp_fortran, javascript

enable miam
  CMakeLists.txt
  pyproject.toml
  python/bindings/miam/miam.cpp
Due: python

enable miam for prebuild script
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
Due: python

fortran doesnt have miam
  .github/workflows/windows.yml
Due: none

Reorganize Python mechanism configuration types after adding aerosols (#930)
  .github/workflows/windows.yml
  CMakeLists.txt
  cmake/dependencies.cmake
  pyproject.toml
  python/bindings/CMakeLists.txt
  python/bindings/mechanism_configuration/aerosol.cpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/bindings/mechanism_configuration/reactions.cpp
  python/bindings/mechanism_configuration/species.cpp
  python/bindings/miam/miam.cpp
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/aerosol/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/reactions/__init__.py
  python/musica/mechanism_configuration/reactions/arrhenius.py
  python/musica/mechanism_configuration/reactions/branched.py
  python/musica/mechanism_configuration/reactions/emission.py
  python/musica/mechanism_configuration/reactions/first_order_loss.py
  python/musica/mechanism_configuration/reactions/photolysis.py
  python/musica/mechanism_configuration/reactions/reaction_component.py
  python/musica/mechanism_configuration/reactions/reactions.py
  python/musica/mechanism_configuration/reactions/surface.py
  python/musica/mechanism_configuration/reactions/taylor_series.py
  python/musica/mechanism_configuration/reactions/ternary_chemical_activation.py
  python/musica/mechanism_configuration/reactions/troe.py
  python/musica/mechanism_configuration/reactions/tunneling.py
  python/musica/mechanism_configuration/reactions/user_defined.py
  python/musica/mechanism_configuration/species/__init__.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/utils.py
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
  src/configuration/parse.cpp
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/configuration/emissions.hpp
  include/musica/miam/miam_builder.hpp
  include/musica/micm/micm_c_interface.hpp
  javascript/bindings/musica_wasm.cpp
  python/bindings/miam/miam.cpp
  src/configuration/parse.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/miam/miam_builder.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
Due: cpp_fortran, javascript, python

miam cam aerosol represetntations
  python/musica/examples/cam_aerosol_configs.py
Due: python

adding aerosol script and notebook
  .github/workflows/notebooks.yml
  tutorials/17. cam_aerosol_distributions.ipynb
Due: none

using kinetics for henrys law
  python/musica/examples/cam_aerosol_configs.py
  tutorials/17. cam_aerosol_distributions.ipynb
Due: python

codespell fix
  python/musica/examples/cam_aerosol_configs.py
Due: python

micm is agnostic to external model
  include/musica/miam/miam_builder.hpp
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/__init__.py
  python/musica/micm/micm.py
  python/test/integration/test_miam_cloud_chemistry.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

phase species reads diffusion coefficient and density
  cmake/dependencies.cmake
  python/bindings/mechanism_configuration/species.cpp
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
  python/musica/miam/constants.py
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/musica/miam/representations.py
  python/test/integration/test_miam_cloud_chemistry.py
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

add tutorials
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: none

update tutorials
  cmake/dependencies.cmake
  python/bindings/mechanism_configuration/aerosol.cpp
  python/musica/mechanism_configuration/aerosol/aerosol.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

fix the python errors
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/miam/test_miam_types.py
Due: python

declare in miam in the same style as micm and tuvx
  include/musica/miam/miam_builder.hpp
  python/musica/__init__.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/miam/__init__.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

Consolidate configuration parsing onto a single read path (#932)
  include/musica/configuration/emissions.hpp
  include/musica/configuration/parse.hpp
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  javascript/bindings/musica_wasm.cpp
  python/bindings/miam/miam.cpp
  python/bindings/micm/micm.cpp
  src/configuration/emissions.cpp
  src/configuration/parse.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/CMakeLists.txt
  src/test/unit/configuration/CMakeLists.txt
  src/test/unit/configuration/one_parse_many_converters.cpp
  src/test/unit/configuration/read_mechanism.cpp
  src/test/unit/miam/miam_builder.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/micm/parser.cpp
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran, javascript, python

code clean up
  cmake/dependencies.cmake
  python/test/integration/test_miam_cloud_chemistry.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

delete analysis purpose file
  python/test/integration/diagnose_dae_error.py
Due: python

replace arrhenius rate constant with arrhenius
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: none

revert back
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: none

update configs
  configs/v1/cam_cloud_chemistry/config.json
Due: none

version bump
  CMakeLists.txt
Due: none

enabling miam notebooks
  .github/workflows/notebooks.yml
Due: none

Consolidate configuration parsing onto a single read path (#932) (#940)
  include/musica/configuration/emissions.hpp
  include/musica/configuration/parse.hpp
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  javascript/bindings/musica_wasm.cpp
  python/bindings/miam/miam.cpp
  python/bindings/micm/micm.cpp
  src/configuration/emissions.cpp
  src/configuration/parse.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/CMakeLists.txt
  src/test/unit/configuration/CMakeLists.txt
  src/test/unit/configuration/one_parse_many_converters.cpp
  src/test/unit/configuration/read_mechanism.cpp
  src/test/unit/miam/miam_builder.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/micm/parser.cpp
  src/test/unit/miem/end_to_end.cpp
  src/test/unit/miem/end_to_end_nox.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran, javascript, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  src/test/unit/configuration/read_mechanism.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran

citation patch version
  CITATION.cff
Due: none

merge main
  src/miam/miam_builder.cpp
Due: cpp_fortran

version 0.16.1 (#941)
  .github/workflows/notebooks.yml
  CITATION.cff
  CMakeLists.txt
Due: none

Refactors MIAM to use species objects instead of string names (#937)
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  include/musica/miam/miam_builder.hpp
  include/musica/miam/miam_types.hpp
  python/bindings/mechanism_configuration/aerosol.cpp
  python/bindings/mechanism_configuration/species.cpp
  python/bindings/miam/miam.cpp
  python/musica/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
  python/musica/miam/__init__.py
  python/musica/miam/constants.py
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/musica/miam/representations.py
  python/musica/micm/micm.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/miam/miam_builder.hpp
  python/musica/micm/micm.py
  python/test/integration/test_miam_cloud_chemistry.py
  src/miam/miam_builder.cpp
  src/test/unit/configuration/read_mechanism.cpp
  src/test/unit/miam/miam_builder.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran, python

Add musica::EmissionsModel wrapper around miem
  include/musica/miem/emissions.hpp
  src/CMakeLists.txt
  src/miem/CMakeLists.txt
  src/miem/emissions.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_model_end_to_end.cpp
  src/test/unit/miem/emissions_model_end_to_end_nox.cpp
Due: cpp_fortran

update the config
  configs/v1/cam_cloud_chemistry/config.json
Due: none

Add mechanism configuration emissions types to python wrapper
  python/bindings/CMakeLists.txt
  python/bindings/mechanism_configuration/emissions.cpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/emissions/__init__.py
  python/musica/mechanism_configuration/emissions/emissions.py
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_emissions_types.py
Due: python

use equilibrium
  python/bindings/mechanism_configuration/aerosol.cpp
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/aerosol/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
