Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

correcting ci builds
  .dockerignore
  .github/workflows/julia.yml
  docker/Dockerfile.julia
Due: none

Updating julia packaging (#806)
  .dockerignore
  .github/workflows/julia.yml
  docker/Dockerfile.julia
  etc/Musica_jll/Project.toml
  etc/Musica_jll/README.md
  etc/Musica_jll/src/Musica_jll.jl
  julia/LICENSE
  julia/Project.toml
  julia/README.md
Due: none

Add severity classification to musica Error struct (#795)
  cmake/dependencies.cmake
  docker/Dockerfile
  fortran/micm/state.F90
  include/musica/error.hpp
  include/musica/util.hpp
  src/micm/micm_c_interface.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/util.cpp
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/profile.cpp
  src/tuvx/profile_map.cpp
  src/tuvx/radiator.cpp
  src/tuvx/radiator_map.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
  src/util.cpp
Due: cpp_fortran

Add severity classification to musica Error struct (#798)
  cmake/dependencies.cmake
  docker/Dockerfile
  fortran/micm/state.F90
  include/musica/error.hpp
  include/musica/util.hpp
  src/micm/micm_c_interface.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/util.cpp
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/profile.cpp
  src/tuvx/profile_map.cpp
  src/tuvx/radiator.cpp
  src/tuvx/radiator_map.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
  src/util.cpp
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/error.hpp
  include/musica/util.hpp
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/src/micm/conditions.jl
  julia/src/micm/micm.jl
  julia/src/micm/solver_parameters.jl
  julia/src/micm/solver_result.jl
  julia/src/micm/state.jl
  julia/test/runtests.jl
  src/micm/state_c_interface.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/profile_map.cpp
  src/tuvx/radiator_map.cpp
  src/util.cpp
Due: cpp_fortran

Adds calculate with lambda to wasm bindings
  javascript/bindings/musica_wasm.cpp
  javascript/mechanism_configuration/reaction_types.js
  javascript/tests/lambda_test.js
  javascript/tools/serve.js
Due: javascript

it parses
  javascript/mechanism_configuration/reaction_types.js
  javascript/tests/unit/lambda_rate_constant.test.js
Due: javascript

Starts adding mechanism configuration
  include/musica/micm/micm.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/micm/micm.js
  javascript/rate_function_registry.js
  javascript/tests/unit/lambda_rate_constant.test.js
  src/micm/micm.cpp
Due: cpp_fortran, javascript

Test passes
  cmake/dependencies.cmake
  include/musica/micm/lambda_callback.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/index.js
  javascript/micm/index.js
  javascript/micm/lambda_callbacks.js
  javascript/tests/unit/lambda_rate_constant.test.js
  src/micm/CMakeLists.txt
  src/micm/lambda_callback.cpp
  src/micm/micm.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran, javascript

Add lambda_rate example
  javascript/tools/serve.js
  javascript/wasm/index.html
Due: javascript

Added temperature and pressure variables
  cmake/dependencies.cmake
  javascript/wasm/index.html
Due: javascript

testing load from a branch
  .gitignore
  javascript/wasm/index.html
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

sensible defaults
  javascript/wasm/index.html
Due: javascript

using main
  javascript/wasm/index.html
Due: javascript

emscripten::val over lambda function registration
  include/musica/micm/lambda_callback.hpp
  include/musica/micm/micm.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/index.js
  javascript/micm/index.js
  javascript/micm/lambda_callbacks.js
  javascript/micm/micm.js
  javascript/rate_function_registry.js
  javascript/tests/unit/lambda_rate_constant.test.js
  javascript/wasm/index.html
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  src/micm/lambda_callback.cpp
  src/micm/micm.cpp
Due: cpp_fortran, javascript

raising exception when lambda not found
  javascript/wasm/musica.wasm
  src/micm/lambda_callback.cpp
Due: cpp_fortran, javascript

adding header
  src/micm/lambda_callback.cpp
Due: cpp_fortran

emscripten::val over lambda function registration (#809)
  include/musica/micm/lambda_callback.hpp
  include/musica/micm/micm.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/index.js
  javascript/micm/index.js
  javascript/micm/lambda_callbacks.js
  javascript/micm/micm.js
  javascript/rate_function_registry.js
  javascript/tests/unit/lambda_rate_constant.test.js
  javascript/wasm/index.html
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  src/micm/lambda_callback.cpp
  src/micm/micm.cpp
Due: cpp_fortran, javascript

updating example url
  javascript/wasm/index.html
Due: javascript

Removing things
  javascript/bindings/musica_wasm.cpp
  javascript/tests/lambda_test.js
  javascript/wasm/index.html
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

Add Lambda Rate Constant to MUSICA javascript (#807)
  .gitignore
  cmake/dependencies.cmake
  include/musica/micm/lambda_callback.hpp
  include/musica/micm/micm.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/mechanism_configuration/reaction_types.js
  javascript/micm/micm.js
  javascript/tests/unit/lambda_rate_constant.test.js
  javascript/tools/serve.js
  javascript/wasm/index.html
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  src/micm/CMakeLists.txt
  src/micm/lambda_callback.cpp
  src/micm/micm.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran, javascript

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/bindings/musica_wasm.cpp
  javascript/mechanism_configuration/reaction_types.js
  javascript/tests/unit/lambda_rate_constant.test.js
  javascript/wasm/musica.js
  src/micm/lambda_callback.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran, javascript

updating path to index
  javascript/wasm/index.html
Due: javascript

Correctig python docs
  .readthedocs.yaml
  docker/Dockerfile.docs
  docs/source/api/python.rst
  environment.yaml
Due: none

updating julia docs
  docs/source/api/julia.rst
Due: none

adding javascript docs
  .dockerignore
  .readthedocs.yaml
  docker/Dockerfile.docs
  docs/requirements.txt
  docs/source/api/index.rst
  docs/source/api/javascript.rst
  docs/source/conf.py
  javascript/micm/conditions.js
  javascript/micm/micm.js
  javascript/micm/state.js
  javascript/micm/utils.js
  jsdoc.json
  package.json
Due: javascript

correcting package-lock
  package-lock.json
Due: none

updating ecosystem, intershpinx
  docs/source/_static/ecosystem.png
  docs/source/api/index.rst
  docs/source/conf.py
Due: none

using more intershpinx
  docs/source/api/index.rst
  docs/source/api/javascript.rst
  docs/source/api/julia.rst
  docs/source/getting_started/fortran.rst
  docs/source/index.rst
  docs/source/tutorials/chapter2.rst
  docs/source/user_guide/model/index.rst
Due: none

Standardize user guide structure across all five languages
  docs/source/api/javascript.rst
  docs/source/getting_started/getting_started.rst
  docs/source/getting_started/javascript.rst
  docs/source/user_guide/cpp/index.rst
  docs/source/user_guide/fortran/index.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/javascript/index.rst
  docs/source/user_guide/julia/index.rst
  docs/source/user_guide/python/index.rst
Due: none

Add JavaScript dev setup, Docker docs build, and live demo page
  docs/source/getting_started/development.rst
  docs/source/getting_started/javascript.rst
  docs/source/user_guide/javascript/demo.rst
  docs/source/user_guide/javascript/index.rst
Due: none

loading example in docs
  docs/Makefile
  docs/source/user_guide/javascript/demo.rst
  docs/source/user_guide/javascript/widget.html
  javascript/wasm/index.html
  javascript/wasm/widget.html
Due: javascript

Fix ReadTheDocs build failures and improve widget layout
  docs/source/conf.py
  docs/source/user_guide/fortran/chapter1.rst
  docs/source/user_guide/fortran/chapter2.rst
  docs/source/user_guide/fortran/chapter3.rst
  docs/source/user_guide/javascript/widget.html
  javascript/wasm/widget.html
Due: javascript

Add chapter 0 tutorial
  configs/v1/analytical/config.json
  configs/v1/analytical/config.yaml
  docs/source/api/python.rst
  docs/source/user_guide/python/notebooks/index.rst
  python/musica/main.py
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/8. tuv-x_standard_configurations.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: python

removing duplicated documentaiton of python class attributes
  docs/source/api/python.rst
Due: none

814 update tutorials (#816)
  configs/v1/analytical/config.json
  configs/v1/analytical/config.yaml
  docs/source/api/python.rst
  docs/source/user_guide/python/notebooks/index.rst
  python/musica/main.py
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/8. tuv-x_standard_configurations.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/musica/mechanism_configuration/utils.py
Due: python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
