Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

Inline musica_setup_target into src/CMakeLists.txt
  cmake/setup_musica_target.cmake
  src/CMakeLists.txt
Due: cpp_fortran

applyig MUSICA_USE_PREBUILT only for cibuildwheel
  pyproject.toml
Due: none

Fix prebuilt musica dependencies for CARMA
  cmake/musicaConfig.cmake.in
Due: none

Add prebuilt musica support for faster Python wheel builds
  CMakeLists.txt
  cmake/dependencies.cmake
  pyproject.toml
  python/bindings/CMakeLists.txt
  python/tools/prepare_build_environment_linux.sh
  python/tools/repair_wheel_gpu.sh
Due: python

using different mech config hash
  cmake/dependencies.cmake
  src/cuda/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Implement type-erased MICM solvers with runtime CUDA loading
  cmake/setup_musica_target.cmake
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/cuda_loader.hpp
  include/musica/micm/micm.hpp
  include/musica/micm/solver_interface.hpp
  include/musica/micm/state.hpp
  include/musica/micm/state_interface.hpp
  python/bindings/CMakeLists.txt
  python/bindings/gpu.cpp
  python/bindings/micm/micm.cpp
  python/musica/backend.py
  src/CMakeLists.txt
  src/cuda/CMakeLists.txt
  src/cuda/cuda_factory.cpp
  src/cuda/cuda_solver.cpp
  src/micm/cpu_solver.cpp
  src/micm/cuda_availability.cpp
  src/micm/cuda_loader.cpp
  src/micm/micm.cpp
  src/micm/state.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, python

removing unused options, simplifying cmake
  CMakeLists.txt
  pyproject.toml
  python/bindings/CMakeLists.txt
  src/CMakeLists.txt
  src/carma/CMakeLists.txt
  src/micm/CMakeLists.txt
  src/tuvx/CMakeLists.txt
Due: cpp_fortran, python

Refactor CMake to use target_sources and link Python against musica
  cmake/setup_musica_target.cmake
  python/bindings/CMakeLists.txt
  src/CMakeLists.txt
Due: cpp_fortran, python

Add prebuilt musica support for Windows and macOS wheel builds
  pyproject.toml
  python/tools/prepare_build_environment_windows.sh
Due: python

Hide yaml-cpp from public API using opaque pointer
  include/musica/util.hpp
  src/util.cpp
Due: cpp_fortran

temporarily disable cli tests
  .claude/settings.local.json
Due: none

attempting to fix wheel and cmake build errors
  .github/workflows/ubuntu.yml
  pyproject.toml
Due: none

Fix macOS wheel delocate by bundling dylib files
  pyproject.toml
  python/bindings/CMakeLists.txt
  python/tools/repair_wheel_macos.sh
Due: python

Fix Windows duplicate symbol error by building yaml-cpp as shared lib
  cmake/dependencies.cmake
  python/bindings/CMakeLists.txt
  python/tools/repair_wheel_windows.sh
Due: python

trying to fix yaml links
  cmake/dependencies.cmake
  python/bindings/CMakeLists.txt
Due: python

correcting wheel repair
  python/tools/repair_wheel_gpu.sh
Due: python

not building carma on windows arm
  .claude/settings.local.json
  pyproject.toml
  python/tools/prepare_build_environment_windows.sh
Due: python

bundling sources
  python/bindings/CMakeLists.txt
  python/test/integration/test_analytical.py
  src/cuda/CMakeLists.txt
Due: cpp_fortran, python

adding build shared libs option
  CMakeLists.txt
  cmake/dependencies.cmake
  python/bindings/CMakeLists.txt
  python/test/integration/test_analytical.py
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
  src/CMakeLists.txt
  src/cuda/CMakeLists.txt
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran, python

correcting javascript bindings, enabling carma?
  javascript/CMakeLists.txt
  javascript/bindings/musica_wasm.cpp
  pyproject.toml
Due: javascript

installing libraries when not prebuilt
  python/bindings/CMakeLists.txt
Due: python

logging
  .gitignore
  fortran/test/integration/test_micm_api.F90
Due: cpp_fortran

removing python build from linux runner
  .github/workflows/ubuntu.yml
Due: none

removing python builds from other tests
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Due: none

micm conditions correction
  cmake/dependencies.cmake
  fortran/micm/state.F90
Due: cpp_fortran

Fix Windows wheel repair by installing DLLs to bin/
  python/tools/prepare_build_environment_windows.sh
  src/packaging/CMakeLists.txt
Due: cpp_fortran, python

correcing nvidia dockerfile
  docker/Dockerfile.nvhpc
Due: none

bumping version
  CMakeLists.txt
Due: none

Add Fortran TUV-x v5.4 example and integration test
  fortran/CMakeLists.txt
  fortran/examples/CMakeLists.txt
  fortran/examples/tuvx_v54.F90
  fortran/examples/tuvx_v54_setup.F90
Due: cpp_fortran

Add CSV output to Python TUV-x v5.4 example for cross-language comparison
  python/musica/examples/tuvx_5_4.py
Due: python

Add coupled TUV-x + MICM column model (Python + Fortran)
  PLAN.md
  fortran/examples/CMakeLists.txt
  fortran/examples/column_model.F90
  fortran/examples/column_model_setup.F90
  python/musica/examples/column_model.py
  utils/plot/plot_column_model.py
  utils/plot/plot_tuvx_v54.py
Due: cpp_fortran, python

Add NCAR-styled plots with ppm/ppb units and PDF output
  fortran/examples/column_model.F90
  utils/plot/plot_column_model.py
  utils/plot/style.py
Due: cpp_fortran

Add detailed documentation for Fortran column model example
  fortran/examples/column_model.md
Due: cpp_fortran

Add column model result plots (PNG + PDF)
  fortran/examples/column_model_results.pdf
  fortran/examples/column_model_results.png
Due: cpp_fortran

Add Fortran Chapman column-model examples and CMake test wiring
  fortran/CMakeLists.txt
  fortran/examples/CMakeLists.txt
  fortran/examples/column_model.F90
  fortran/examples/column_model_setup.F90
  fortran/examples/tuvx_v54.F90
  fortran/examples/tuvx_v54_setup.F90
Due: cpp_fortran

bumping mech config tag
  cmake/dependencies.cmake
Due: none

adding const
  include/musica/micm/cuda_loader.hpp
  src/micm/cuda_loader.cpp
Due: cpp_fortran

Fix CudaLoader thread safety with std::call_once (#777)
  cmake/dependencies.cmake
  include/musica/micm/cuda_loader.hpp
  src/micm/cuda_loader.cpp
Due: cpp_fortran

Fix ODR violation in CUDA plugin by separating header from implementation (#779)
  src/cuda/cuda_factory.cpp
  src/cuda/cuda_solver.cpp
  src/cuda/cuda_solver.hpp
Due: cpp_fortran
