Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

update for MIAM's new linear constraint option
  .gitignore
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: cpp_fortran, python

Update MICM dependency to micm_claude_work branch for AddForcingTerms export
  cmake/dependencies.cmake
Due: none

adding pkg config to path
  binder/environment.yml
  binder/postBuild
Due: none

installing if exists
  python/bindings/CMakeLists.txt
Due: python

installing yaml-cpp explicitly
  binder/environment.yml
  python/bindings/CMakeLists.txt
Due: python

again
  python/bindings/CMakeLists.txt
Due: python

it works, updating branch
  README.md
Due: none

Binder update (#844)
  README.md
  binder/environment.yml
  binder/postBuild
  python/bindings/CMakeLists.txt
Due: python

musica severity
  include/musica/error.hpp
  include/musica/util.hpp
  src/micm/micm_c_interface.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/util.cpp
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/profile.cpp
  src/tuvx/profile_map.cpp
  src/tuvx/radiator.cpp
  src/tuvx/radiator_map.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
  src/util.cpp
Due: cpp_fortran

use macro for success code
  fortran/test/unit/util.F90
  fortran/util.F90
  include/musica/error.hpp
  python/bindings/tuvx/grid_map.cpp
  python/bindings/tuvx/profile_map.cpp
  python/bindings/tuvx/radiator_map.cpp
  src/test/unit/util.cpp
  src/tuvx/interface_util.F90
  src/util.cpp
Due: cpp_fortran, python

fix fortran abi mismatch for error struct
  fortran/util.F90
  src/tuvx/interface_util.F90
Due: cpp_fortran

remove tuvx util that contains duplicate code in musica util
  fortran/util.F90
  src/CMakeLists.txt
  src/tuvx/CMakeLists.txt
  src/tuvx/interface.F90
  src/tuvx/interface_grid.F90
  src/tuvx/interface_profile.F90
  src/tuvx/interface_radiator.F90
  src/tuvx/interface_util.F90
Due: cpp_fortran

fix a bug in test
  fortran/test/unit/util.F90
  src/test/unit/util.cpp
Due: cpp_fortran

trying to support a ufs build
  cmake/dependencies.cmake
  src/CMakeLists.txt
Due: cpp_fortran

removing yaml-cpp workaround
  cmake/dependencies.cmake
Due: none

Fix Fortran ABI mismatch in MUSICA error struct (#845)
  fortran/test/unit/util.F90
  fortran/util.F90
  include/musica/error.hpp
  include/musica/util.hpp
  python/bindings/tuvx/grid_map.cpp
  python/bindings/tuvx/profile_map.cpp
  python/bindings/tuvx/radiator_map.cpp
  src/CMakeLists.txt
  src/micm/micm_c_interface.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/util.cpp
  src/tuvx/CMakeLists.txt
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/interface.F90
  src/tuvx/interface_grid.F90
  src/tuvx/interface_profile.F90
  src/tuvx/interface_radiator.F90
  src/tuvx/interface_util.F90
  src/tuvx/profile.cpp
  src/tuvx/profile_map.cpp
  src/tuvx/radiator.cpp
  src/tuvx/radiator_map.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
  src/util.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/error.hpp
  src/micm/state_c_interface.cpp
  src/test/unit/util.cpp
  src/tuvx/tuvx.cpp
Due: cpp_fortran

add handling error helper function
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/error.cpp
  python/bindings/error.hpp
Due: python

update the usage
  python/bindings/error.cpp
  python/bindings/error.hpp
  python/bindings/micm/micm.cpp
  python/bindings/tuvx/grid.cpp
  python/bindings/tuvx/grid_map.cpp
  python/bindings/tuvx/profile.cpp
  python/bindings/tuvx/profile_map.cpp
  python/bindings/tuvx/radiator.cpp
  python/bindings/tuvx/radiator_map.cpp
  python/bindings/tuvx/tuvx.cpp
Due: python

update the delet error
  python/bindings/error.cpp
  python/bindings/error.hpp
  src/util.cpp
Due: cpp_fortran, python

update miam and micm
  .gitignore
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

feat(state): add SetRelativeTolerance API for tuning adaptive solver
  fortran/micm/state.F90
  include/musica/micm/state_c_interface.hpp
  src/micm/state_c_interface.cpp
Due: cpp_fortran

update tutorials and add tests
  .github/prompts/cam_cloud_chemistry_status.md
  .github/prompts/dae_algebraic_overshoot.md
  .github/prompts/notes_on_cloud_chem.md
  check_nb_errors.py
  configs/v1/cam_cloud_chemistry/config.json
  debug_total_s_constraint.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  src/test/unit/miam/miam_builder.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

update to latest MICM and MIAM
  .github/issues/rosenbrock_dae_algebraic_error.md
  .github/prompts/cam_cloud_chemistry_status.md
  .github/prompts/dae_algebraic_overshoot.md
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  src/miam/miam_builder.cpp
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

update cam cloud chemistry tutorial
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

update MIAM
  .github/prompts/miam_max_halflife_nan_bug.md
  cmake/dependencies.cmake
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

tune cloud chemistry in tutorial
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

remove accidental submodule
  .gitignore
Due: none

update parameter name
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/model.py
  python/musica/miam/processes.py
  src/miam/miam_builder.cpp
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

runtime error
  python/bindings/error.cpp
  python/bindings/error.hpp
Due: python

remove bug
  python/bindings/tuvx/grid_map.cpp
Due: python

Update python/bindings/tuvx/grid_map.cpp
  python/bindings/tuvx/grid_map.cpp
Due: python

error handling
  python/bindings/error.cpp
  python/bindings/error.hpp
Due: python

add unit test
  python/bindings/error.cpp
Due: python

add unit test files
  python/test/unit/test_error_handling.py
Due: python

clean up
  python/test/unit/test_error_handling.py
Due: python

fix a binder error
  binder/environment.yml
Due: none

remove the tests
  python/test/unit/test_error_handling.py
Due: python

remove 32 bit that causes docker failure
  .github/workflows/python-wheels.yml
Due: none

add dependencies for musica
  binder/environment.yml
Due: none
