Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/bindings/musica_julia.cpp
  julia/test/runtests.jl
Due: none

util update
  python/musica/mechanism_configuration/utils.py
  python/test/unit/mechanism_configuration/test_utils.py
Due: python

Add Julia in-code mechanism configuration interface (#915)
  docs/source/api/julia.rst
  docs/source/user_guide/julia/index.rst
  julia/Project.toml
  julia/src/Musica.jl
  julia/src/mechanism_configuration/mechanism.jl
  julia/src/mechanism_configuration/mechanism_configuration.jl
  julia/src/mechanism_configuration/reaction_types.jl
  julia/src/mechanism_configuration/types.jl
  julia/test/runtests.jl
  julia/test/test_mechanism_configuration.jl
Due: none

Add Windows CI job to test netCDF lazy-S3-init fix
  .github/workflows/test_windows_netcdf_s3_fix.yml
Due: none

Install git in MSYS2 for netCDF clone step
  .github/workflows/test_windows_netcdf_s3_fix.yml
Due: none

Install m4 for netCDF source generation
  .github/workflows/test_windows_netcdf_s3_fix.yml
Due: none

Disable NCZarr ZIP (needs libzip) and DAP in netCDF test build
  .github/workflows/test_windows_netcdf_s3_fix.yml
Due: none

Add Julia in-code mechanism configuration interface (#915) (#916)
  docs/source/api/julia.rst
  docs/source/user_guide/julia/index.rst
  julia/Project.toml
  julia/src/Musica.jl
  julia/src/mechanism_configuration/mechanism.jl
  julia/src/mechanism_configuration/mechanism_configuration.jl
  julia/src/mechanism_configuration/reaction_types.jl
  julia/src/mechanism_configuration/types.jl
  julia/test/runtests.jl
  julia/test/test_mechanism_configuration.jl
Due: none

using new mech config in python
  COMMIT_MESSAGE.md
  pyproject.toml
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/bindings/micm/micm.cpp
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/ancillary.py
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/parse.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/reaction_component.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/mechanism_configuration/test_parser.py
  python/test/unit/mechanism_configuration/test_serializer.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
  python/test/unit/miam/test_miam_types.py
Due: python

correcting tests
  COMMIT_MESSAGE.md
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

before undoing conversion of all types to user defined
  CMakeLists.txt
  configs/v1/full_configuration/full_configuration.json
  configs/v1/full_configuration/full_configuration.yaml
  include/musica/micm/parse.hpp
  src/micm/CMakeLists.txt
  src/micm/convert_v0_to_v1.cpp
  src/micm/parse.cpp
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

starting to convert
  cmake/dependencies.cmake
  include/musica/micm/parse.hpp
  src/micm/convert_v0_to_v1.cpp
  src/micm/parse.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran

installing fmt
  docker/Dockerfile.julia
  python/bindings/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran, python

turning off fmt
  CMakeLists.txt
  cmake/dependencies.cmake
  pyproject.toml
Due: none

thing
  src/packaging/CMakeLists.txt
Due: cpp_fortran

disabling fmt, miam in prebuild
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
Due: python

use homebrew's gcc when build mac wheel
  python/tools/prepare_build_environment_macos.sh
Due: python

turning off fmt for julia
  .github/workflows/julia.yml
  docker/Dockerfile.julia
  julia/bindings/musica_julia.cpp
Due: none

correcting main.py convert
  python/musica/main.py
Due: python

fixing chapman example
  python/musica/examples/chapman.py
Due: python

maybe not necessary now that fmt is private
  docker/Dockerfile.nvhpc
  python/bindings/CMakeLists.txt
  python/musica/main.py
  src/packaging/CMakeLists.txt
Due: cpp_fortran, python

need it in pacakging i guess
  src/packaging/CMakeLists.txt
Due: cpp_fortran

trying to pin to macos15
  .github/workflows/python-wheels.yml
  .github/workflows/ubuntu.yml
Due: none

maybe newer c++ library version
  .github/workflows/ubuntu.yml
Due: none

trying to fix nvhpc build failure
  docker/Dockerfile.nvhpc
  src/test/unit/micm/micm_c_api.cpp
Due: cpp_fortran

correcting julia, javascript
  javascript/mechanism_configuration/reaction_types.js
  javascript/tests/unit/first_order_loss_products.test.js
  julia/src/mechanism_configuration/reaction_types.jl
  julia/test/test_mechanism_configuration.jl
Due: javascript

adding notebook testing
  .github/workflows/notebooks.yml
  cmake/dependencies.cmake
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/10. chapman.ipynb
  tutorials/11. ts1_box_model.ipynb
Due: none

correcting species name across python/julia/javascript
  .github/workflows/notebooks.yml
  javascript/mechanism_configuration/types.js
  javascript/tests/unit/reaction_component_name_alias.test.js
  julia/src/mechanism_configuration/types.jl
  julia/test/test_mechanism_configuration.jl
  python/musica/mechanism_configuration/utils.py
Due: javascript, python

syntax
  .github/workflows/notebooks.yml
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/micm/parse.hpp
  javascript/tests/unit/first_order_loss_products.test.js
  julia/bindings/musica_julia.cpp
  julia/src/mechanism_configuration/types.jl
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/parse.py
  python/test/unit/miam/test_miam_types.py
  src/micm/parse.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran, javascript, python

enabling more memory checks
  .github/workflows/docker.yml
  docker/Dockerfile.asan
  docker/Dockerfile.memcheck
Due: none

adding asan lib
  docker/Dockerfile.asan
Due: none

use explicit enum type to prevent undefined behavior
  include/musica/micm/micm.hpp
Due: cpp_fortran

Generate top-level index.d.ts and add `types` field (#888)
  .gitignore
  package.json
  tsconfig.json
Due: none

Expose reaction `.type` and document JS mechanism config (#888)
  .gitignore
  docs/source/api/javascript.rst
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/tests/unit/reaction_types.test.js
  package-lock.json
  package.json
  tsconfig.json
Due: javascript

Exclude configs/tuvx from the JS package (#888)
  package.json
Due: none

comment
  javascript/tests/unit/reaction_types.test.js
Due: javascript

Make .d.ts generation run on pack/install and be idempotent (#888)
  package.json
Due: none

thing
  javascript/index.js
Due: javascript

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
