Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

fix deallocation issue in fortran
  fortran/test/unit/util.F90
  fortran/util.F90
Due: cpp_fortran

adding mech config tag
  cmake/dependencies.cmake
Due: none

Stamp v1 version when converting a v0 config with musica-cli (#983)
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  python/musica/main.py
  python/test/unit/mechanism_configuration/test_parser.py
Due: python

fix deallocation issue in fortran (#984)
  fortran/test/unit/util.F90
  fortran/util.F90
Due: cpp_fortran

using mech config tag that can parse photolysis reactions from v0
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
Due: none

Support photolysis reactions with no reactants
  cmake/dependencies.cmake
  python/musica/mechanism_configuration/reactions/photolysis.py
  python/test/unit/mechanism_configuration/test_parser.py
Due: python

Handle list-valued photolysis reactants in the Python wrapper
  python/musica/mechanism_configuration/reactions/photolysis.py
  python/test/unit/mechanism_configuration/test_parser.py
Due: python

using mech config tag that can parse photolysis reactions from v0 (#987)
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  python/musica/mechanism_configuration/reactions/photolysis.py
  python/test/unit/mechanism_configuration/test_parser.py
Due: python

Build miem C/Fortran interface
  configs/miem/nox_emissions_config.yaml
  configs/miem/single_cell_no_emissions.yaml
  configs/miem/single_cell_no_surface.nc
  fortran/CMakeLists.txt
  fortran/examples/CMakeLists.txt
  fortran/examples/miem_nox_box_model.F90
  fortran/miem/CMakeLists.txt
  fortran/miem/emissions.F90
  fortran/test/integration/CMakeLists.txt
  fortran/test/integration/test_emissions_api.F90
  include/musica/configuration/read_mechanism_c_interface.hpp
  include/musica/miem/emissions.hpp
  include/musica/miem/emissions_c_interface.hpp
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  src/configuration/CMakeLists.txt
  src/configuration/read_mechanism_c_interface.cpp
  src/miem/CMakeLists.txt
  src/miem/emissions.cpp
  src/miem/emissions_c_interface.cpp
  src/test/unit/configuration/CMakeLists.txt
  src/test/unit/configuration/read_mechanism_c_interface.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

Add real-fixture NOx box model for the Fortran/miem interface
  configs/miem/nox_real_fixture_emissions_config.yaml
  fortran/examples/CMakeLists.txt
  fortran/examples/miem_nox_box_model_real_fixture.F90
Due: cpp_fortran

Replace ts1.json EMISSION splice with a standalone miem_nox mechanism config
  configs/v1/miem_nox/initial_conditions.csv
  configs/v1/miem_nox/mechanism.json
  fortran/examples/CMakeLists.txt
  fortran/examples/miem_nox_box_model.F90
  fortran/examples/miem_nox_box_model_real_fixture.F90
Due: cpp_fortran

update micm hash
  cmake/dependencies.cmake
Due: none

Trim overly verbose comments in miem C/Fortran interface
  fortran/examples/CMakeLists.txt
  fortran/examples/miem_nox_box_model.F90
  include/musica/configuration/read_mechanism_c_interface.hpp
  include/musica/miem/emissions_c_interface.hpp
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

Enable MIEM in CI Docker builds
  docker/Dockerfile
  docker/Dockerfile.coverage
Due: none

Enable MIEM in native ubuntu/mac/windows CI legs
  .github/workflows/mac.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Due: none

Move GetSurfaceFluxStrides's Error* parameter to the end
  fortran/miem/emissions.F90
  include/musica/miem/emissions_c_interface.hpp
  src/miem/emissions_c_interface.cpp
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

Re-export mechanism_configuration types through the namespace
  javascript/mechanism_configuration/index.js
Due: javascript

Re-export mechanism_configuration types through the namespace (#996)
  javascript/mechanism_configuration/index.js
Due: javascript

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/mechanism_configuration/index.js
Due: javascript

Turn MIEM back off for the Windows MSYS2 fortran CI leg
  .github/workflows/windows.yml
Due: none

Build miem C/Fortran interface (#990)
  .github/workflows/mac.yml
  .github/workflows/ubuntu.yml
  configs/miem/nox_emissions_config.yaml
  configs/miem/nox_real_fixture_emissions_config.yaml
  configs/miem/single_cell_no_emissions.yaml
  configs/miem/single_cell_no_surface.nc
  configs/v1/miem_nox/initial_conditions.csv
  configs/v1/miem_nox/mechanism.json
  docker/Dockerfile
  docker/Dockerfile.coverage
  fortran/CMakeLists.txt
  fortran/examples/CMakeLists.txt
  fortran/examples/miem_nox_box_model.F90
  fortran/examples/miem_nox_box_model_real_fixture.F90
  fortran/miem/CMakeLists.txt
  fortran/miem/emissions.F90
  fortran/test/integration/CMakeLists.txt
  fortran/test/integration/test_emissions_api.F90
  include/musica/configuration/read_mechanism_c_interface.hpp
  include/musica/miem/emissions.hpp
  include/musica/miem/emissions_c_interface.hpp
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  src/configuration/CMakeLists.txt
  src/configuration/read_mechanism_c_interface.cpp
  src/miem/CMakeLists.txt
  src/miem/emissions.cpp
  src/miem/emissions_c_interface.cpp
  src/test/unit/configuration/CMakeLists.txt
  src/test/unit/configuration/read_mechanism_c_interface.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  src/miem/emissions_c_interface.cpp
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

test matt's changes
  cmake/dependencies.cmake
Due: none

Add CAMS+FINN all-species MIEM MVP demo (closes #991)
  configs/miem/cams_finn_all_species_emissions_config.yaml
  configs/miem/x1.163842_2024_cams_anth_ammonia_subset.nc
  configs/miem/x1.163842_2024_cams_anth_black-carbon_subset.nc
  configs/miem/x1.163842_2024_cams_anth_carbon-monoxide_subset.nc
  configs/miem/x1.163842_2024_cams_anth_isoprene_subset.nc
  configs/miem/x1.163842_2024_cams_anth_monoterpenes_subset.nc
  configs/miem/x1.163842_2024_cams_anth_organic-carbon_subset.nc
  configs/miem/x1.163842_2024_cams_anth_sulfur-dioxide_subset.nc
  configs/miem/x1.163842_2024_cams_biog_alpha-pinene_subset.nc
  configs/miem/x1.163842_2024_cams_biog_beta-pinene_subset.nc
  configs/miem/x1.163842_2024_cams_biog_carbon-monoxide_subset.nc
  configs/miem/x1.163842_2024_cams_biog_isoprene_subset.nc
  configs/miem/x1.163842_2024_cams_biog_other-monoterpenes_subset.nc
  configs/miem/x1.163842_2024_finn_subset.nc
  python/musica/examples/miem_cams_finn_box_model_real_fixture.py
  python/musica/examples/miem_cams_finn_shared.py
  python/test/unit/miem/test_cams_finn_all_species_real_fixtures.py
Due: python

use jian changes
  cmake/dependencies.cmake
Due: none

Add a global surface chemistry WASM example
  docs/Makefile
  docs/source/user_guide/javascript/global_demo.rst
  docs/source/user_guide/javascript/index.rst
  javascript/README.md
  javascript/wasm/global.html
  javascript/wasm/global_widget.html
  package.json
Due: javascript

Add parseMechanism bindings: config (v0/v1) -> plain JS object
  javascript/bindings/mechanism_to_val.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/parse.js
  javascript/tests/unit/parse_mechanism.test.js
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

Add parseMechanism bindings: config (v0/v1) -> plain JS object (#1000)
  javascript/bindings/mechanism_to_val.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/parse.js
  javascript/tests/unit/parse_mechanism.test.js
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/bindings/musica_wasm.cpp
  javascript/tests/unit/parse_mechanism.test.js
  javascript/wasm/musica.js
  src/miem/emissions_c_interface.cpp
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran, javascript

Fix FINN units and split NOx in the CAMS+FINN emissions demo
  configs/miem/cams_finn_all_species_emissions_config.yaml
  python/musica/examples/miem_cams_finn_box_model_real_fixture.py
  python/musica/examples/miem_cams_finn_shared.py
  python/test/unit/miem/test_cams_finn_all_species_real_fixtures.py
Due: python

fix: export musica-fortran static link closure
  cmake/musica-fortran.pc.in
  fortran/packaging/CMakeLists.txt
Due: cpp_fortran

build: record dependency revisions in pkg-config
  cmake/musica-fortran.pc.in
  fortran/packaging/CMakeLists.txt
Due: cpp_fortran

fix: order NetCDF in static Fortran closure
  cmake/musica-fortran.pc.in
  fortran/packaging/CMakeLists.txt
Due: cpp_fortran

build: record Fortran compiler ABI metadata
  cmake/musica-fortran.pc.in
Due: none

build: pin MIEM scalability dependencies
  cmake/dependencies.cmake
Due: none

feat: expose MIEM scalability in C++ wrapper
  include/musica/miem/emissions.hpp
  src/configuration/emissions.cpp
  src/miem/emissions.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_model_scalability.cpp
  src/test/unit/miem/parser.cpp
Due: cpp_fortran

feat: expose MIEM scalability through C ABI
  include/musica/miem/emissions_c_interface.hpp
  src/miem/emissions_c_interface.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

feat: expose MIEM scalability in Fortran
  fortran/miem/emissions.F90
  fortran/test/integration/CMakeLists.txt
  fortran/test/integration/generate_emissions_fixture.cpp
  fortran/test/integration/selected_emissions_config.yaml.in
  fortran/test/integration/test_emissions_api.F90
  include/musica/miem/emissions_c_interface.hpp
  src/miem/emissions_c_interface.cpp
  src/test/unit/miem/emissions_c_api.cpp
Due: cpp_fortran

Separate CAMS+FINN fixtures from config, drop CWD dependency in emissions path resolution
  configs/miem/cams_finn_all_species_emissions_config.yaml
  configs/miem/data/x1.163842_2024_cams_anth_ammonia_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_black-carbon_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_carbon-monoxide_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_isoprene_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_monoterpenes_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_organic-carbon_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_sulfur-dioxide_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_alpha-pinene_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_beta-pinene_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_carbon-monoxide_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_isoprene_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_other-monoterpenes_subset.nc
  configs/miem/data/x1.163842_2024_finn_subset.nc
  python/musica/examples/miem_cams_finn_box_model_real_fixture.py
  python/musica/examples/miem_cams_finn_shared.py
  python/test/unit/miem/test_cams_finn_all_species_real_fixtures.py
Due: python

Add CAMS+FINN all-species MIEM MVP demo (#1002)
  configs/miem/cams_finn_all_species_emissions_config.yaml
  configs/miem/data/x1.163842_2024_cams_anth_ammonia_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_black-carbon_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_carbon-monoxide_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_isoprene_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_monoterpenes_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_organic-carbon_subset.nc
  configs/miem/data/x1.163842_2024_cams_anth_sulfur-dioxide_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_alpha-pinene_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_beta-pinene_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_carbon-monoxide_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_isoprene_subset.nc
  configs/miem/data/x1.163842_2024_cams_biog_other-monoterpenes_subset.nc
  configs/miem/data/x1.163842_2024_finn_subset.nc
  python/musica/examples/miem_cams_finn_box_model_real_fixture.py
  python/musica/examples/miem_cams_finn_shared.py
  python/test/unit/miem/test_cams_finn_all_species_real_fixtures.py
Due: python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
