Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

zeroing more arrays
  src/carma/interface.F90
Due: cpp_fortran

removing useless carma test
  python/test/integration/test_carma.py
Due: python

Make find_package(musica) define musica-fortran and fix the spack recipe
  .github/spack/spack_repo/ncar/packages/musica/package.py
  cmake/musicaConfig.cmake.in
  fortran/README.md
  src/test/spack/CMakeLists.txt
Due: cpp_fortran

zeroing more arrays (#1067)
  python/test/integration/test_carma.py
  src/carma/interface.F90
Due: cpp_fortran, python

Make find_package(musica) define musica-fortran and fix the spack recipe (#1068)
  .github/spack/spack_repo/ncar/packages/musica/package.py
  cmake/musicaConfig.cmake.in
  fortran/README.md
  src/test/spack/CMakeLists.txt
Due: cpp_fortran

patch version update
  CITATION.cff
  CMakeLists.txt
  package.json
Due: none

patch version update (#1069)
  CITATION.cff
  CMakeLists.txt
  package.json
Due: none
