Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

update miam tag
  cmake/dependencies.cmake
  src/miam/miam_builder.cpp
Due: cpp_fortran

Add serialize()/export() support for emissions, per review
  configs/v1/full_configuration/full_configuration.json
  configs/v1/full_configuration/full_configuration.yaml
  python/musica/mechanism_configuration/emissions/emissions.py
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
Due: python

Add mechanism configuration emissions types to python wrapper (#955)
  configs/v1/full_configuration/full_configuration.json
  configs/v1/full_configuration/full_configuration.yaml
  python/bindings/CMakeLists.txt
  python/bindings/mechanism_configuration/emissions.cpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/emissions/__init__.py
  python/musica/mechanism_configuration/emissions/emissions.py
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_emissions_types.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
Due: python

Add musica::EmissionsModel wrapper around miem (#954)
  include/musica/miem/emissions.hpp
  src/CMakeLists.txt
  src/miem/CMakeLists.txt
  src/miem/emissions.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_model_end_to_end.cpp
  src/test/unit/miem/emissions_model_end_to_end_nox.cpp
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/bindings/mechanism_configuration/emissions.cpp
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/miem/emissions.hpp
  src/miem/emissions.cpp
Due: cpp_fortran

fix mech config
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  python/musica/mechanism_configuration/aerosol/aerosol.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

fix bugs
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: python

Build miem python bindings
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/miem/miem.cpp
  python/musica/__init__.py
  python/musica/backend.py
  python/musica/examples/miem_nox_box_model.py
  python/musica/miem/__init__.py
  python/musica/miem/emissions.py
  python/test/unit/miem/test_emissions.py
  tutorials/17. miem_nox_box_model.ipynb
Due: python

update the tag
  cmake/dependencies.cmake
Due: none

fix an error in tutorial
  tutorials/15. miam_processes_and_constraints.ipynb
Due: none

Fix invalid DEALLOCATE in TUVX/CARMA GetVersion, fix box model tutorial datetime64 bug
  python/musica/examples/miem_nox_box_model.py
  src/carma/interface.F90
  src/tuvx/interface.F90
Due: cpp_fortran, python

fix error
  .github/workflows/windows.yml
  python/test/integration/test_miam_cloud_chemistry.py
Due: python

Add real-fixture variant of the miem NOx box-model tutorial
  configs/miem/x1.163842_2024_nox_subset.nc
  python/musica/examples/miem_nox_box_model_real_fixture.py
Due: python

tutorial formatting
  tutorials/15. miam_processes_and_constraints.ipynb
Due: none

Enable MUSICA_ENABLE_MIEM in pip build so miem bindings actually compile
  pyproject.toml
Due: none

Fix datetime64 ValueError in miem_nox_box_model tutorial notebook
  tutorials/17. miem_nox_box_model.ipynb
Due: none

Create CAM aerosol configurations compatible with aerosol microphysics packages (#936)
  python/musica/examples/cam_aerosol_configs.py
  tutorials/17. cam_aerosol_distributions.ipynb
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/miem/emissions.hpp
  python/musica/examples/cam_aerosol_configs.py
  src/miem/emissions.cpp
Due: cpp_fortran, python

Rename Arrhenius reference temperature to Equilibrium (#957)
  .github/workflows/windows.yml
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  python/bindings/mechanism_configuration/aerosol.cpp
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/aerosol/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

Enable MUSICA_ENABLE_MIEM in wheel-build prebuild scripts
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
Due: python

Fix Windows wheel build: hint miem's netCDF discovery at MSYS2's prefix
  python/tools/prepare_build_environment_windows.sh
Due: python

add o3 oxidation pathway to the config
  configs/v1/cam_cloud_chemistry/config.json
Due: none

Point MIEM_GIT_TAG at NCAR/miem#22 to test Windows netCDF discovery fix
  cmake/dependencies.cmake
  python/tools/prepare_build_environment_windows.sh
Due: python

add integratin tests
  python/test/integration/test_miam_cloud_chemistry_config.py
  src/test/unit/miam/CMakeLists.txt
  src/test/unit/miam/parser.cpp
Due: cpp_fortran, python

clean up comments
  src/test/unit/miam/parser.cpp
Due: cpp_fortran

fix cam aerosol configs that are based on the old version
  python/musica/examples/cam_aerosol_configs.py
  tutorials/17. cam_aerosol_distributions.ipynb
Due: python

Update GHA versions
  .github/workflows/clang_tidy.yml
  .github/workflows/close_stale_issues.yml
  .github/workflows/codespell.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/javascript.yml
  .github/workflows/julia.yml
  .github/workflows/mac.yml
  .github/workflows/notebooks.yml
  .github/workflows/pages.yml
  .github/workflows/python-wheels.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Due: none

Add Dependabot config for GHAs
  .github/dependabot.yml
Due: none

Fix Windows YAML parse failure in miem file-based emissions test
  python/test/unit/miem/test_emissions.py
Due: python

Update GitHub Actions (#964)
  .github/dependabot.yml
  .github/workflows/clang_tidy.yml
  .github/workflows/close_stale_issues.yml
  .github/workflows/codespell.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/javascript.yml
  .github/workflows/julia.yml
  .github/workflows/mac.yml
  .github/workflows/notebooks.yml
  .github/workflows/pages.yml
  .github/workflows/python-wheels.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Due: none

update mech tag
  cmake/dependencies.cmake
Due: none

Add cloud chemistry integration test that reads and parses the aerosol configuration (#963)
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  python/musica/examples/cam_aerosol_configs.py
  python/test/integration/test_miam_cloud_chemistry_config.py
  src/test/unit/miam/CMakeLists.txt
  src/test/unit/miam/parser.cpp
  tutorials/17. cam_aerosol_distributions.ipynb
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/test/integration/test_miam_cloud_chemistry_config.py
Due: python

Add serialize/export to aerosol mechanism configuration objects
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/mechanism_configuration/test_serializer.py
Due: python

add mam error code
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  python/bindings/miam/miam.cpp
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

Add serialize/export to aerosol mechanism configuration objects (#967)
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/mechanism_configuration/test_serializer.py
Due: python

add the missing so4 to the sulfur budget
  python/test/integration/test_miam_cloud_chemistry.py
Due: python

Bound wheel-build job timeout and add pytest watchdog for CI hang diagnosis
  .github/workflows/python-wheels.yml
  pyproject.toml
  python/tools/run_pytest_with_watchdog.py
Due: python
