Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

fix a bug
  python/bindings/micm/solver.cpp
Due: python

add comments
  python/test/integration/test_miam_cloud_chemistry.py
Due: python

drop apostrophe in henry's law constant
  debug_total_s_constraint.py
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/__init__.py
  python/musica/miam/constants.py
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

set the representation name for dissolved reaction
  cmake/dependencies.cmake
  debug_total_s_constraint.py
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

use uppercase for parameters
  python/bindings/CMakeLists.txt
  python/bindings/micm/solver.cpp
  python/musica/miam/constants.py
  python/musica/miam/model.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
Due: python

update the tags
  cmake/dependencies.cmake
Due: none

fix bugs
  src/micm/v1_parse.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran

remove 19.1.0 from the clang matrix for window ci
  .github/workflows/windows.yml
Due: none

Review Initial MIAM Integration PR for MUSICA (#893)
  .github/workflows/windows.yml
  cmake/dependencies.cmake
  debug_total_s_constraint.py
  include/musica/miam/miam_types.hpp
  python/bindings/CMakeLists.txt
  python/bindings/miam/miam.cpp
  python/bindings/micm/solver.cpp
  python/musica/miam/__init__.py
  python/musica/miam/constants.py
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
  src/micm/v1_parse.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

docker: address review on Dockerfile (fedora:latest, drop lcov/valgrind, consistent -D flags)
  docker/Dockerfile
Due: none

address the comments
  .gitignore
  CMakeLists.txt
  check_nb_errors.py
  debug_total_s_constraint.py
  pyproject.toml
  src/CMakeLists.txt
  src/test/unit/CMakeLists.txt
Due: cpp_fortran

HLC_REF to HLC_ref
  python/musica/miam/constants.py
  python/musica/miam/model.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
Due: python

code cleanup
  include/musica/miam/miam_types.hpp
  include/musica/micm/micm.hpp
Due: cpp_fortran

remove md file
  .github/issues/rosenbrock_dae_algebraic_error.md
  .github/prompts/cam_cloud_chemistry_status.md
  .github/prompts/dae_algebraic_overshoot.md
  .github/prompts/miam_max_halflife_nan_bug.md
  .github/prompts/notes_on_cloud_chem.md
Due: none

ci(mac): align gfortran matrix to gcc-15 to match netcdf-fortran bottle
  .github/workflows/mac.yml
Due: none

fix a bug
  include/musica/micm/micm.hpp
  src/micm/micm_c_interface.cpp
Due: cpp_fortran

revert back the sequence
  src/micm/micm_c_interface.cpp
Due: cpp_fortran

fix a bug
  src/micm/micm_c_interface.cpp
Due: cpp_fortran

Support for CATChem (#878)
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  cmake/SetDefaults.cmake
  cmake/dependencies.cmake
  docker/Dockerfile
  docker/Dockerfile.tuvx
  fortran/examples/CMakeLists.txt
  fortran/examples/tuvx_v54.F90
  fortran/micm/micm.F90
  include/musica/micm/micm_c_interface.hpp
  src/CMakeLists.txt
  src/micm/micm_c_interface.cpp
  src/packaging/CMakeLists.txt
Due: cpp_fortran

fix fmt error
  src/packaging/CMakeLists.txt
Due: cpp_fortran

pin to 41
  docker/Dockerfile
  docker/Dockerfile.docs
  docker/Dockerfile.julia
  docker/Dockerfile.memcheck
  docker/Dockerfile.mpi
  docker/Dockerfile.mpi_openmp
  docker/Dockerfile.openmp
  docker/Dockerfile.python
  docker/Dockerfile.tuvx
Due: none

add mising fields to fortran
  fortran/micm/micm.F90
Due: cpp_fortran

address the code review comments
  docs/MIAM_INTEGRATION_PLAN.md
  docs/source/user_guide/python/notebooks/index.rst
  python/bindings/common.cpp
  python/bindings/miam/miam.cpp
  python/musica/backend.py
  python/musica/mechanism_configuration/species.py
  python/musica/miam/__init__.py
  tutorials/13. tuv-x_subset_photolysis.ipynb
  tutorials/14. dae_solving_intro.ipynb
  tutorials/15. miam_processes_and_constraints.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
Due: python

raise error if more than one external model is provided
  python/musica/micm/micm.py
Due: python

fix pacman issue
  .github/windows_amd64_steps/action.yml
  .github/windows_arm64_steps/action.yml
Due: none

remove step references
  python/test/integration/test_miam_cloud_chemistry.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

adding get property for julia
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/src/micm/micm.jl
  julia/test/runtests.jl
Due: none

adding constructor to read config form string
  julia/bindings/musica_julia.cpp
  julia/src/micm/micm.jl
  julia/test/runtests.jl
Due: none

updating deployment guidelines
  .github/ISSUE_TEMPLATE/release.md
Due: none

enabling fortran tests on windows
  pyproject.toml
Due: none

skipping initialization tests
  pyproject.toml
Due: none

Add Windows Julia CI
  .github/binarybuilder/Project.toml
  .github/workflows/julia.yml
Due: none

fixed path
  pyproject.toml
Due: none

Add TUV-x version to the Julia interface; modularize the bindings
  .github/workflows/julia.yml
  julia/CMakeLists.txt
  julia/bindings/micm.cpp
  julia/bindings/musica_julia.cpp
  julia/bindings/registration.hpp
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/test/runtests.jl
Due: none

Add Windows Julia CI (#904)
  .github/binarybuilder/Project.toml
  .github/workflows/julia.yml
Due: none

Add TUV-x version to the Julia interface; modularize the bindings
  .github/workflows/julia.yml
  julia/CMakeLists.txt
  julia/README.md
  julia/bindings/micm.cpp
  julia/bindings/musica_julia.cpp
  julia/bindings/registration.hpp
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/test/runtests.jl
Due: none

trying to get windows tests to pass
  python/test/conftest.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/miam/miam_types.hpp
  include/musica/micm/micm.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/__init__.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

Add config string constructor, species properties to julia interface (#903)
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/src/micm/micm.jl
  julia/test/runtests.jl
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
