Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

add v5.4 height grid
  python/musica/tuvx/v54.py
  python/test/integration/test_tuvx.py
Due: python

add profile read function
  configs/tuvx/data/profiles/atmosphere/o3_v54.dat
  python/musica/tuvx/v54.py
  python/test/unit/tuvx/test_v54.py
Due: python

add profile data for v5.4
  configs/tuvx/data/profiles/atmosphere/air.v54.dat
  configs/tuvx/data/profiles/atmosphere/o2.v54.dat
  configs/tuvx/data/profiles/atmosphere/o3.v54.dat
  configs/tuvx/data/profiles/atmosphere/temperature.v54.dat
  configs/tuvx/data/profiles/solar/extraterrestrial_flux.v54.dat
  configs/tuvx/data/profiles/solar/surface_albedo.v54.dat
Due: none

add remaining profiles
  python/musica/tuvx/v54.py
  python/test/unit/tuvx/test_v54.py
Due: python

add v5.4 aerosol radiator
  configs/tuvx/data/radiators/aerosol.v54.dat
  python/musica/tuvx/radiator.py
  python/musica/tuvx/v54.py
  python/test/integration/test_tuvx.py
Due: python

add draft tuv-x 5.4 example
  configs/tuvx/tuv_5_4.json
  docker/Dockerfile.python
  python/musica/examples/tuvx_5_4.py
  python/musica/tuvx/grid_map.py
  python/musica/tuvx/profile_map.py
  python/musica/tuvx/radiator_map.py
  python/musica/tuvx/tuvx.py
  python/musica/tuvx/v54.py
Due: python

started box model
  configs/v1/ts1/ts1.json
  python/musica/examples/ts1_box_model.py
Due: python

add test of tuv 5.4 against standalone tuv-x
  cmake/dependencies.cmake
  configs/tuvx/fixed/config.json
  configs/tuvx/from_host/config.json
  configs/tuvx/full_from_host/config.json
  configs/tuvx/ts1_tsmlt.json
  configs/tuvx/ts1_tsmlt.yml
  docker/Dockerfile.tuvx
  include/musica/tuvx/tuvx.hpp
  include/musica/tuvx/tuvx_c_interface.hpp
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
  python/test/integration/test_tuvx_v54.py
  src/test/unit/tuvx/tuvx_run_from_config.cpp
  src/tuvx/interface.F90
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran, python

Add initial Julia wrapper for MUSICA (#736)
  .github/workflows/julia.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/dependencies.cmake
  docs/source/api/index.rst
  docs/source/api/julia.rst
  julia/.gitignore
  julia/CMakeLists.txt
  julia/Project.toml
  julia/README.md
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/test/runtests.jl
Due: none

Update Julia version in format workflow
  .github/workflows/format.yml
Due: none

adding ts1 box model
  configs/v1/ts1/ts1.json
  include/musica/micm/parse.hpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/examples/ts1_box_model.py
  python/musica/main.py
  python/musica/mechanism_configuration/utils.py
  src/micm/convert_v0_to_v1.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, python

adding ts1 example, adding more tests
  pyproject.toml
  python/musica/examples/examples.py
Due: python

undoing some changes
  src/micm/convert_v0_to_v1.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

disabling tuvx on windows fortran
  .github/workflows/windows.yml
Due: none

just disabling tuvx
  .github/workflows/windows.yml
Due: none

Update python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_box_model.py
Due: python

Update python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
Due: python

added ts1 config test and example
  configs/tuvx/data/profiles/atmosphere/o3.v54.dat
  configs/tuvx/data/profiles/solar/extraterrestrial_flux.ts1.dat
  configs/tuvx/data/profiles/solar/surface_albedo.ts1.dat
  configs/tuvx/data/radiators/aerosol.ts1.dat
  configs/tuvx/ts1_tsmlt.json
  python/musica/examples/tuvx_TS1_TSMLT.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/v54.py
  python/musica/tuvx/vTS1.py
  python/test/integration/test_tuvx_vts1.py
Due: python

add TUV-x yaml configs
  configs/tuvx/ts1_tsmlt.yml
  configs/tuvx/tuv_5_4.yml
  python/test/integration/test_tuvx_v54.py
  python/test/integration/test_tuvx_vts1.py
Due: python

Add Julia formatting to CI workflow (#752)
  .github/workflows/format.yml
  package.json
Due: none

tighten tolerances on tuv-x standalone tests
  python/test/integration/test_tuvx_v54.py
  python/test/integration/test_tuvx_vts1.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
Due: none

allow in-place profile updates
  include/musica/tuvx/profile.hpp
  python/bindings/tuvx/profile.cpp
  python/musica/examples/tuvx_5_4.py
  python/musica/examples/tuvx_TS1_TSMLT.py
  python/test/unit/tuvx/test_profile.py
  src/tuvx/interface_profile.F90
  src/tuvx/profile.cpp
Due: cpp_fortran, python

allow in-place grid element updates
  include/musica/tuvx/grid.hpp
  python/bindings/tuvx/grid.cpp
  python/test/unit/tuvx/test_grid.py
  src/tuvx/grid.cpp
  src/tuvx/interface_grid.F90
Due: cpp_fortran, python

disabling tuvx on windows fortran (#754)
  .github/workflows/windows.yml
Due: none

remove option that is redundant
  pyproject.toml
  python/musica/main.py
Due: python

allow in-place radiator array updates
  include/musica/tuvx/radiator.hpp
  python/bindings/tuvx/radiator.cpp
  python/test/unit/tuvx/test_radiator.py
  src/tuvx/interface_radiator.F90
  src/tuvx/radiator.cpp
Due: cpp_fortran, python

correcting cli
  python/musica/main.py
Due: python

correcting logical install of ussa1976
  pyproject.toml
Due: none

start tuv-x jupyter notebook
  tutorials/8.tuv-x.ipynb
Due: none

701 ts1 integration test and example (#753)
  configs/v1/ts1/ts1.json
  include/musica/micm/parse.hpp
  pyproject.toml
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/examples/examples.py
  python/musica/examples/ts1_box_model.py
  python/musica/main.py
  python/musica/mechanism_configuration/utils.py
  src/micm/convert_v0_to_v1.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/micm/parse.hpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/examples/ts1_box_model.py
  python/musica/main.py
  src/micm/convert_v0_to_v1.cpp
Due: cpp_fortran, python

add second TUV-x tutorial
  python/musica/tuvx/radiator_map.py
  tutorials/8.tuv-x_standard_configurations.ipynb
  tutorials/9.tuv-x_conditions.ipynb
Due: python

typos
  tutorials/8.tuv-x_standard_configurations.ipynb
  tutorials/9.tuv-x_conditions.ipynb
Due: none

add tuv-x dockerfile action
  .github/workflows/docker.yml
Due: none

address copilot comments and action failures
  configs/tuvx/fixed/config.json
  configs/tuvx/full_from_host/config.json
  configs/tuvx/full_from_host/config_python.json
  configs/tuvx/ts1_tsmlt_fixed.json
  configs/tuvx/ts1_tsmlt_fixed.yml
  fortran/test/integration/test_tuvx_api.F90
  python/musica/examples/tuvx_5_4.py
  python/musica/examples/tuvx_TS1_TSMLT.py
  python/musica/tuvx/grid_map.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/radiator_map.py
  python/musica/tuvx/vTS1.py
  python/test/integration/test_tuvx.py
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/test/unit/tuvx/tuvx_run_from_config.cpp
  tutorials/9.tuv-x_conditions.ipynb
Due: cpp_fortran, python

try to address fortran and python action failures
  fortran/tuvx/tuvx.F90
  package.json
Due: cpp_fortran

attempting to pull the fork head instead of main
  .github/workflows/python-wheels.yml
Due: none
