Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

fix a bug
  binder/environment.yml
Due: none

Update Python error with severity level information (#850)
  .github/workflows/python-wheels.yml
  include/musica/error.hpp
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/error.cpp
  python/bindings/error.hpp
  python/bindings/micm/micm.cpp
  python/bindings/tuvx/grid.cpp
  python/bindings/tuvx/grid_map.cpp
  python/bindings/tuvx/profile.cpp
  python/bindings/tuvx/profile_map.cpp
  python/bindings/tuvx/radiator.cpp
  python/bindings/tuvx/radiator_map.cpp
  python/bindings/tuvx/tuvx.cpp
  python/test/unit/test_error_handling.py
  src/test/unit/util.cpp
  src/util.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/error.hpp
  python/bindings/error.cpp
  python/bindings/micm/micm.cpp
  python/test/unit/test_error_handling.py
Due: cpp_fortran, python

test binder
  README.md
  binder/environment.yml
  environment.yaml
Due: none

yaml-cpp target
  binder/environment.yml
  python/bindings/CMakeLists.txt
Due: python

add postBuild
  binder/environment.yml
  binder/postBuild
Due: none

add yaml
  binder/environment.yml
Due: none

add pybind
  binder/environment.yml
Due: none

add graphviz
  binder/environment.yml
Due: none

pointing to readme
  README.md
Due: none

add comments for installing musica using pypi
  binder/postBuild
Due: none

Update MUSICA installation method in binder to reflect changes in mechanism configuration reactant/product in tutorial (#853)
  README.md
  binder/environment.yml
  binder/postBuild
  environment.yaml
  python/bindings/CMakeLists.txt
Due: python

update micm and miam commits
  cmake/dependencies.cmake
Due: none

(mostly) auto-fixes
  .github/workflows/clang_tidy.yml
  .github/workflows/format.yml
  CMakeLists.txt
  cmake/SetDefaults.cmake
  configs/tuvx/data/profiles/atmosphere/ussa.temp
  docs/Doxyfile.in
  docs/source/api/index.rst
  docs/source/user_guide/python/chemistry/index.rst
  docs/source/user_guide/python/multigrid/hypercube/index.rst
  docs/source/user_guide/python/multigrid/parallel/index.rst
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/tuvx/tuvx.hpp
  julia/README.md
  src/packaging/modulefile.lua.in
  src/test/unit/micm/micm_c_api.cpp
Due: cpp_fortran

Add GHA workflow to run codespell
  .github/workflows/codespell.yml
Due: none

Fix remaining
  .github/workflows/codespell.yml
  docs/source/user_guide/javascript/widget.html
  include/musica/tuvx/grid_map.hpp
  include/musica/tuvx/profile_map.hpp
  include/musica/tuvx/radiator_map.hpp
  include/musica/tuvx/tuvx.hpp
  javascript/wasm/widget.html
  src/tuvx/interface_grid_map.F90
Due: cpp_fortran, javascript

codespell (#856)
  .github/workflows/clang_tidy.yml
  .github/workflows/codespell.yml
  .github/workflows/format.yml
  CMakeLists.txt
  cmake/SetDefaults.cmake
  configs/tuvx/data/profiles/atmosphere/ussa.temp
  docs/Doxyfile.in
  docs/source/api/index.rst
  docs/source/user_guide/javascript/widget.html
  docs/source/user_guide/python/chemistry/index.rst
  docs/source/user_guide/python/multigrid/hypercube/index.rst
  docs/source/user_guide/python/multigrid/parallel/index.rst
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/tuvx/grid_map.hpp
  include/musica/tuvx/profile_map.hpp
  include/musica/tuvx/radiator_map.hpp
  include/musica/tuvx/tuvx.hpp
  javascript/wasm/widget.html
  julia/README.md
  src/packaging/modulefile.lua.in
  src/test/unit/micm/micm_c_api.cpp
  src/tuvx/interface_grid_map.F90
Due: cpp_fortran, javascript

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/tuvx/grid_map.hpp
  include/musica/tuvx/profile_map.hpp
Due: cpp_fortran

reorganize util files
  fortran/test/integration/test_micm_api.F90
  fortran/test/unit/util.F90
  fortran/util.F90
  include/musica/utils/error.hpp
  include/musica/utils/error_handler.hpp
  include/musica/utils/string.hpp
  include/musica/utils/util.hpp
  src/CMakeLists.txt
  src/test/unit/util.cpp
  src/utils/error_handler.cpp
  src/utils/string.cpp
  src/utils/util.cpp
Due: cpp_fortran

update the util path
  cmake/dependencies.cmake
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/parse.hpp
  include/musica/micm/state_c_interface.hpp
  include/musica/tuvx/grid.hpp
  include/musica/tuvx/grid_map.hpp
  include/musica/tuvx/profile.hpp
  include/musica/tuvx/profile_map.hpp
  include/musica/tuvx/radiator.hpp
  include/musica/tuvx/radiator_map.hpp
  include/musica/tuvx/tuvx.hpp
  include/musica/utils/error_handler.hpp
  javascript/bindings/musica_wasm.cpp
  python/bindings/error.cpp
  python/bindings/error.hpp
  python/bindings/tuvx/tuvx.cpp
  src/cuda/cuda_solver.cpp
  src/micm/cpu_solver.cpp
  src/micm/state.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/util.cpp
Due: cpp_fortran, javascript, python

Add TUV-x subset photolysis example and tutorial
  python/musica/examples/tuvx_subset_photolysis.py
  tutorials/12. tuv-x_subset_photolysis.ipynb
Due: python

rename to distiguish c/fortran api vs c++
  include/musica/utils/error.h
  include/musica/utils/error_handler.h
  include/musica/utils/string.h
  include/musica/utils/util.h
Due: cpp_fortran

error code
  include/musica/utils/error.h
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  include/musica/utils/error_handler.hpp
  include/musica/utils/string.hpp
  include/musica/utils/util.hpp
  src/utils/error_handler.cpp
Due: cpp_fortran

update the error handler
  cmake/dependencies.cmake
  include/musica/micm/micm.hpp
  include/musica/micm/parse.hpp
  include/musica/utils/error_handler.hpp
  src/micm/micm_c_interface.cpp
Due: cpp_fortran

installing with rpath
  src/CMakeLists.txt
Due: cpp_fortran

update the error
  include/musica/micm/micm.hpp
  include/musica/micm/parse.hpp
  include/musica/micm/solver_interface.hpp
  include/musica/utils/error_code.hpp
  include/musica/utils/error_handler.hpp
  src/cuda/cuda_solver.cpp
  src/micm/convert_v0_to_v1.cpp
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/parse.cpp
  src/micm/state_c_interface.cpp
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/profile.cpp
  src/tuvx/profile_map.cpp
  src/tuvx/radiator.cpp
  src/tuvx/radiator_map.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
  src/utils/error_code.cpp
  src/utils/error_handler.cpp
  src/utils/util.cpp
Due: cpp_fortran

code cleanup
  include/musica/micm/micm.hpp
  include/musica/utils/error_code.hpp
  include/musica/utils/error_handler.hpp
Due: cpp_fortran

update the error
  fortran/test/integration/test_micm_api.F90
  python/test/unit/test_error_handling.py
Due: cpp_fortran, python

correcting build
  cmake/dependencies.cmake
  docker/Dockerfile
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
  src/util.cpp
Due: cpp_fortran

memory error fix
  fortran/micm/micm.F90
Due: cpp_fortran

merge in latest micm and miam commits
  cmake/dependencies.cmake
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
  src/util.cpp
Due: cpp_fortran

add directives
  include/musica/utils/error_handler.hpp
Due: cpp_fortran

installing with rpath
  cmake/dependencies.cmake
  docker/Dockerfile
  fortran/micm/micm.F90
  src/CMakeLists.txt
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
  src/util.cpp
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  src/micm/v1_parse.cpp
Due: cpp_fortran

disable fetch content action temporarily
  .github/workflows/docker.yml
  .github/workflows/fetch-content.yml.disabled
Due: none

address the comments
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  src/CMakeLists.txt
  src/micm/micm.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/util.cpp
Due: cpp_fortran

correct the test
  src/test/unit/micm/micm_c_api.cpp
Due: cpp_fortran

address the code review
  include/musica/utils/error_code.hpp
  src/CMakeLists.txt
  src/utils/error_code.cpp
Due: cpp_fortran

update to latest miam commit
  cmake/dependencies.cmake
  debug_total_s_constraint.py
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
  tutorials/11. ts1_box_model.ipynb
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
