Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

updatig package.json
  package.json
Due: none

making sure node addon tests don't try to build wasm
  .github/workflows/javascript.yml
Due: none

correcting package import
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
  javascript/tests/unit/version.test.js
Due: javascript

making reusable emsdk action to use in coverage
  .github/emsdk_steps/action.yml
  .github/workflows/coverage.yml
  .github/workflows/javascript.yml
Due: none

trying an input with default value
  .github/emsdk_steps/action.yml
Due: none

attempting to persist emsdk env
  .github/emsdk_steps/action.yml
Due: none

attempting to remove quotes from path
  .github/emsdk_steps/action.yml
Due: none

correcting action
  .github/workflows/javascript.yml
Due: none

Add WebAssembly JavaScript interface for MUSICA (#713)
  .github/emsdk_steps/action.yml
  .github/workflows/coverage.yml
  .github/workflows/javascript.yml
  .gitignore
  javascript/CMakeLists.txt
  javascript/README.md
  javascript/index.js
  javascript/load_addon.js
  javascript/micm/micm.js
  javascript/src/musica_wasm.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
  javascript/tests/unit/version.test.js
  javascript/tests/unit/wasm/version.test.js
  javascript/tests/util/testUtils.js
  javascript/wasm/example.html
  javascript/wasm/index.js
  package-lock.json
  package.json
Due: javascript

renabling tuvx, dropping python versions
  pyproject.toml
Due: none

fixing tuvx configs
  configs/tuvx/full_from_host/config.json
  configs/tuvx/tuv_5_4.json
  pyproject.toml
  python/test/integration/test_tuvx.py
Due: python

excluding tuvx tests on windows
  pyproject.toml
Due: none

ignoring a different way
  pyproject.toml
Due: none

quotes
  pyproject.toml
Due: none

Adds tests checking ability to update TUV-x conditions (#705)
  .gitignore
  python/musica/tuvx/profile.py
  python/test/integration/test_tuvx.py
Due: python

Auto-format code using Clang-Format and autopep8
  python/test/unit/test_util_full_mechanism.py
Due: python

Auto-format code using Clang-Format and autopep8
  python/test/integration/test_tuvx.py
Due: python

correcting build
  javascript/micm/micm.js
  javascript/src/musica_wasm.cpp
  javascript/tests/unit/wasm/micm.test.js
  package.json
Due: javascript

updating test string
  package.json
Due: none

trying again
  package.json
Due: none

ignoring codeql
  .gitignore
  _codeql_detected_source_root
Due: none

Scaffold WASM MICM and State classes with unified backend API (#716)
  .gitignore
  javascript/CMakeLists.txt
  javascript/README.md
  javascript/backend_loader.js
  javascript/index.js
  javascript/micm/micm.js
  javascript/micm/state.js
  javascript/src/musica_wasm.cpp
  javascript/tests/unit/wasm/micm.test.js
  javascript/wasm/index.js
  package-lock.json
  package.json
Due: javascript

Correcting tests
  javascript/CMakeLists.txt
  javascript/backend.js
  javascript/index.js
  javascript/micm/micm.js
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
  javascript/tests/unit/version.test.js
  package.json
Due: javascript

removing logging, cache
  .github/workflows/javascript.yml
  javascript/tests/unit/micm/micm.test.js
Due: javascript

adding solving test
  javascript/tests/unit/micm/micm.test.js
Due: javascript

correcting test string
  package.json
Due: none

converting to es6 modules, updating example.html
  javascript/CMakeLists.txt
  javascript/README.md
  javascript/backend.js
  javascript/index.js
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/micm/conditions.js
  javascript/micm/index.js
  javascript/micm/micm.js
  javascript/micm/solver.js
  javascript/micm/solver_result.js
  javascript/micm/state.js
  javascript/micm/utils.js
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
  javascript/tests/unit/version.test.js
  javascript/tests/util/testUtils.js
  javascript/wasm/example.html
  package.json
Due: javascript

updating readme
  javascript/README.md
Due: javascript

Update javascript/mechanism_configuration/utils.js
  javascript/mechanism_configuration/utils.js
Due: javascript

Update javascript/README.md
  javascript/README.md
Due: javascript

Update javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/micm.test.js
Due: javascript

Update javascript/micm/micm.js
  javascript/micm/micm.js
Due: javascript

again with the quotes
  package.json
Due: none

updating test paths
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/state.test.js
  package.json
Due: javascript

more iteresting test
  javascript/wasm/example.html
Due: javascript

adding sliders because why not?
  javascript/wasm/example.html
Due: javascript

Drop Node.js addon API, use WASM backend exclusively (#720)
  .github/workflows/javascript.yml
  javascript/CMakeLists.txt
  javascript/README.md
  javascript/backend.js
  javascript/backend_loader.js
  javascript/index.js
  javascript/load_addon.js
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/micm/conditions.js
  javascript/micm/index.js
  javascript/micm/micm.js
  javascript/micm/solver.js
  javascript/micm/solver_result.js
  javascript/micm/state.js
  javascript/micm/utils.js
  javascript/src/micm/micm.cpp
  javascript/src/micm/micm.h
  javascript/src/micm/solver_result_wrapper.cpp
  javascript/src/micm/solver_result_wrapper.h
  javascript/src/micm/state.cpp
  javascript/src/micm/state.h
  javascript/src/musica_addon.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/state.test.js
  javascript/tests/unit/version.test.js
  javascript/tests/unit/wasm/micm.test.js
  javascript/tests/unit/wasm/version.test.js
  javascript/tests/util/testUtils.js
  javascript/wasm/example.html
  javascript/wasm/index.js
  package-lock.json
  package.json
Due: javascript

adding dockerfile for javascript
  .dockerignore
  .github/workflows/docker.yml
  CMakeLists.txt
  docker/Dockerfile.javascript
Due: none
