Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

pr comments, updating micm api
  cmake/dependencies.cmake
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/micm.hpp
  include/musica/micm/parse.hpp
  include/musica/micm/solver_interface.hpp
  include/musica/micm/state.hpp
  include/musica/micm/state_interface.hpp
  python/bindings/micm/micm.cpp
  python/musica/micm/micm.py
  python/test/unit/micm/test_micm.py
  src/CMakeLists.txt
  src/carma/CMakeLists.txt
  src/micm/CMakeLists.txt
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/state.cpp
  src/micm/state_c_interface.cpp
  src/micm/v1_parse.cpp
  src/test/unit/micm/parser.cpp
  src/tuvx/CMakeLists.txt
Due: cpp_fortran, python

micm commit
  cmake/dependencies.cmake
  log.txt
Due: none

correcting map type
  src/cuda/cuda_solver.cpp
  src/cuda/cuda_solver.hpp
Due: cpp_fortran

removing log
  log.txt
Due: none

bumping micm tag, not saving animation in CI
  cmake/dependencies.cmake
  python/musica/examples/lorenz.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/bindings/musica_wasm.cpp
  src/cuda/cuda_factory.cpp
  src/micm/cpu_solver.cpp
  src/micm/cuda_loader.cpp
Due: cpp_fortran, javascript

refactoring tests
  pyproject.toml
  python/musica/examples/lorenz.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  python/test/integration/test_analytical.py
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_carma_sulfate.py
  python/test/integration/test_chapman.py
Due: python

import mode
  pyproject.toml
Due: none

following same example testing pattern
  pyproject.toml
  python/musica/examples/lorenz.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  python/test/integration/test_lorenz.py
  python/test/integration/test_ts1_box_model.py
  python/test/integration/test_ts1_latin_hypercube.py
Due: python

respoding to pr comments
  python/musica/examples/ts1_latin_hypercube.py
Due: python

excluding anything running tuvx on windows
  pyproject.toml
Due: none

refactoring tests (#781)
  pyproject.toml
  python/musica/examples/lorenz.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  python/test/integration/test_analytical.py
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_carma_sulfate.py
  python/test/integration/test_chapman.py
  python/test/integration/test_lorenz.py
  python/test/integration/test_ts1_box_model.py
  python/test/integration/test_ts1_latin_hypercube.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_carma_sulfate.py
Due: python

Expose solver parameters through all language bindings
  fortran/micm/micm.F90
  fortran/test/integration/test_micm_api.F90
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/solver_interface.hpp
  include/musica/micm/solver_parameters.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/index.js
  javascript/micm/index.js
  javascript/micm/micm.js
  javascript/micm/solver_parameters.js
  javascript/tests/unit/micm.test.js
  python/bindings/micm/micm.cpp
  python/musica/micm/__init__.py
  python/musica/micm/micm.py
  python/musica/micm/solver_parameters.py
  python/test/unit/micm/test_micm.py
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, javascript, python

Fix solver parameter tests and validation
  src/micm/cpu_solver.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran

removing ununsed option
  python/musica/micm/micm.py
Due: python

Enforce fixed size of 5 for time_step_reductions across all bindings
  fortran/micm/micm.F90
  fortran/test/integration/test_micm_api.F90
  include/musica/micm/solver_parameters.hpp
  javascript/micm/solver_parameters.js
  python/musica/micm/solver_parameters.py
Due: cpp_fortran, javascript, python

Expose solver parameters through all language bindings (#783)
  fortran/micm/micm.F90
  fortran/test/integration/test_micm_api.F90
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/solver_interface.hpp
  include/musica/micm/solver_parameters.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/index.js
  javascript/micm/index.js
  javascript/micm/micm.js
  javascript/micm/solver_parameters.js
  javascript/tests/unit/micm.test.js
  python/bindings/micm/micm.cpp
  python/musica/micm/__init__.py
  python/musica/micm/micm.py
  python/musica/micm/solver_parameters.py
  python/test/unit/micm/test_micm.py
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, javascript, python

adding julia dockerfile
  .dockerignore
  .github/workflows/docker.yml
  docker/Dockerfile.julia
Due: none

enabling pic on musica for julia
  julia/CMakeLists.txt
Due: none

correctly setting pic
  julia/CMakeLists.txt
Due: none

adding julia dockerfile (#784)
  .dockerignore
  .github/workflows/docker.yml
  docker/Dockerfile.julia
  julia/CMakeLists.txt
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/micm/micm.js
  javascript/micm/solver_parameters.js
  javascript/tests/unit/micm.test.js
  python/bindings/micm/micm.cpp
  src/micm/cpu_solver.cpp
  src/micm/micm_c_interface.cpp
Due: cpp_fortran, javascript, python

Refactor Python bindings from monkeypatching to composition
  python/musica/_base.py
  python/musica/mechanism_configuration/ancillary.py
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/phase.py
  python/musica/mechanism_configuration/phase_species.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/reaction_component.py
  python/musica/mechanism_configuration/reactions.py
  python/musica/mechanism_configuration/species.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  python/musica/micm/micm.py
  python/musica/tuvx/grid.py
  python/musica/tuvx/grid_map.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/profile_map.py
  python/musica/tuvx/radiator.py
  python/musica/tuvx/radiator_map.py
  python/musica/tuvx/tuvx.py
Due: python

Remove _reactions caching to fix property consistency in Mechanism class (#787)
  python/musica/mechanism_configuration/mechanism.py
Due: python

Update python/musica/mechanism_configuration/reactions.py
  python/musica/mechanism_configuration/reactions.py
Due: python

normalizing error message
  python/musica/tuvx/grid.py
  python/musica/tuvx/grid_map.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/profile_map.py
  python/musica/tuvx/radiator.py
  python/musica/tuvx/radiator_map.py
  python/musica/tuvx/tuvx.py
Due: python

Update python/musica/_base.py
  python/musica/_base.py
Due: python

[WIP] Fix feedback on Python bindings refactor from monkeypatching to composition (#788)
  python/musica/mechanism_configuration/mechanism.py
Due: python

updatig type hint
  python/musica/tuvx/radiator_map.py
Due: python

Adds calculate with lambda to wasm bindings
  javascript/bindings/musica_wasm.cpp
  javascript/mechanism_configuration/reaction_types.js
  javascript/tests/lambda_test.js
  javascript/tools/serve.js
Due: javascript

Refactor Python bindings from monkeypatching to composition (#786)
  python/musica/_base.py
  python/musica/mechanism_configuration/ancillary.py
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/phase.py
  python/musica/mechanism_configuration/phase_species.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/reaction_component.py
  python/musica/mechanism_configuration/reactions.py
  python/musica/mechanism_configuration/species.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  python/musica/micm/micm.py
  python/musica/tuvx/grid.py
  python/musica/tuvx/grid_map.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/profile_map.py
  python/musica/tuvx/radiator.py
  python/musica/tuvx/radiator_map.py
  python/musica/tuvx/tuvx.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/musica/mechanism_configuration/mechanism.py
Due: python

set up for readthedocs
  .github/workflows/gh_pages.yml
  .readthedocs.yaml
  docker/Dockerfile.docs
  docs/requirements.txt
  docs/source/_static/switcher.json
  docs/source/conf.py
  environment.yaml
Due: none

hard coded check
  .readthedocs.yaml
  docs/source/conf.py
Due: none

find xml file
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/source/conf.py
Due: none

remove the trailing whitespace
  docs/Doxyfile.in
Due: none

address the copilot comment
  .readthedocs.yaml
  docker/Dockerfile.docs
  docs/source/conf.py
  environment.yaml
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
