Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

Route Windows wheel test-command through the pytest watchdog
  pyproject.toml
Due: none

add aerosol intro notebook and debug python API
  .gitignore
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  python/bindings/mechanism_configuration/aerosol.cpp
  python/musica/examples/cam_aerosol_configs.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/integration/test_miam_components.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/mechanism_configuration/test_serializer.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
  tutorials/16. miam_processes_and_constraints.ipynb
  tutorials/17. cam_cloud_chemistry.ipynb
  tutorials/18. cam_aerosol_distributions.ipynb
  tutorials/2. hypercube.ipynb
  tutorials/3. user_defined_reactions.ipynb
  tutorials/assets/aero_reps.png
Due: cpp_fortran, python

update henrys law naming
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  python/bindings/mechanism_configuration/aerosol.cpp
  python/musica/examples/cam_aerosol_configs.py
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/aerosol/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/integration/test_miam_components.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/mechanism_configuration/test_serializer.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
  tutorials/16. miam_processes_and_constraints.ipynb
  tutorials/17. cam_cloud_chemistry.ipynb
  tutorials/18. cam_aerosol_distributions.ipynb
Due: cpp_fortran, python

Skip interpreter shutdown in the Windows test watchdog
  python/tools/run_pytest_with_watchdog.py
Due: python

clean up notebooks
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
  tutorials/16. miam_processes_and_constraints.ipynb
  tutorials/17. cam_cloud_chemistry.ipynb
  tutorials/18. cam_aerosol_distributions.ipynb
Due: none

clean up
  .gitignore
  tutorials/1. multiple_grid_cells.ipynb
Due: none

fix typo
  python/musica/mechanism_configuration/species/phase_species.py
Due: python

Use TerminateProcess on Windows to skip DLL_PROCESS_DETACH teardown
  python/tools/run_pytest_with_watchdog.py
Due: python

Skip miem tests on Windows wheel builds; revert teardown hack
  pyproject.toml
  python/tools/run_pytest_with_watchdog.py
Due: python

add mam error code (#968)
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  python/bindings/miam/miam.cpp
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  src/miam/miam_builder.cpp
Due: cpp_fortran

Adds missing SO4-- to sulfur budget for kinetic reaction which was excluded from sulfur mass constraint (#969)
  python/test/integration/test_miam_cloud_chemistry.py
Due: python

address review comments and update dependency
  cmake/dependencies.cmake
  python/test/integration/test_miam_components.py
Due: python

Aerosol Intro Tutorial and debugging (#970)
  .gitignore
  cmake/dependencies.cmake
  configs/v1/cam_cloud_chemistry/config.json
  python/bindings/mechanism_configuration/aerosol.cpp
  python/musica/examples/cam_aerosol_configs.py
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/aerosol/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/integration/test_miam_components.py
  python/test/unit/mechanism_configuration/test_aerosol_types.py
  python/test/unit/mechanism_configuration/test_serializer.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
  tutorials/16. cam_cloud_chemistry.ipynb
  tutorials/16. miam_processes_and_constraints.ipynb
  tutorials/17. cam_aerosol_distributions.ipynb
  tutorials/17. cam_cloud_chemistry.ipynb
  tutorials/18. cam_aerosol_distributions.ipynb
  tutorials/2. hypercube.ipynb
  tutorials/3. user_defined_reactions.ipynb
  tutorials/assets/aero_reps.png
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/musica/mechanism_configuration/species/phase.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

Re-pin MIEM_GIT_TAG to merged NCAR/miem#22
  cmake/dependencies.cmake
Due: none

Revert TUV-x/CARMA interface.F90 pointer-lifecycle fix
  src/carma/interface.F90
  src/tuvx/interface.F90
Due: cpp_fortran

Fix per-cell concentration update, remove watchdog script
  pyproject.toml
  python/musica/examples/miem_nox_box_model.py
  python/musica/examples/miem_nox_box_model_real_fixture.py
  python/tools/run_pytest_with_watchdog.py
Due: python

Renumber miem tutorial to 19, update tutorials docs list
  docs/source/user_guide/python/notebooks/index.rst
  tutorials/19. miem_nox_box_model.ipynb
Due: none

Fix garbled section headers in miem tutorial notebook
  tutorials/19. miem_nox_box_model.ipynb
Due: none

Fix size-distribution graphs in tutorial 18 (CAM aerosol distributions)
  tutorials/18. cam_aerosol_distributions.ipynb
Due: none

bump minor version
  CITATION.cff
  CMakeLists.txt
  binder/postBuild
Due: none

bump minor version (#976)
  CITATION.cff
  CMakeLists.txt
  binder/postBuild
Due: none

Fix size-distribution graphs in tutorial 18 (CAM aerosol distributions) (#975)
  tutorials/18. cam_aerosol_distributions.ipynb
Due: none

use binders on main
  README.md
Due: none

use binders on main (#978)
  README.md
Due: none

Drive NOx emissions via MICM Emission reactions instead of manual concentration bumps
  python/musica/examples/miem_nox_box_model.py
  python/musica/examples/miem_nox_box_model_real_fixture.py
Due: python

Update miem tutorial notebook wording and sync with Emission-reaction change
  tutorials/19. miem_nox_box_model.ipynb
Due: none

Build miem python bindings (#960)
  .github/workflows/python-wheels.yml
  cmake/dependencies.cmake
  configs/miem/x1.163842_2024_nox_subset.nc
  docs/source/user_guide/python/notebooks/index.rst
  pyproject.toml
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/miem/miem.cpp
  python/musica/__init__.py
  python/musica/backend.py
  python/musica/examples/miem_nox_box_model.py
  python/musica/examples/miem_nox_box_model_real_fixture.py
  python/musica/miem/__init__.py
  python/musica/miem/emissions.py
  python/test/unit/miem/test_emissions.py
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
  tutorials/19. miem_nox_box_model.ipynb
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/bindings/miem/miem.cpp
Due: python

Add TS1 Fortran box model example driven by TUV-x (#768)
  docs/source/user_guide/fortran/chapter5.rst
  docs/source/user_guide/fortran/index.rst
  fortran/examples/CMakeLists.txt
  fortran/examples/ts1_box_model.F90
  fortran/examples/tuvx_ts1_setup.F90
  fortran/examples/tuvx_v54_setup.F90
  python/musica/examples/ts1_box_model.py
Due: cpp_fortran, python

updating photolysis rates from user defined to photolysis
  configs/v1/ts1/initial_conditions.csv
  configs/v1/ts1/ts1.json
Due: none

update usage of ts1 everywhere
  python/musica/examples/miem_nox_box_model.py
  python/musica/examples/miem_nox_box_model_real_fixture.py
  python/musica/examples/ts1_latin_hypercube.py
  tutorials/11. ts1_box_model.ipynb
  tutorials/19. miem_nox_box_model.ipynb
Due: python

Update ts1 reaction types (#980)
  configs/v1/ts1/initial_conditions.csv
  configs/v1/ts1/ts1.json
  docs/source/user_guide/fortran/chapter5.rst
  docs/source/user_guide/fortran/index.rst
  fortran/examples/CMakeLists.txt
  fortran/examples/ts1_box_model.F90
  fortran/examples/tuvx_ts1_setup.F90
  fortran/examples/tuvx_v54_setup.F90
  python/musica/examples/miem_nox_box_model.py
  python/musica/examples/miem_nox_box_model_real_fixture.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  tutorials/11. ts1_box_model.ipynb
  tutorials/19. miem_nox_box_model.ipynb
Due: cpp_fortran, python

use latest mech config tag, update version for release
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
Due: none

using mech config commit
  cmake/dependencies.cmake
Due: none

use latest mech config tag, update version for release (#981)
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
Due: none

Stamp v1 version when converting a v0 config
  python/musica/main.py
  python/test/unit/mechanism_configuration/test_parser.py
Due: python

version update
  CITATION.cff
  CMakeLists.txt
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
