Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

name instead of species name
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/first_order_loss_products.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/lambda_rate_constant.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/reaction_component_name_alias.test.js
  javascript/tests/unit/reaction_types.test.js
Due: javascript

prepare release
  .gitattributes
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  docker/Dockerfile.wheel
  docs/source/api/julia.rst
  julia/Project.toml
  package.json
  src/packaging/CMakeLists.txt
  src/test/unit/miam/miam_builder.cpp
  tutorials/0. Welcome to MUSICA.ipynb
Due: cpp_fortran

make includes headers available for julia
  julia/bindings/musica_julia.cpp
Due: none

disable clang format on julia header
  julia/bindings/musica_julia.cpp
Due: none

Update the version in preparation of release (#924)
  .gitattributes
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  docker/Dockerfile.wheel
  docs/source/api/julia.rst
  julia/Project.toml
  julia/bindings/musica_julia.cpp
  package.json
  src/packaging/CMakeLists.txt
  src/test/unit/miam/miam_builder.cpp
  tutorials/0. Welcome to MUSICA.ipynb
Due: cpp_fortran

Expose reaction `.type` and document JS mechanism config (#888)
  .gitignore
  docs/source/api/javascript.rst
  javascript/backend.d.ts
  javascript/index.d.ts
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/micm/conditions.d.ts
  javascript/micm/index.d.ts
  javascript/micm/micm.d.ts
  javascript/micm/solver.d.ts
  javascript/micm/solver_parameters.d.ts
  javascript/micm/solver_result.d.ts
  javascript/micm/state.d.ts
  javascript/micm/utils.d.ts
  javascript/tests/unit/reaction_types.test.js
  javascript/wasm/musica.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: javascript

Make .d.ts generation run on pack/install and be idempotent (#888)
  package.json
Due: none

Document reaction `type` once per class for sphinx-js
  javascript/mechanism_configuration/mechanism_configuration.js
Due: javascript

Exclude configs/tuvx from the JS package (#888)
  package.json
Due: none

thing
  javascript/index.js
Due: javascript

comment
  javascript/tests/unit/reaction_types.test.js
Due: javascript

Generate top-level index.d.ts and add `types` field (#888)
  .gitignore
  package.json
  tsconfig.json
Due: none

Whitelist tsconfig.json in .dockerignore
  .dockerignore
Due: none

use explicit enum type to prevent undefined behavior
  include/musica/micm/micm.hpp
Due: cpp_fortran

enabling more memory checks
  .github/workflows/docker.yml
  docker/Dockerfile.asan
  docker/Dockerfile.memcheck
Due: none

adding asan lib
  docker/Dockerfile.asan
Due: none

enabling more memory checks (#922)
  .github/workflows/docker.yml
  docker/Dockerfile.asan
  docker/Dockerfile.memcheck
  include/musica/micm/micm.hpp
Due: cpp_fortran

Add typescript to mechanism configuration (#923)
  .dockerignore
  .gitignore
  docs/source/api/javascript.rst
  javascript/backend.d.ts
  javascript/index.d.ts
  javascript/index.js
  javascript/mechanism_configuration/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/micm/conditions.d.ts
  javascript/micm/index.d.ts
  javascript/micm/micm.d.ts
  javascript/micm/solver.d.ts
  javascript/micm/solver_parameters.d.ts
  javascript/micm/solver_result.d.ts
  javascript/micm/state.d.ts
  javascript/micm/utils.d.ts
  javascript/tests/unit/first_order_loss_products.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/lambda_rate_constant.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/reaction_component_name_alias.test.js
  javascript/tests/unit/reaction_types.test.js
  javascript/wasm/musica.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: javascript

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/micm/conditions.d.ts
  javascript/micm/micm.d.ts
  javascript/micm/solver_parameters.d.ts
  javascript/micm/state.d.ts
  javascript/tests/unit/first_order_loss_products.test.js
  javascript/tests/unit/full_config.test.js
Due: javascript

moving all parsing functions into parse.cpp
  src/micm/CMakeLists.txt
  src/micm/parse.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran

update julia project
  julia/Project.toml
Due: none

remove gitattributes
  .gitattributes
Due: none

update musica version
  etc/Musica_jll/Project.toml
Due: none

update template
  .github/ISSUE_TEMPLATE/release.md
Due: none

Update julia project configuration (#927)
  .gitattributes
  .github/ISSUE_TEMPLATE/release.md
  etc/Musica_jll/Project.toml
  julia/Project.toml
Due: none

making configuration its own directory
  include/musica/configuration/chemistry.hpp
  include/musica/configuration/parse.hpp
  src/CMakeLists.txt
  src/configuration/CMakeLists.txt
  src/configuration/parse.cpp
  src/micm/CMakeLists.txt
Due: cpp_fortran

fixing includes
  include/musica/configuration/parse.hpp
  include/musica/miam/miam_builder.hpp
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/cuda_loader.hpp
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/solver_interface.hpp
  src/configuration/parse.cpp
  src/cuda/cuda_factory.cpp
  src/cuda/cuda_solver.hpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

correcting python includes
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
Due: python

fix javascript
  javascript/bindings/musica_wasm.cpp
Due: javascript

build: re-pin miem to merged commit, drop CMake module-path workaround
  cmake/dependencies.cmake
Due: none

feat: add MIEM emissions integration (parse, translate, build wiring)
  CMakeLists.txt
  cmake/dependencies.cmake
  configs/v1/emissions/config.json
  configs/v1/emissions/config.yaml
  include/musica/miem/emissions.hpp
  include/musica/miem/parse.hpp
  include/musica/utils/error.hpp
  include/musica/utils/error_code.hpp
  src/CMakeLists.txt
  src/miem/CMakeLists.txt
  src/miem/convert.cpp
  src/miem/parse.cpp
  src/packaging/CMakeLists.txt
  src/test/unit/CMakeLists.txt
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/parser.cpp
Due: cpp_fortran

test: add NOx end-to-end test with one-to-many species split
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/end_to_end_nox.cpp
Due: cpp_fortran

test: add real end-to-end test from MechanismConfiguration through musica to MIEM
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/end_to_end.cpp
Due: cpp_fortran

update mech config tag
  cmake/dependencies.cmake
  src/micm/v1_parse.cpp
Due: cpp_fortran

organize the python types in mech config
  python/bindings/CMakeLists.txt
  python/bindings/mechanism_configuration/aerosol.cpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/bindings/mechanism_configuration/reactions.cpp
  python/bindings/mechanism_configuration/species.cpp
  python/musica/mechanism_configuration/__init__.py
  python/musica/mechanism_configuration/aerosol/__init__.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/reactions/__init__.py
  python/musica/mechanism_configuration/reactions/arrhenius.py
  python/musica/mechanism_configuration/reactions/branched.py
  python/musica/mechanism_configuration/reactions/emission.py
  python/musica/mechanism_configuration/reactions/first_order_loss.py
  python/musica/mechanism_configuration/reactions/photolysis.py
  python/musica/mechanism_configuration/reactions/reaction_component.py
  python/musica/mechanism_configuration/reactions/reactions.py
  python/musica/mechanism_configuration/reactions/surface.py
  python/musica/mechanism_configuration/reactions/taylor_series.py
  python/musica/mechanism_configuration/reactions/ternary_chemical_activation.py
  python/musica/mechanism_configuration/reactions/troe.py
  python/musica/mechanism_configuration/reactions/tunneling.py
  python/musica/mechanism_configuration/reactions/user_defined.py
  python/musica/mechanism_configuration/species/__init__.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/utils.py
Due: python

update include
  python/bindings/mechanism_configuration/aerosol.cpp
  python/bindings/mechanism_configuration/reactions.cpp
  python/bindings/mechanism_configuration/species.cpp
Due: python

use shorthand mc for binding alias
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/reactions/arrhenius.py
  python/musica/mechanism_configuration/reactions/branched.py
  python/musica/mechanism_configuration/reactions/emission.py
  python/musica/mechanism_configuration/reactions/first_order_loss.py
  python/musica/mechanism_configuration/reactions/photolysis.py
  python/musica/mechanism_configuration/reactions/reaction_component.py
  python/musica/mechanism_configuration/reactions/reactions.py
  python/musica/mechanism_configuration/reactions/surface.py
  python/musica/mechanism_configuration/reactions/taylor_series.py
  python/musica/mechanism_configuration/reactions/ternary_chemical_activation.py
  python/musica/mechanism_configuration/reactions/troe.py
  python/musica/mechanism_configuration/reactions/tunneling.py
  python/musica/mechanism_configuration/reactions/user_defined.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
Due: python

Move parsing into its own directory (#926)
  include/musica/configuration/chemistry.hpp
  include/musica/configuration/parse.hpp
  include/musica/miam/miam_builder.hpp
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/cuda_loader.hpp
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/solver_interface.hpp
  javascript/bindings/musica_wasm.cpp
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  src/CMakeLists.txt
  src/configuration/CMakeLists.txt
  src/configuration/parse.cpp
  src/cuda/cuda_factory.cpp
  src/cuda/cuda_solver.hpp
  src/micm/CMakeLists.txt
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/parse.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, javascript, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/miam/miam_builder.hpp
  include/musica/micm/micm_c_interface.hpp
  javascript/bindings/musica_wasm.cpp
  src/configuration/parse.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, javascript

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
