Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

ignoring carma tests on arm windows
  .github/workflows/python-tests.yml
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_sulfate_box_model.py
Due: python

only installing ussa1976 on non widows non arm systems
  pyproject.toml
Due: none

disabling carma on windows arm
  pyproject.toml
Due: none

remove specific c++ version
  CMakeLists.txt
Due: none

arm wheel build
  .github/workflows/docker.yml
  .github/workflows/python-wheels.yml
Due: none

skipping wheels on windows for python <3.11
  pyproject.toml
Due: none

removing intel dockerfile
  .github/workflows/docker.yml
Due: none

Mechansim from string js (#707)
  CMakeLists.txt
  cmake/dependencies.cmake
  docker/Dockerfile.coverage
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/parse.hpp
  javascript/CMakeLists.txt
  javascript/micm/micm.js
  javascript/src/micm/micm.cpp
  javascript/src/micm/micm.h
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
  src/micm/micm_c_interface.cpp
  src/micm/parse.cpp
Due: cpp_fortran, javascript

Auto-format code using Clang-Format and autopep8
  src/micm/micm_c_interface.cpp
Due: cpp_fortran

fix the merging error
  src/micm/parse.cpp
Due: cpp_fortran

Update the version to 0.14.0 (#708)
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  docs/source/user_guide/examples/index.rst
  include/musica/micm/parse.hpp
  pyproject.toml
  python/test/integration/test_analytical.py
  src/micm/convert_v0_to_v1.cpp
  src/micm/parse.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format and autopep8
  python/test/integration/test_analytical.py
Due: python

Adding windows arm build
  .github/workflows/python-tests.yml
  cmake/dependencies.cmake
Due: none

addressing flang errors
  .github/windows_arm64_steps/action.yml
  .github/workflows/python-tests.yml
  src/tuvx/interface_grid_map.F90
  src/tuvx/interface_profile_map.F90
  src/tuvx/interface_radiator_map.F90
Due: cpp_fortran

Disable carma tests on arm windows
  .github/workflows/docker.yml
  .github/workflows/python-tests.yml
  .github/workflows/python-wheels.yml
  pyproject.toml
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_sulfate_box_model.py
Due: python

adding setup windows arm to wheels
  .github/workflows/python-wheels.yml
Due: none

skipping wheels on windows for python <3.11
  .github/workflows/docker.yml
  pyproject.toml
Due: none

testing python files with cibuildwheel
  .github/workflows/python-tests.yml
  .github/workflows/python-wheels.yml
  README.md
  configs/tuvx/data/fixed/O2_cross_section.nc
  configs/tuvx/data/fixed/O2_parameters.txt
  configs/tuvx/data/fixed/bar_cross_section.nc
  configs/tuvx/data/fixed/config.json
  configs/tuvx/data/fixed/foo_cross_section.nc
  configs/tuvx/data/from_host/O2_cross_section.nc
  configs/tuvx/data/from_host/O2_parameters.txt
  configs/tuvx/data/from_host/bar_cross_section.nc
  configs/tuvx/data/from_host/config.json
  configs/tuvx/data/from_host/foo_cross_section.nc
  configs/tuvx/data/full_from_host/O2_cross_section.nc
  configs/tuvx/data/full_from_host/O2_parameters.txt
  configs/tuvx/data/full_from_host/bar_cross_section.nc
  configs/tuvx/data/full_from_host/config.json
  configs/tuvx/data/full_from_host/foo_cross_section.nc
  configs/util_index_mapping_from_file.json
  configs/v1/full_configuration/full_configuration.json
  configs/v1/full_configuration/full_configuration.yaml
  fortran/test/unit/tuvx.F90
  fortran/test/unit/util.F90
  pyproject.toml
  python/test/examples/v1/full_configuration/full_configuration.json
  python/test/examples/v1/full_configuration/full_configuration.yaml
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_sulfate_box_model.py
  python/test/integration/test_tuvx.py
  python/test/unit/test_parser.py
  python/test/unit/test_util_full_mechanism.py
  src/test/CMakeLists.txt
  src/test/unit/tuvx/tuvx_run_from_config.cpp
  src/test/unit/util.cpp
Due: cpp_fortran, python

ignoring ussa1976 on i686
  pyproject.toml
Due: none

removing verbose output from tests
  pyproject.toml
Due: none

bumping versions
  CITATION.cff
  CMakeLists.txt
  package.json
Due: none

bumping versions (#711)
  CITATION.cff
  CMakeLists.txt
  package.json
Due: none

testing a shorter build
  .github/workflows/python-wheels.yml
  pyproject.toml
Due: none

removing cli test to see if that's causing the hangup
  pyproject.toml
Due: none

Using copy of tuvx data
  configs/tuvx/fixed/O2_cross_section.nc
  configs/tuvx/fixed/O2_parameters.txt
  configs/tuvx/fixed/bar_cross_section.nc
  configs/tuvx/fixed/config.json
  configs/tuvx/fixed/foo_cross_section.nc
  configs/tuvx/from_host/O2_cross_section.nc
  configs/tuvx/from_host/O2_parameters.txt
  configs/tuvx/from_host/bar_cross_section.nc
  configs/tuvx/from_host/config.json
  configs/tuvx/from_host/foo_cross_section.nc
  configs/tuvx/full_from_host/O2_cross_section.nc
  configs/tuvx/full_from_host/O2_parameters.txt
  configs/tuvx/full_from_host/bar_cross_section.nc
  configs/tuvx/full_from_host/config.json
  configs/tuvx/full_from_host/foo_cross_section.nc
  configs/tuvx/ts1_tsmlt.json
  configs/tuvx/ts1_tsmlt.yml
  configs/tuvx/tuv_5_4.json
  fortran/test/fetch_content_integration/CMakeLists.txt
  fortran/test/fetch_content_integration/test_tuvx_api.F90
  fortran/test/unit/tuvx.F90
  src/test/unit/tuvx/CMakeLists.txt
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/test/unit/tuvx/tuvx_run_from_config.cpp
Due: cpp_fortran

cleaning up readme and tests
  javascript/README.md
  javascript/tests/unit/wasm/version.test.js
Due: javascript

added default values for profiles
  python/musica/tuvx/profile.py
Due: python

saving progress
  .github/workflows/javascript.yml
  _codeql_detected_source_root
  javascript/CMakeLists.txt
  javascript/tests/unit/wasm/version.test.js
  javascript/tests/util/testUtils.js
  javascript/wasm/index.js
  package.json
Due: javascript

trying some minimal changes
  .github/windows_arm64_steps/action.yml
  .github/workflows/python-wheels.yml
  README.md
  cmake/dependencies.cmake
  pyproject.toml
  python/test/integration/test_carma_aluminum.py
  python/test/integration/test_sulfate_box_model.py
  src/tuvx/interface_grid_map.F90
  src/tuvx/interface_profile_map.F90
  src/tuvx/interface_radiator_map.F90
Due: cpp_fortran, python

stuff
  README.md
  pyproject.toml
Due: none

adding other python versions
  pyproject.toml
Due: none

disabling tuvx for all
  pyproject.toml
Due: none

updating builds, addon locations
  .gitignore
  javascript/CMakeLists.txt
  javascript/index.js
  javascript/load_addon.js
  javascript/micm/micm.js
  javascript/tests/unit/wasm/version.test.js
  javascript/tests/util/testUtils.js
  javascript/wasm/index.js
  package.json
Due: javascript

skipping tests on i686
  pyproject.toml
Due: none

updating wasm tests
  .github/workflows/javascript.yml
Due: none

removing cache
  .github/workflows/javascript.yml
Due: none

updating readme
  javascript/README.md
Due: javascript

removing readme
  javascript/wasm/README.md
Due: javascript

bumping emsdk version
  .github/workflows/javascript.yml
Due: none
