Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

add docs dockerfile to run the github action
  .github/workflows/docker.yml
Due: none

Refactor Python bindings from monkeypatching to composition (#786)
  python/musica/_base.py
  python/musica/mechanism_configuration/ancillary.py
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/mechanism.py
  python/musica/mechanism_configuration/phase.py
  python/musica/mechanism_configuration/phase_species.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/reaction_component.py
  python/musica/mechanism_configuration/reactions.py
  python/musica/mechanism_configuration/species.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  python/musica/micm/micm.py
  python/musica/tuvx/grid.py
  python/musica/tuvx/grid_map.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/profile_map.py
  python/musica/tuvx/radiator.py
  python/musica/tuvx/radiator_map.py
  python/musica/tuvx/tuvx.py
Due: python

Add BinaryBuilder support for Julia package distribution
  cmake/dependencies.cmake
  julia/DISTRIBUTION.md
  julia/Project.toml
  julia/README.md
  julia/src/Musica.jl
  julia/yggdrasil/build_tarballs.jl
Due: none

updating build documetation
  julia/DISTRIBUTION.md
  julia/README.md
  julia/yggdrasil/build_tarballs.jl
Due: none

fix the url
  docs/source/conf.py
Due: none

invoke preview
  .github/workflows/docker.yml
Due: none

add fortran compiler
  environment.yaml
Due: none

disable unnecessary options to build doxygen
  .readthedocs.yaml
Due: none

use conda specific
  .readthedocs.yaml
Due: none

fix the syntax
  .readthedocs.yaml
Due: none

revert back
  .readthedocs.yaml
Due: none

add dependency bundle
  .readthedocs.yaml
Due: none

Set up for readthedocs (#790)
  .github/workflows/docker.yml
  .github/workflows/gh_pages.yml
  .readthedocs.yaml
  docker/Dockerfile.docs
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/requirements.txt
  docs/source/_static/switcher.json
  docs/source/conf.py
  environment.yaml
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  docs/source/conf.py
Due: none

adding header
  src/micm/parse.cpp
Due: cpp_fortran

removing files
  julia/DISTRIBUTION.md
  julia/README.md
  julia/yggdrasil/build_tarballs.jl
Due: none

attempting to build musllinux
  pyproject.toml
  python/tools/prepare_build_environment_linux.sh
Due: python

Starts adding mechanism configuration
  include/musica/micm/micm.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/micm/micm.js
  javascript/rate_function_registry.js
  javascript/tests/unit/lambda_rate_constant.test.js
  src/micm/micm.cpp
Due: cpp_fortran, javascript

it parses
  javascript/mechanism_configuration/reaction_types.js
  javascript/tests/unit/lambda_rate_constant.test.js
Due: javascript

Test passes
  cmake/dependencies.cmake
  include/musica/micm/lambda_callback.hpp
  javascript/bindings/musica_wasm.cpp
  javascript/index.js
  javascript/micm/index.js
  javascript/micm/lambda_callbacks.js
  javascript/tests/unit/lambda_rate_constant.test.js
  src/micm/CMakeLists.txt
  src/micm/lambda_callback.cpp
  src/micm/micm.cpp
  src/micm/v1_parse.cpp
Due: cpp_fortran, javascript

Add lambda_rate example
  javascript/tools/serve.js
  javascript/wasm/example.html
Due: javascript

enabling all builds
  pyproject.toml
Due: none

deploying web example to github pages
  .github/workflows/pages.yml
  javascript/wasm/example.html
Due: javascript

renaming to index.html
  javascript/README.md
  javascript/tools/serve.js
  javascript/wasm/index.html
  package.json
Due: javascript

deploying web example to github pages (#793)
  .github/workflows/pages.yml
  javascript/README.md
  javascript/tools/serve.js
  javascript/wasm/index.html
  package.json
Due: javascript

adding example link
  javascript/README.md
Due: javascript

Wire Musica.jl to Musica_jll for binary distribution
  julia/Project.toml
  julia/README.md
  julia/src/Musica.jl
Due: none

Fix Pkg.develop path to use expanduser instead of literal ~
  julia/README.md
Due: none

add julia and c++ binding code
  julia/CMakeLists.txt
  julia/Project.toml
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/src/micm/conditions.jl
  julia/src/micm/constants.jl
  julia/src/micm/micm.jl
  julia/src/micm/solver.jl
  julia/src/micm/solver_parameters.jl
  julia/src/micm/solver_result.jl
  julia/src/micm/state.jl
  julia/src/micm/utils.jl
  julia/test/runtests.jl
Due: none

Simplify Julia/CxxWrap discovery to rely on CMAKE_PREFIX_PATH
  cmake/dependencies.cmake
  julia/README.md
Due: none

update code changes suggested by claude
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/src/micm/micm.jl
  julia/src/micm/state.jl
  julia/test/runtests.jl
Due: none

more coe changes suggested by claude
  julia/bindings/musica_julia.cpp
  julia/src/micm/micm.jl
  julia/src/micm/state.jl
  julia/test/runtests.jl
Due: none

last code change suggested by claude
  julia/src/micm/utils.jl
Due: none

try to fix broken julia tests
  .github/workflows/julia.yml
Due: none

add -fPIC flag
  .github/workflows/julia.yml
  docker/Dockerfile.julia
Due: none

fix cxxwrap_julia_stl link error
  julia/CMakeLists.txt
Due: none

set MUSICA_JULIA_LIB env var
  .github/workflows/julia.yml
Due: none
