Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

NetCDF: reuse host-provided target before searching; roll deps back to pkg-config
  cmake/FindNetCDF.cmake
  cmake/dependencies.cmake
  src/CMakeLists.txt
Due: cpp_fortran

NetCDF: link resolved target directly; fix Dockerfile.tuvx commit-hash clone
  cmake/dependencies.cmake
  docker/Dockerfile.tuvx
  src/CMakeLists.txt
Due: cpp_fortran

ci: drop Clang 19 from Windows matrix (runner MSVC STL requires Clang >= 20)
  .github/workflows/windows.yml
Due: none

cmake changes
  CMakeLists.txt
  cmake/SetDefaults.cmake
  fortran/examples/CMakeLists.txt
Due: cpp_fortran

tuvx commit
  cmake/dependencies.cmake
Due: none

carma tag
  cmake/dependencies.cmake
Due: none

Update docker/Dockerfile
  docker/Dockerfile
Due: none

add miam to build
  .gitignore
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/musica.settings.in
  cmake/summary.cmake
  docs/MIAM_INTEGRATION_PLAN.md
  src/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

add DAE solvers for MICM to C/Python APIs
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/solver_parameters.hpp
  python/bindings/micm/micm.cpp
  python/bindings/micm/solver.cpp
  python/musica/micm/micm.py
  python/musica/micm/solver_parameters.py
  python/test/unit/micm/test_micm.py
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, python

update micm and miam commits
  cmake/dependencies.cmake
Due: none

add tutorial on MIAM components
  tutorials/13. miam_processes_and_constraints.ipynb
Due: none

remove unused conversion factor
  tutorials/12. dae_solving_intro.ipynb
Due: none

update tutorials
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

add miam to python API
  include/musica/miam/miam_builder.hpp
  include/musica/miam/miam_types.hpp
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/micm.hpp
  pyproject.toml
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/miam/miam.cpp
  python/musica/__init__.py
  python/musica/mechanism_configuration/species.py
  python/musica/miam/__init__.py
  python/musica/miam/constants.py
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/musica/miam/representations.py
  python/musica/micm/micm.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/__init__.py
  python/test/unit/miam/test_miam_types.py
  src/CMakeLists.txt
  src/miam/CMakeLists.txt
  src/miam/miam_builder.cpp
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/test/unit/CMakeLists.txt
  src/test/unit/miam/CMakeLists.txt
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

remove adaptive time steps and add cam cloud tutorial
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

add miam solver tests
  python/test/integration/test_miam_cloud_chemistry.py
Due: python

add DAE tutorial
  tutorials/12. dae_solving_intro.ipynb
Due: none

bumping micm tag, fixing API
  cmake/dependencies.cmake
  src/miam/miam_builder.cpp
Due: cpp_fortran

update for MIAM's new linear constraint option
  .gitignore
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: cpp_fortran, python

Binder update (#844)
  README.md
  binder/postBuild
Due: none

remove accidental submodule
  .gitignore
Due: none

update tutorials and add tests
  .github/prompts/cam_cloud_chemistry_status.md
  .github/prompts/dae_algebraic_overshoot.md
  .github/prompts/notes_on_cloud_chem.md
  check_nb_errors.py
  configs/v1/cam_cloud_chemistry/config.json
  debug_total_s_constraint.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  src/test/unit/miam/miam_builder.cpp
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

update to latest MICM and MIAM
  .github/issues/rosenbrock_dae_algebraic_error.md
  .github/prompts/cam_cloud_chemistry_status.md
  .github/prompts/dae_algebraic_overshoot.md
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  src/miam/miam_builder.cpp
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

update cam cloud chemistry tutorial
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

update parameter name
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/model.py
  python/musica/miam/processes.py
  src/miam/miam_builder.cpp
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

update MIAM
  .github/prompts/miam_max_halflife_nan_bug.md
  cmake/dependencies.cmake
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

tune cloud chemistry in tutorial
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

update miam and micm
  .gitignore
  cmake/dependencies.cmake
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  src/miam/miam_builder.cpp
Due: cpp_fortran, python

merge in latest micm and miam commits
  cmake/dependencies.cmake
Due: none

update to latest miam commit
  cmake/dependencies.cmake
  debug_total_s_constraint.py
  include/musica/miam/miam_types.hpp
  python/bindings/miam/miam.cpp
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/test/integration/diagnose_dae_error.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/test_miam_types.py
  src/miam/miam_builder.cpp
  tutorials/11. ts1_box_model.ipynb
  tutorials/12. dae_solving_intro.ipynb
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: cpp_fortran, python

correcting miam
  cmake/dependencies.cmake
  src/miam/miam_builder.cpp
Due: cpp_fortran

use musica error style in miam builder
  include/musica/miam/miam_builder.hpp
  python/bindings/miam/miam.cpp
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

update readme
  README.md
Due: none

add miam to build
  cmake/dependencies.cmake
Due: none

bumping micm tag, fixing API
  src/micm/v1_parse.cpp
Due: cpp_fortran

update for MIAM's new linear constraint option
  cmake/dependencies.cmake
  tutorials/13. miam_processes_and_constraints.ipynb
Due: none

merge in latest micm and miam commits
  src/micm/v1_parse.cpp
Due: cpp_fortran

correcting miam
  cmake/dependencies.cmake
Due: none

add a check for h2o2
  python/test/integration/test_miam_cloud_chemistry.py
Due: python
