Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

bumping tuvx tag
  cmake/dependencies.cmake
Due: none

fix FindNetCDF recursion when netCDF-FortranConfig calls find_dependency
  cmake/FindNetCDF.cmake
Due: none

update TUV-x tag to include FindNetCDF recursion fix
  cmake/dependencies.cmake
Due: none

updating commit
  cmake/dependencies.cmake
Due: none

fix Dockerfile.tuvx to support commit hash tags
  docker/Dockerfile.tuvx
Due: none

using commit from micm main
  cmake/dependencies.cmake
Due: none

udpating micm, mech config tags
  cmake/dependencies.cmake
Due: none

mech config tag
  cmake/dependencies.cmake
Due: none

initial "hello world" example for Musica.jl
  tutorials/julia_tutorial_notebooks/0. Welcome to MUSICA.ipynb
  tutorials/julia_tutorial_scripts/0. Welcome to MUSICA.jl
Due: none

remove fetch content
  .github/workflows/fetch-content.yml.disabled
  CMakeLists.txt
  docker/Dockerfile
  docker/Dockerfile.coverage
  docker/Dockerfile.fetch-content
  docker/Dockerfile.fortran-gcc.integration
  docker/Dockerfile.fortran-intel.pkgconfig
  docker/Dockerfile.fortran-nvhpc.pkgconfig
  docker/Dockerfile.julia
  docker/Dockerfile.memcheck
  docker/Dockerfile.mpi
  docker/Dockerfile.mpi_openmp
  docker/Dockerfile.nvhpc
  docker/Dockerfile.openmp
  docker/Dockerfile.python
  docker/Dockerfile.tuvx
  fortran/CMakeLists.txt
  fortran/test/fetch_content_integration/CMakeLists.txt
  fortran/test/integration/CMakeLists.txt
  fortran/test/unit/CMakeLists.txt
Due: cpp_fortran

update intel compiler test
  docker/Dockerfile
  docker/Dockerfile.fortran-gcc.integration
  docker/Dockerfile.fortran-intel.pkgconfig
Due: none

reconfig dockerfile for nvhpc, intel, code coverage
  docker/Dockerfile.coverage
  docker/Dockerfile.fortran-intel.pkgconfig
  docker/Dockerfile.fortran-nvhpc.pkgconfig
Due: none

update the dockerfile
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  docker/Dockerfile
  docker/Dockerfile.coverage
  docker/Dockerfile.docs
  docker/Dockerfile.fortran-intel.pkgconfig
  docker/Dockerfile.fortran-nvhpc.pkgconfig
  docker/Dockerfile.julia
  docker/Dockerfile.manylinux.gpu
  docker/Dockerfile.memcheck
  docker/Dockerfile.mpi
  docker/Dockerfile.mpi_openmp
  docker/Dockerfile.nvhpc
  docker/Dockerfile.openmp
  docker/Dockerfile.python
  docker/Dockerfile.tuvx
  docker/Dockerfile.wheel
Due: none

fix the test failure
  .github/workflows/python-wheels.yml
  cmake/CodeCoverage.cmake
  docker/Dockerfile.docs
  docker/Dockerfile.wheel
Due: none

add lapack
  docker/Dockerfile.docs
Due: none

remove tutorial
  fortran/test/tutorial/CMakeLists.txt
  fortran/test/tutorial/demo.F90
Due: cpp_fortran

update the docs
  docs/source/user_guide/fortran/chapter1.rst
Due: none

Add TUV-x subset photolysis example and tutorial (#859)
  python/musica/examples/tuvx_subset_photolysis.py
  tutorials/12. tuv-x_subset_photolysis.ipynb
Due: python

docs: tighten language in chapter 4 tutorial and Fortran docs
  docs/source/user_guide/fortran/chapter4.rst
  tutorials/4. multiple_mechanisms.ipynb
Due: none

add multiple mechanisms tutorial as #12 instead of inserting at #4
  docs/source/user_guide/python/notebooks/index.rst
  tutorials/10. chapman.ipynb
  tutorials/11. ts1_box_model.ipynb
  tutorials/12. multiple_mechanisms.ipynb
  tutorials/4. local_parallelization.ipynb
  tutorials/5. hpc_parallelization.ipynb
  tutorials/6. gpu_solver.ipynb
  tutorials/7. carma.ipynb
  tutorials/8. tuv-x_standard_configurations.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: none

address the code review comments
  CMakeLists.txt
  cmake/musica-fortran.pc.in
  cmake/musica-fortranConfig.cmake.in
  cmake/musica.pc.in
  cmake/musica.settings.in
  docker/Dockerfile
  docker/Dockerfile.fortran-intel.pkgconfig
  docker/Dockerfile.fortran-nvhpc.pkgconfig
  fortran/packaging/CMakeLists.txt
  javascript/CMakeLists.txt
  julia/CMakeLists.txt
  pyproject.toml
  src/CMakeLists.txt
Due: cpp_fortran, javascript

fix a bug
  CMakeLists.txt
Due: none

fix: add missing cstdint include to fix Windows build
  include/musica/micm/solver_interface.hpp
Due: cpp_fortran

fix: move cstdint include before MICM solver_result.hpp
  include/musica/micm/solver_interface.hpp
Due: cpp_fortran

hard code lib path
  julia/CMakeLists.txt
Due: none

enable tuvx and carma with gpu support
  docker/Dockerfile.nvhpc
Due: none

add the missing libs
  docker/Dockerfile.nvhpc
Due: none

add musica fortran to gpu support test
  docker/Dockerfile.nvhpc
Due: none

let os find shared object
  docker/Dockerfile.intel
  docker/Dockerfile.nvhpc
Due: none

remove nvhpc pkgconfig which is now consolidated into nvhpc dockerfile
  docker/Dockerfile.fortran-nvhpc.pkgconfig
Due: none

add CI actions for intel compilers
  .github/workflows/docker.yml
Due: none

remove intel - gpg issue
  .github/workflows/docker.yml
Due: none

Refactor build system, cleanup docker configuration and fortran components (#884)
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/fetch-content.yml.disabled
  .github/workflows/python-wheels.yml
  CMakeLists.txt
  cmake/CodeCoverage.cmake
  cmake/musica-fortran.pc.in
  cmake/musica-fortranConfig.cmake.in
  cmake/musica.pc.in
  cmake/musica.settings.in
  docker/Dockerfile
  docker/Dockerfile.coverage
  docker/Dockerfile.docs
  docker/Dockerfile.fetch-content
  docker/Dockerfile.fortran-gcc.integration
  docker/Dockerfile.fortran-intel.pkgconfig
  docker/Dockerfile.fortran-nvhpc.pkgconfig
  docker/Dockerfile.intel
  docker/Dockerfile.julia
  docker/Dockerfile.manylinux.gpu
  docker/Dockerfile.memcheck
  docker/Dockerfile.mpi
  docker/Dockerfile.mpi_openmp
  docker/Dockerfile.nvhpc
  docker/Dockerfile.openmp
  docker/Dockerfile.python
  docker/Dockerfile.tuvx
  docker/Dockerfile.wheel
  docs/source/user_guide/fortran/chapter1.rst
  fortran/CMakeLists.txt
  fortran/packaging/CMakeLists.txt
  fortran/test/fetch_content_integration/CMakeLists.txt
  fortran/test/integration/CMakeLists.txt
  fortran/test/tutorial/CMakeLists.txt
  fortran/test/tutorial/demo.F90
  fortran/test/unit/CMakeLists.txt
  javascript/CMakeLists.txt
  julia/CMakeLists.txt
  pyproject.toml
  src/CMakeLists.txt
Due: cpp_fortran, javascript

Tutorial Ch 4: Multiple mechanisms in the same host application (#867)
  .gitignore
  docs/source/user_guide/fortran/chapter4.rst
  docs/source/user_guide/fortran/index.rst
  docs/source/user_guide/python/multigrid/parallel/index.rst
  docs/source/user_guide/python/notebooks/index.rst
  fortran/test/integration/CMakeLists.txt
  fortran/test/tutorial/test_multiple_mechanisms.F90
  include/musica/micm/solver_interface.hpp
  tutorials/12. multiple_mechanisms.ipynb
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/micm/solver_interface.hpp
Due: cpp_fortran

update clang format for the include lists to prioritize musica owned projects
  .clang-format
Due: none

update the comments
  .clang-format
Due: none

Update clang-format include ordering to prioritize MUSICA-owned projects (#886)
  .clang-format
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/bindings/micm/micm.cpp
  src/micm/v0_parse.cpp
  src/micm/v1_parse.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
