Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

correcting ci file
  .github/workflows/docker.yml
Due: none

starting to play with a shared base
  .github/workflows/docker.yml
  .github/workflows/fetch_content_integration.yml
  docker/Dockerfile
  docker/Dockerfile.coverage
  docker/Dockerfile.docs
  docker/Dockerfile.fortran-gcc
  docker/Dockerfile.python
Due: none

adding dockerfile for javascript (#721)
  .dockerignore
  .github/workflows/docker.yml
  CMakeLists.txt
  docker/Dockerfile.javascript
Due: none

Refactoring tuvx tests
  .github/workflows/docker.yml
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/musicaConfig.cmake.in
  cmake/setup_musica_target.cmake
  docker/Dockerfile.fetch-content
  docker/Dockerfile.fortran-gcc.integration
  fortran/CMakeLists.txt
  fortran/musica.F90
  fortran/packaging/CMakeLists.txt
  fortran/test/CMakeLists.txt
  fortran/test/fetch_content_integration/CMakeLists.txt
  fortran/test/fetch_content_integration/test_get_micm_version.F90
  fortran/test/integration/CMakeLists.txt
  fortran/test/integration/test_micm_api.F90
  fortran/test/integration/test_micm_box_model.F90
  fortran/test/integration/test_micm_multiple_grid_cells.F90
  fortran/test/integration/test_tuvx_api.F90
  fortran/test/test_simple.F90
  fortran/test/tutorial/demo.F90
  fortran/test/unit/CMakeLists.txt
  fortran/util.F90
  src/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Docker readme
  docker/README.md
Due: none

Enable tuv in fetch content tests
  cmake/musica.pc.in
  docker/Dockerfile.fetch-content
  docker/Dockerfile.fortran-gcc
  docker/Dockerfile.fortran-intel
  docker/Dockerfile.fortran-nvhpc
  docker/Dockerfile.nvhpc
  docker/README.md
  fortran/test/fetch_content_integration/CMakeLists.txt
Due: cpp_fortran

Combining docker tests
  .github/workflows/docker.yml
  .github/workflows/fetch_content_integration.yml
Due: none

adding needs
  .github/workflows/docker.yml
Due: none

using one mod/install mod dir
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/setup_musica_target.cmake
  fortran/CMakeLists.txt
  fortran/packaging/CMakeLists.txt
  src/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

pulling in carma dependencies
  cmake/setup_musica_target.cmake
Due: none

trying to cache
  .github/workflows/docker.yml
Due: none

remove debug build
  .github/workflows/docker.yml
Due: none

simplifying
  .github/workflows/docker.yml
Due: none

adding branch name
  .github/workflows/docker.yml
Due: none

readding file
  docker/Dockerfile.nvhpc
Due: none

running tests
  .github/workflows/docker.yml
  cmake/setup_musica_target.cmake
Due: none

both
  cmake/setup_musica_target.cmake
Due: none

clearing disk space
  .github/workflows/docker.yml
Due: none

adding closing tick
  .github/workflows/docker.yml
Due: none

responding to pr comments
  .github/workflows/docker.yml
  docker/README.md
Due: none

reducing duplicated netcdf links
  cmake/dependencies.cmake
Due: none

updating readmes
  README.md
  fortran/README.md
  javascript/README.md
  python/README.md
Due: cpp_fortran, javascript, python

Refactor tuvx tests (#722)
  .github/workflows/docker.yml
  .github/workflows/fetch_content_integration.yml
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/musica.pc.in
  cmake/musicaConfig.cmake.in
  cmake/setup_musica_target.cmake
  docker/Dockerfile.fetch-content
  docker/Dockerfile.fortran-gcc
  docker/Dockerfile.fortran-gcc.integration
  docker/Dockerfile.fortran-intel
  docker/Dockerfile.fortran-nvhpc
  docker/README.md
  fortran/CMakeLists.txt
  fortran/musica.F90
  fortran/packaging/CMakeLists.txt
  fortran/test/CMakeLists.txt
  fortran/test/fetch_content_integration/CMakeLists.txt
  fortran/test/fetch_content_integration/test_get_micm_version.F90
  fortran/test/integration/CMakeLists.txt
  fortran/test/integration/test_micm_api.F90
  fortran/test/integration/test_micm_box_model.F90
  fortran/test/integration/test_micm_multiple_grid_cells.F90
  fortran/test/integration/test_tuvx_api.F90
  fortran/test/test_simple.F90
  fortran/test/tutorial/demo.F90
  fortran/test/unit/CMakeLists.txt
  fortran/util.F90
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Reorganize READMEs for Python, JavaScript, and Fortran interfaces (#726)
  README.md
  fortran/README.md
  javascript/README.md
  python/README.md
Due: cpp_fortran, javascript, python

starting pkg config file
  docker/Dockerfile.pkg-config
Due: none

bumping version, updating release steps
  .github/workflows/javascript.yml
  CMakeLists.txt
  package.json
  scripts/extract_version.js
Due: none

Enable npm publishing on release with proper file bundling (#727)
  .github/workflows/javascript.yml
  CMakeLists.txt
  package.json
  scripts/extract_version.js
Due: none

updatig id token permissions
  .github/workflows/javascript.yml
Due: none

stuff
  docker/Dockerfile.fortran-nvhpc.pkgconfig
  docker/Dockerfile.pkg-config
Due: none

removing provenance
  .github/workflows/javascript.yml
Due: none

adding ncar scope
  .github/workflows/javascript.yml
Due: none

building fortran library per compiler
  docker/Dockerfile.pkg-config
Due: none

correcting link
  README.md
  package.json
Due: none

removing unused function
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/src/musica_wasm.cpp
  javascript/tests/unit/micm.test.js
  package.json
Due: javascript

removing unused function, again
  javascript/micm/micm.js
Due: javascript

handling any number of grid cells
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/state.hpp
  javascript/CMakeLists.txt
  javascript/micm/index.js
  javascript/micm/micm.js
  javascript/micm/solver.js
  javascript/micm/state.js
  javascript/src/musica_wasm.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/state.test.js
  python/bindings/micm/micm.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/state.cpp
Due: cpp_fortran, javascript, python

removing wrappers
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/src/micm/state_wrapper.cpp
  javascript/src/micm/state_wrapper.h
Due: javascript

fixing includes
  javascript/src/musica_wasm.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, javascript

responding to pr comments
  include/musica/micm/state.hpp
  javascript/micm/state.js
  javascript/tests/integration/analytical.test.js
Due: cpp_fortran, javascript
