Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

Update tutorials/8.tuv-x_standard_configurations.ipynb
  tutorials/8.tuv-x_standard_configurations.ipynb
Due: none

merge main into develop-603-tuvx-examples
  .github/workflows/format.yml
  .github/workflows/julia.yml
  .github/workflows/windows.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/dependencies.cmake
  configs/v1/ts1/ts1.json
  docs/source/api/index.rst
  docs/source/api/julia.rst
  include/musica/micm/parse.hpp
  julia/.gitignore
  julia/CMakeLists.txt
  julia/Project.toml
  julia/README.md
  julia/bindings/musica_julia.cpp
  julia/src/Musica.jl
  julia/test/runtests.jl
  package.json
  pyproject.toml
  python/bindings/mechanism_configuration/mechanism_configuration.cpp
  python/musica/examples/examples.py
  python/musica/examples/ts1_box_model.py
  python/musica/main.py
  python/musica/mechanism_configuration/utils.py
  src/micm/convert_v0_to_v1.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, python

packaging configs
  python/bindings/CMakeLists.txt
  python/musica/tuvx/v54.py
  python/musica/tuvx/vTS1.py
Due: python

ignoring duplicate named nc files
  .github/workflows/python-wheels.yml
Due: none

Add BinaryBuilder support for Julia package distribution
  cmake/dependencies.cmake
  julia/DISTRIBUTION.md
  julia/Project.toml
  julia/README.md
  julia/src/Musica.jl
  julia/yggdrasil/build_tarballs.jl
Due: none

Fix memory safety in TUV-x Python bindings for array returns (#759)
  python/bindings/tuvx/tuvx.cpp
Due: python

[WIP] Update TUV-x examples and tutorial based on feedback (#760)
  include/musica/tuvx/tuvx.hpp
Due: cpp_fortran

responding to pr comments
  python/musica/tuvx/v54.py
  python/musica/tuvx/vTS1.py
  python/musica/utils.py
  python/test/integration/test_tuvx_v54.py
  python/test/integration/test_tuvx_vts1.py
Due: python

adding ffmpeg
  python/tools/prepare_build_environment_macos.sh
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/tuvx/radiator.hpp
  include/musica/tuvx/tuvx.hpp
  include/musica/tuvx/tuvx_c_interface.hpp
  python/bindings/tuvx/grid.cpp
  python/bindings/tuvx/profile.cpp
  python/bindings/tuvx/radiator.cpp
  python/musica/examples/tuvx_5_4.py
  python/musica/examples/tuvx_TS1_TSMLT.py
  python/musica/tuvx/profile.py
  python/musica/tuvx/tuvx.py
  python/musica/tuvx/v54.py
  python/musica/tuvx/vTS1.py
  python/musica/utils.py
  python/test/integration/test_tuvx.py
  python/test/integration/test_tuvx_v54.py
  python/test/integration/test_tuvx_vts1.py
  python/test/unit/tuvx/test_v54.py
  src/tuvx/grid.cpp
  src/tuvx/profile.cpp
  src/tuvx/radiator.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran, python

Add Derecho build docs and fix yaml-cpp install target
  DERECHO_BUILD.md
  README.md
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Rename DERECHO_BUILD.md to BUILD_DERECHO.md and generalize paths
  BUILD_DERECHO.md
  README.md
Due: none

Update BUILD_DERECHO.md with Derecho module setup commands
  BUILD_DERECHO.md
Due: none

Update build to ncarenv/25.10 with GCC 14.3 and enable CARMA
  BUILD_DERECHO.md
Due: none

Use make -j$(nproc) in build instructions
  BUILD_DERECHO.md
Due: none

Add build script and enable Fortran interface
  BUILD_DERECHO.md
  build_derecho.sh
Due: none

Move Derecho build files to machines/derecho/
  README.md
  machines/derecho/BUILD.md
  machines/derecho/build.sh
Due: none

Fix yaml-cpp export set error for mechanism_configuration
  cmake/musicaConfig.cmake.in
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Make yaml-cpp find_dependency conditional on bundling
  cmake/musicaConfig.cmake.in
  src/packaging/CMakeLists.txt
Due: cpp_fortran

using tuvx to drive photo rates
  configs/tuvx/ts1_tsmlt.json
  configs/v0/TS1/reactions.json
  python/musica/examples/ts1_box_model.py
  python/musica/tuvx/vTS1.py
Due: python

turn the example into a column model
  python/musica/examples/ts1_box_model.py
Due: python

responding to pr comments
  python/musica/examples/ts1_box_model.py
Due: python

codee dockerfile
  .dockerignore
  .gitignore
  docker/Dockerfile.codee
Due: none

generating compile commands
  docker/Dockerfile.codee
Due: none

Add missing cmake module to Derecho build environment
  machines/derecho/BUILD.md
  machines/derecho/build.sh
Due: none

Defer set -euo pipefail until after Lmod module loading
  machines/derecho/build.sh
Due: none

Force static yaml-cpp build and install on Derecho
  machines/derecho/BUILD.md
  machines/derecho/build.sh
Due: none

nonblocking tests
  python/musica/examples/sulfate_box_model.py
  python/musica/examples/tuvx_5_4.py
  python/musica/examples/tuvx_TS1_TSMLT.py
Due: python

using tuvx to drive photo rates (#766)
  configs/tuvx/ts1_tsmlt.json
  configs/v0/TS1/reactions.json
  python/musica/examples/sulfate_box_model.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/tuvx_5_4.py
  python/musica/examples/tuvx_TS1_TSMLT.py
  python/musica/tuvx/vTS1.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/musica/examples/ts1_box_model.py
  python/musica/tuvx/vTS1.py
Due: python

adding fortran interface
  docker/Dockerfile.codee
Due: none

Chapman box model with tuvx rates
  configs/v1/chapman/config.json
  pyproject.toml
  python/musica/examples/chapman.py
  python/musica/examples/examples.py
Due: python

Correcting tests
  configs/v1/chapman/config.json
  configs/v1/chapman/config.yaml
  fortran/test/integration/test_micm_api.F90
  fortran/util.F90
  pyproject.toml
  python/musica/examples/chapman.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  python/test/integration/test_analytical.py
  python/test/integration/test_chapman.py
  python/test/integration/test_tuvx.py
  python/test/unit/micm/test_micm.py
  python/test/unit/test_parser.py
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, python

simplifying nc creation
  docker/Dockerfile.wheel
  pyproject.toml
  python/musica/examples/chapman.py
Due: python

correcting js tests
  javascript/tests/integration/chapman.test.js
Due: javascript

getting wheel to pass chapman test
  pyproject.toml
  python/musica/examples/chapman.py
Due: python

703 package configurations with the musica python package (#769)
  configs/v1/chapman/config.json
  configs/v1/chapman/config.yaml
  docker/Dockerfile.wheel
  fortran/test/integration/test_micm_api.F90
  fortran/util.F90
  javascript/tests/integration/chapman.test.js
  pyproject.toml
  python/musica/examples/chapman.py
  python/musica/examples/examples.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
  python/test/integration/test_analytical.py
  python/test/integration/test_chapman.py
  python/test/integration/test_tuvx.py
  python/test/unit/micm/test_micm.py
  python/test/unit/test_parser.py
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, javascript, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/tests/integration/chapman.test.js
  python/musica/examples/chapman.py
  python/musica/examples/ts1_box_model.py
  python/test/integration/test_chapman.py
Due: javascript, python

Remove musica_cuda_abi_version function
  include/musica/micm/cuda_loader.hpp
  src/cuda/cuda_factory.cpp
  src/micm/cuda_loader.cpp
Due: cpp_fortran
