Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

remove rc
  package.json
Due: none

remove rc (#828)
  package.json
Due: none

save output
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/10. chapman.ipynb
  tutorials/11. ts1_box_model.ipynb
  tutorials/2. hypercube.ipynb
  tutorials/3. user_defined_reactions.ipynb
  tutorials/8. tuv-x_standard_configurations.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: none

save output (#829)
  tutorials/0. Welcome to MUSICA.ipynb
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/10. chapman.ipynb
  tutorials/11. ts1_box_model.ipynb
  tutorials/2. hypercube.ipynb
  tutorials/3. user_defined_reactions.ipynb
  tutorials/8. tuv-x_standard_configurations.ipynb
  tutorials/9. tuv-x_conditions.ipynb
Due: none

pointing example to npmjs
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  javascript/wasm/widget.html
Due: javascript

pointing example to npmjs (#830)
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  javascript/wasm/widget.html
Due: javascript

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/wasm/musica.js
Due: javascript

forcing version
  binder/environment.yml
Due: none

updating binder link
  README.md
Due: none

forcing 0.15.0 in binder
  binder/environment.yml
Due: none

defaulting version to 1.0.0
  python/musica/mechanism_configuration/mechanism.py
Due: python

moving mech config tests, adding version test
  python/test/unit/mechanism_configuration/test_mechanism.py
  python/test/unit/mechanism_configuration/test_parser.py
  python/test/unit/mechanism_configuration/test_serializer.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
Due: python

simplifying tests
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_mechanism.py
Due: python

adding tuvx dockerfile
  .github/workflows/docker.yml
Due: none

correcting tuvx docker test
  .github/workflows/docker.yml
Due: none

update link to spack
  .github/ISSUE_TEMPLATE/release.md
Due: none

update link to spack (#836)
  .github/ISSUE_TEMPLATE/release.md
Due: none

updating version name
  python/test/unit/mechanism_configuration/test_mechanism.py
Due: python

defaulting version to 1.0.0 (#833)
  .github/workflows/docker.yml
  python/musica/mechanism_configuration/mechanism.py
  python/test/unit/mechanism_configuration/test_mechanism.py
  python/test/unit/mechanism_configuration/test_parser.py
  python/test/unit/mechanism_configuration/test_serializer.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  javascript/wasm/musica.js
  python/test/unit/mechanism_configuration/test_mechanism.py
Due: javascript, python

update MICM API
  cmake/dependencies.cmake
  src/cuda/cuda_solver.cpp
  src/micm/cpu_solver.cpp
Due: cpp_fortran

update MICM API (#840)
  cmake/dependencies.cmake
  src/cuda/cuda_solver.cpp
  src/micm/cpu_solver.cpp
Due: cpp_fortran

add miam to build
  .gitignore
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/musica.settings.in
  cmake/summary.cmake
  docs/MIAM_INTEGRATION_PLAN.md
  src/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

add DAE solvers for MICM to C/Python APIs
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/solver_parameters.hpp
  python/bindings/micm/micm.cpp
  python/bindings/micm/solver.cpp
  python/musica/micm/micm.py
  python/musica/micm/solver_parameters.py
  python/test/unit/micm/test_micm.py
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, python

reaction type
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  python/test/integration/test_analytical.py
  python/test/integration/test_chapman.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
  python/test/unit/micm/test_state.py
Due: python

Update python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/user_defined.py
Due: python

other reactions
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  tutorials/1. multiple_grid_cells.ipynb
  tutorials/3. user_defined_reactions.ipynb
Due: python

Revert unintended changes to notebook
  tutorials/1. multiple_grid_cells.ipynb
Due: none

add miam to python API
  include/musica/miam/miam_builder.hpp
  include/musica/miam/miam_types.hpp
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/micm.hpp
  pyproject.toml
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/miam/miam.cpp
  python/musica/__init__.py
  python/musica/mechanism_configuration/species.py
  python/musica/miam/__init__.py
  python/musica/miam/constants.py
  python/musica/miam/constraints.py
  python/musica/miam/model.py
  python/musica/miam/processes.py
  python/musica/miam/representations.py
  python/musica/micm/micm.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/unit/miam/__init__.py
  python/test/unit/miam/test_miam_types.py
  src/CMakeLists.txt
  src/miam/CMakeLists.txt
  src/miam/miam_builder.cpp
  src/micm/cpu_solver.cpp
  src/micm/micm.cpp
  src/test/unit/CMakeLists.txt
  src/test/unit/miam/CMakeLists.txt
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

add miam solver tests
  python/test/integration/test_miam_cloud_chemistry.py
Due: python

add DAE tutorial
  tutorials/12. dae_solving_intro.ipynb
Due: none

add tutorial on MIAM components
  tutorials/13. miam_processes_and_constraints.ipynb
Due: none

remove unused conversion factor
  tutorials/12. dae_solving_intro.ipynb
Due: none

remove adaptive time steps and add cam cloud tutorial
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

Fix mechanism configuration reactants, products interface (#841)
  python/musica/mechanism_configuration/arrhenius.py
  python/musica/mechanism_configuration/branched.py
  python/musica/mechanism_configuration/emission.py
  python/musica/mechanism_configuration/first_order_loss.py
  python/musica/mechanism_configuration/photolysis.py
  python/musica/mechanism_configuration/surface.py
  python/musica/mechanism_configuration/taylor_series.py
  python/musica/mechanism_configuration/ternary_chemical_activation.py
  python/musica/mechanism_configuration/troe.py
  python/musica/mechanism_configuration/tunneling.py
  python/musica/mechanism_configuration/user_defined.py
  python/musica/mechanism_configuration/utils.py
  python/test/integration/test_analytical.py
  python/test/integration/test_chapman.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
  python/test/unit/micm/test_state.py
  tutorials/3. user_defined_reactions.ipynb
Due: python

update micm and miam commits
  cmake/dependencies.cmake
Due: none

update tutorials
  tutorials/13. miam_processes_and_constraints.ipynb
  tutorials/14. cam_cloud_chemistry.ipynb
Due: none

troubleshooting binder
  README.md
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
