Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

adding lorenz movie creation (#737)
  python/musica/examples/examples.py
  python/musica/examples/lorenz.py
Due: python

Update javascript/tests/unit/micm.test.js
  javascript/tests/unit/micm.test.js
Due: javascript

Auto-format code using Clang-Format and autopep8
  python/musica/examples/examples.py
  python/musica/examples/lorenz.py
Due: python

deleting javascript objects (#738)
  javascript/micm/micm.js
  javascript/micm/state.js
  javascript/tests/unit/micm.test.js
Due: javascript

trying to fix
  .dockerignore
  Dockerfile
  python/tools/repair_wheel_gpu.sh
Due: python

mutlicell lorenz
  python/musica/examples/lorenz.py
Due: python

Add optional grid cells parameter to Lorenz function
  python/musica/examples/lorenz.py
Due: python

mutlicell lorenz (#740)
  python/musica/examples/lorenz.py
Due: python

Auto-format code using Clang-Format and autopep8
  python/musica/examples/lorenz.py
Due: python

adding multiple grid cells to javascript example
  javascript/wasm/example.html
Due: javascript

faster plotting
  javascript/wasm/example.html
Due: javascript

adding animation
  javascript/wasm/example.html
Due: javascript

things
  .dockerignore
  .github/workflows/python-wheels.yml
  Dockerfile
  docker/Dockerfile.wheel
  python/tools/repair_wheel_gpu.sh
Due: python

varied initial conditions for all grid cells
  javascript/wasm/example.html
Due: javascript

adding multiple grid cells to javascript example (#743)
  javascript/wasm/example.html
Due: javascript

correcting wheel repair
  docker/Dockerfile.manylinux.gpu
  pyproject.toml
  python/tools/repair_wheel_gpu.sh
Due: python

Update pyproject.toml
  pyproject.toml
Due: none

Update .dockerignore
  .dockerignore
Due: none

Add JavaScript and C++ formatting for javascript directory (#745)
  .github/workflows/format.yml
  .prettierrc
  javascript/backend.js
  javascript/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/micm/conditions.js
  javascript/micm/micm.js
  javascript/micm/solver.js
  javascript/micm/solver_result.js
  javascript/micm/state.js
  javascript/micm/utils.js
  javascript/src/musica_wasm.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/state.test.js
  javascript/tests/unit/version.test.js
  javascript/tests/util/testUtils.js
  javascript/tools/serve.js
  package-lock.json
  package.json
Due: javascript

ignoring mvec
  python/tools/repair_wheel_gpu.sh
Due: python

properly verifying wheel contents
  .github/workflows/python-wheels.yml
Due: none

splitting itegrity check for windows/others
  .github/workflows/python-wheels.yml
Due: none

correcting yaml syntax?
  .github/workflows/python-wheels.yml
Due: none

ignoring w004
  .github/workflows/python-wheels.yml
Due: none

Correct RECORD on linux after removing cuda libraries (#741)
  .dockerignore
  .github/workflows/python-wheels.yml
  docker/Dockerfile.manylinux.gpu
  docker/Dockerfile.wheel
  pyproject.toml
  python/tools/repair_wheel_gpu.sh
Due: python

add XArray output for TUV-x
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
Due: python

Update python/musica/tuvx/tuvx.py
  python/musica/tuvx/tuvx.py
Due: python

address copilot comments
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
Due: python

add vertical and wavelength grids to TUV-x run output
  include/musica/tuvx/tuvx.hpp
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran, python

Update cmake/dependencies.cmake
  cmake/dependencies.cmake
Due: none

Update julia/src/Musica.jl
  julia/src/Musica.jl
Due: none

adding libdl
  julia/Project.toml
Due: none

correcting docs
  docs/source/api/julia.rst
Due: none

Update julia/CMakeLists.txt
  julia/CMakeLists.txt
Due: none

allowing more versions
  julia/Project.toml
Due: none

Adds XArray output for TUV-x (#748)
  include/musica/tuvx/tuvx.hpp
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran, python

Auto-format code using Clang-Format, Prettier, and autopep8
  include/musica/tuvx/tuvx.hpp
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
Due: cpp_fortran, python

add v5.4 wavelength grid
  python/musica/tuvx/__init__.py
  python/musica/tuvx/v54.py
  python/test/integration/test_tuvx.py
Due: python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
