Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript

add flags to report warnings as errors on debug builds
  cmake/dependencies.cmake
  cmake/setup_musica_target.cmake
Due: none

replacing strcpy with memset to remove warning for clangcl
  src/util.cpp
Due: cpp_fortran

Add Python code coverage collection and reporting (#685)
  .github/workflows/coverage.yml
  codecov.yml
  pyproject.toml
Due: none

skipping nvidia debug docker build
  .github/workflows/docker.yml
Due: none

updating tuvx tag
  cmake/dependencies.cmake
Due: none

Update .github/workflows/docker.yml
  .github/workflows/docker.yml
Due: none

addressing copilot comments
  cmake/setup_musica_target.cmake
  src/util.cpp
Due: cpp_fortran

add flags to report warnings as errors on debug builds (#686)
  .github/workflows/docker.yml
  cmake/dependencies.cmake
  cmake/setup_musica_target.cmake
  src/util.cpp
Due: cpp_fortran

Ensure bundled netcdf and yaml-cpp targets are used for Flang builds
  cmake/dependencies.cmake
  cmake/setup_musica_target.cmake
Due: none

return solver state from solve
  CMakeLists.txt
  cmake/dependencies.cmake
  include/musica/micm/micm.hpp
  python/bindings/micm/micm.cpp
  python/musica/micm/__init__.py
  python/musica/micm/micm.py
  python/musica/micm/solver_result.py
  python/test/unit/micm/test_micm.py
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran

correcting vector size for standard order solvers
  python/bindings/micm/micm.cpp
  python/musica/micm/micm.py
  src/micm/micm.cpp
Due: cpp_fortran

adding robertson, oregonator tests
  CMakeLists.txt
  python/bindings/micm/micm.cpp
  python/musica/micm/micm.py
  python/test/integration/test_analytical.py
  python/test/unit/micm/test_micm.py
  src/micm/micm.cpp
Due: cpp_fortran

updating micm tag
  cmake/dependencies.cmake
Due: none

646 solver stats (#687)
  cmake/dependencies.cmake
  include/musica/micm/micm.hpp
  python/bindings/micm/micm.cpp
  python/musica/micm/__init__.py
  python/musica/micm/micm.py
  python/musica/micm/solver_result.py
  python/test/integration/test_analytical.py
  python/test/unit/micm/test_micm.py
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran

Auto-format code using Clang-Format and autopep8
  python/bindings/micm/micm.cpp
  python/test/integration/test_analytical.py
  python/test/unit/micm/test_micm.py
  src/micm/micm.cpp
Due: cpp_fortran

Adding solver stats, updating binding finding
  javascript/CMakeLists.txt
  javascript/index.js
  javascript/micm/micm.js
  javascript/micm/solver_result.js
  javascript/src/micm/micm.cpp
  javascript/src/micm/micm.h
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/src/micm/solver_result_wrapper.cpp
  javascript/src/micm/solver_result_wrapper.h
  javascript/tests/unit/micm/micm.test.js
  package-lock.json
  package.json
Due: javascript

removing print statement
  python/test/integration/test_analytical.py
Due: none

removing v20 test since it doesn't capture all tests on ubuntu, windows
  .github/workflows/javascript_integration.yml
  javascript/index.js
  javascript/micm/micm.js
  javascript/micm/solver_result.js
  javascript/src/micm/micm_wrapper.cpp
Due: javascript

debugging docker failure
  .github/workflows/docker.yml
Due: none

Javascript solver stats (#690)
  .github/workflows/docker.yml
  .github/workflows/javascript_integration.yml
  javascript/CMakeLists.txt
  javascript/index.js
  javascript/micm/micm.js
  javascript/micm/solver_result.js
  javascript/src/micm/micm.cpp
  javascript/src/micm/micm.h
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/src/micm/solver_result_wrapper.cpp
  javascript/src/micm/solver_result_wrapper.h
  javascript/tests/unit/micm/micm.test.js
  package-lock.json
  package.json
  python/test/integration/test_analytical.py
Due: javascript

Use single state and account for vector length
  python/musica/micm/micm.py
  python/musica/micm/state.py
Due: none

increasing vector size to make sure tests cover a range of options
  pyproject.toml
Due: none

Add tests for mismatched grid cells/vector length
  python/musica/micm/state.py
  python/test/integration/test_analytical.py
  python/test/unit/micm/test_micm.py
  python/test/unit/micm/test_state.py
Due: none

removing manual add of c++ library versions
  CMakeLists.txt
Due: none

remove component versions
  include/musica/component_versions.hpp
  src/CMakeLists.txt
  src/component_versions.cpp
  src/test/unit/CMakeLists.txt
  src/test/unit/component_versions.cpp
Due: cpp_fortran

Remove multiplate states (#654)
  pyproject.toml
  python/musica/micm/micm.py
  python/musica/micm/state.py
  python/test/integration/test_analytical.py
  python/test/unit/micm/test_micm.py
  python/test/unit/micm/test_state.py
Due: none

Unifying version getting
  python/musica/__init__.py
  python/musica/carma/__init__.py
  python/musica/carma/carma.py
  python/musica/main.py
  python/musica/micm/__init__.py
  python/musica/micm/micm.py
  python/musica/tuvx/__init__.py
  python/musica/tuvx/tuvx.py
  python/test/integration/test_carma.py
  python/test/integration/test_tuvx.py
  python/test/unit/test_versions.py
Due: none

Adding javascript tests for versions
  _codeql_detected_source_root
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/state_wrapper.cpp
  javascript/src/musica_addon.cpp
  javascript/tests/unit/version.test.js
  package.json
Due: javascript

adding tuvx, musica version to fortran
  fortran/CMakeLists.txt
  fortran/musica.F90
  fortran/test/unit/CMakeLists.txt
  fortran/test/unit/test_micm_version.F90
  fortran/test/unit/test_musica_version.F90
  fortran/test/unit/test_tuvx_version.F90
  fortran/tuvx/tuvx.F90
  include/musica/musica_c_interface.hpp
  include/musica/tuvx/tuvx_c_interface.hpp
  package.json
  src/musica_c_interface.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran

removing manual add of c++ library versions (#698)
  CMakeLists.txt
Due: none

disabling other actions, firing off windows arm build
  .github/workflows/docker.yml.disabled
  .github/workflows/fetch_content_integration.yml.disabled
  .github/workflows/javascript_integration.yml.disabled
  .github/workflows/mac.yml.disabled
  .github/workflows/python-tests.yml
  .github/workflows/python-wheels.yml.disabled
  .github/workflows/ubuntu.yml.disabled
  .github/workflows/windows.yml.disabled
Due: none

Document MUSICA_CREATE_ENVIRONMENT_MODULE cmake option (#700)
  CMakeLists.txt
  docs/source/user_guide/cmake_options/index.rst
  docs/source/user_guide/index.rst
Due: none

add test doubling tuvx profile concentrations and debug test conditions
  .gitignore
  python/musica/tuvx/profile.py
  python/test/integration/test_tuvx.py
Due: none

fix test assertion
  python/test/integration/test_tuvx.py
Due: none

address copilot comments
  python/musica/tuvx/profile.py
  python/test/integration/test_tuvx.py
Due: none

Update backend script
  musicbox-app/package.json
Due: none

Update README.md
  musicbox-app/README.md
Due: none

updating start server command
  musicbox-app/package.json
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
