Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

add edit files for mechanism confirguration and testing
  index.js
  javascript/micm/conditions.js
  javascript/micm/micm.js
  javascript/micm/state.js
  javascript/micm/utils.js
  javascript/server.js
  javascript/src/mechanism/arrhenius.cpp
  javascript/src/mechanism/arrhenius.h
  javascript/src/mechanism/emission.cpp
  javascript/src/mechanism/emission.h
  javascript/src/mechanism/mechanism.cpp
  javascript/src/mechanism/mechanism.h
  javascript/src/mechanism/phase.cpp
  javascript/src/mechanism/phase.h
  javascript/src/mechanism/photolysis.cpp
  javascript/src/mechanism/photolysis.h
  javascript/src/mechanism/reaction_component.cpp
  javascript/src/mechanism/reaction_component.h
  javascript/src/mechanism/species.cpp
  javascript/src/mechanism/species.h
  javascript/src/mechanism/user_defined.cpp
  javascript/src/mechanism/user_defined.h
  javascript/src/micm.cpp
  javascript/src/state.cpp
  javascript/test/integration/analytical.test.js
  javascript/test/integration/chapman.test.js
  javascript/test/integration/mechanism_api.test.js
  javascript/test/integration/ts1_performance.test.js
  javascript/test/unit/mechanism.test.js
  javascript/test/unit/micm.test.js
  javascript/test/unit/reactions.test.js
  javascript/test/unit/state.test.js
  javascript/types.js
Due: javascript

Solve conflict architecture.
  cmake/dependencies.cmake
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/parse.hpp
  index.js
  javascript/CMakeLists.txt
  javascript/index.js
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/mechanism_configuration/utils.js
  javascript/micm/conditions.js
  javascript/micm/micm.js
  javascript/micm/solver.js
  javascript/micm/state.js
  javascript/micm/utils.js
  javascript/server.js
  javascript/src/micm.cpp
  javascript/src/micm/micm.cpp
  javascript/src/micm/micm.h
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/src/micm/state.cpp
  javascript/src/micm/state.h
  javascript/src/micm/state_wrapper.cpp
  javascript/src/micm/state_wrapper.h
  javascript/src/state.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/integration/mechanism_api.test.js
  javascript/tests/integration/mechanism_debug.test.js
  javascript/tests/integration/ts1_performance.test.js
  javascript/tests/unit/mechanism.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/reactions.test.js
  javascript/tests/unit/state.test.js
Due: cpp_fortran, javascript

Implement proper string-based MICM creation and fix exit code 139
  javascript/micm/micm.js
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/parse.cpp
Due: cpp_fortran, javascript

Converted javascript to match current working version
  javascript/mechanism_configuration/mechanism.js
  javascript/mechanism_configuration/reaction_types.js
  javascript/mechanism_configuration/types.js
  javascript/micm/micm.js
  javascript/micm/state.js
  javascript/src/micm/micm.cpp
  javascript/src/musica_addon.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/integration/mechanism_api.test.js
  javascript/tests/integration/ts1_performance.test.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/mechanism.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/reactions.test.js
  javascript/tests/unit/state.test.js
  javascript/types.js
  package.json
Due: javascript

Fix build errors and test failures in JavaScript bindings
  .github/workflows/format.yml
  javascript/micm/micm.js
  musica/musica.cpp
  musica/test/integration/test_sulfate_box_model.py
  musica/test/unit/test_state.py
  musica/types.py
  package.json
  pyproject.toml
  src/micm/parse.cpp
Due: cpp_fortran, javascript

updating start server command
  musicbox-app/package.json
Due: none

Update README.md
  musicbox-app/README.md
Due: none

Refactor version reporting for consistent API across all languages (#696)
  fortran/CMakeLists.txt
  fortran/musica.F90
  fortran/test/unit/CMakeLists.txt
  fortran/test/unit/test_micm_version.F90
  fortran/test/unit/test_musica_version.F90
  fortran/test/unit/test_tuvx_version.F90
  fortran/tuvx/tuvx.F90
  fortran/util.F90
  include/musica/musica_c_interface.hpp
  include/musica/tuvx/tuvx_c_interface.hpp
  include/musica/util.hpp
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/state_wrapper.cpp
  javascript/src/musica_addon.cpp
  javascript/tests/unit/version.test.js
  package.json
  python/bindings/micm/micm.cpp
  python/musica/__init__.py
  python/musica/carma/__init__.py
  python/musica/carma/carma.py
  python/musica/main.py
  python/musica/micm/__init__.py
  python/musica/tuvx/__init__.py
  python/musica/tuvx/tuvx.py
  python/test/integration/test_carma.py
  python/test/integration/test_tuvx.py
  python/test/unit/test_versions.py
  src/CMakeLists.txt
  src/component_versions.cpp
  src/musica_c_interface.cpp
  src/test/unit/CMakeLists.txt
  src/test/unit/component_versions.cpp
  src/test/unit/util.cpp
  src/tuvx/tuvx_c_interface.cpp
  src/util.cpp
Due: cpp_fortran, javascript, python

Document musica-cli usage in README and docs (#704)
  README.md
  docs/source/user_guide/cli.rst
  docs/source/user_guide/index.rst
Due: none

Auto-format code using Clang-Format and autopep8
  include/musica/tuvx/tuvx_c_interface.hpp
  python/bindings/micm/micm.cpp
  python/musica/carma/__init__.py
  python/musica/carma/carma.py
  python/musica/main.py
  python/musica/micm/__init__.py
  python/musica/tuvx/__init__.py
  python/test/unit/test_versions.py
  src/musica_c_interface.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran, python

update the version, add headers, udpate that config path following the mech config update
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  include/musica/micm/parse.hpp
  src/micm/convert_v0_to_v1.cpp
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

fix the error messages
  CMakeLists.txt
  cmake/CodeCoverage.cmake
  docker/Dockerfile.coverage
  python/test/integration/test_analytical.py
  python/test/integration/test_chapman.py
  python/test/unit/micm/test_micm.py
Due: python

use clang to workaround macos15 c++ lib header conflict with gcc
  pyproject.toml
Due: none

add config path
  fortran/test/fetch_content_integration/test_micm_api.F90
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

fix a bug
  fortran/test/fetch_content_integration/test_micm_api.F90
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

update the path
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
Due: javascript

update tha path
  docs/source/tutorials/chapter3.rst
  docs/source/user_guide/examples/index.rst
  fortran/test/fetch_content_integration/test_micm_api.F90
  fortran/test/fetch_content_integration/test_micm_box_model.F90
  fortran/test/fetch_content_integration/test_micm_multiple_grid_cells.F90
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
Due: cpp_fortran, javascript

creating solver from json string
  cmake/dependencies.cmake
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/parse.hpp
  javascript/CMakeLists.txt
  src/micm/micm_c_interface.cpp
  src/micm/parse.cpp
Due: cpp_fortran, javascript

Updating fedora version to get newer compiler
  docker/Dockerfile.coverage
Due: none

Update src/micm/parse.cpp
  src/micm/parse.cpp
Due: cpp_fortran

Creating a MICM instance from in-code mechanism
  javascript/micm/micm.js
  javascript/src/micm/micm.cpp
  javascript/src/micm/micm.h
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
Due: javascript

correctly ignoring tests in the src dir
  CMakeLists.txt
Due: none

Update src/micm/micm_c_interface.cpp
  src/micm/micm_c_interface.cpp
Due: cpp_fortran

remove python 3.9
  pyproject.toml
Due: none

address copilot review
  docs/source/tutorials/chapter3.rst
  docs/source/user_guide/examples/index.rst
Due: none

disable tuvx temporarily
  CMakeLists.txt
Due: none

enable tuvx
  CMakeLists.txt
Due: none

test fetch cotent
  .github/workflows/fetch_content_integration.yml.disabled
  .github/workflows/fetch_content_test.yml
Due: none

Adding windows arm build
  .github/workflows/python-tests.yml
Due: none

Updatig to pybind11 3.0.1
  .github/workflows/python-tests.yml
  cmake/dependencies.cmake
Due: none

addressing flang errors
  src/tuvx/interface_grid_map.F90
  src/tuvx/interface_profile_map.F90
  src/tuvx/interface_radiator_map.F90
Due: cpp_fortran

revert back
  .github/workflows/fetch_content_integration.yml
  .github/workflows/fetch_content_test.yml
Due: none

nullifying radiator
  src/tuvx/interface_radiator_map.F90
Due: cpp_fortran

adding other tests
  .github/workflows/python-tests.yml
Due: none

attempting to set hdf and netcdf directories
  .github/windows_arm64_steps/action.yml
  .github/workflows/python-tests.yml
Due: none

address the code review
  cmake/CodeCoverage.cmake
  cmake/dependencies.cmake
  docs/source/getting_started/fortran.rst
  docs/source/tutorials/chapter2.rst
  docs/source/user_guide/examples/index.rst
  fortran/test/fetch_content_integration/test_micm_api.F90
  fortran/test/fetch_content_integration/test_micm_box_model.F90
  fortran/test/fetch_content_integration/test_micm_multiple_grid_cells.F90
  javascript/tests/integration/analytical.test.js
  javascript/tests/integration/chapman.test.js
  javascript/tests/unit/micm/micm.test.js
  javascript/tests/unit/micm/state.test.js
  python/test/integration/test_analytical.py
  python/test/integration/test_chapman.py
  python/test/unit/micm/test_micm.py
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/micm_wrapper.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran, javascript, python

clean up
  docs/source/getting_started/fortran.rst
  docs/source/tutorials/chapter2.rst
  src/test/unit/micm/micm_c_api.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

update lcov
  CMakeLists.txt
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
