Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

add find dependency for fmt
  cmake/fmt_packaging.cmake
  cmake/musica-fortran.pc.in
  cmake/musica.pc.in
  cmake/musicaConfig.cmake.in
  fortran/packaging/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Fix fmt library not found issue in CMake configuration (#1053)
  README.md
  cmake/fmt_packaging.cmake
  cmake/musica-fortran.pc.in
  cmake/musica.pc.in
  cmake/musicaConfig.cmake.in
  environment.yaml
  fortran/README.md
  fortran/packaging/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

Use micm with the algebraic-row Jacobian fix (#956)
  cmake/dependencies.cmake
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/state.hpp
  include/musica/micm/state_interface.hpp
  javascript/bindings/musica_wasm.cpp
  julia/bindings/micm.cpp
  python/bindings/micm/micm.cpp
  python/bindings/micm/state.cpp
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/integration/test_miam_cloud_chemistry_config.py
  python/test/integration/test_miam_cloud_chemistry_issue_956.py
  python/test/integration/test_miam_components.py
  src/configuration/parse.cpp
  src/cuda/cuda_solver.cpp
  src/cuda/cuda_solver.hpp
  src/miam/miam_builder.cpp
  src/micm/cpu_solver.cpp
  src/micm/state.cpp
  src/micm/state_c_interface.cpp
  src/test/unit/miam/miam_builder.cpp
  src/test/unit/micm/parser.cpp
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
Due: cpp_fortran, javascript, python

update pc to fix a bug
  cmake/musica-fortran.pc.in
  cmake/musica.pc.in
  fortran/README.md
  fortran/packaging/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

add cmake macro that detects the c++ runtime library used for pkg-config file
  cmake/cxx_runtime_packaging.cmake
Due: none

add spack config
  .github/spack/spack_repo/ncar/packages/musica/package.py
  .github/spack/spack_repo/ncar/repo.yaml
  .github/workflows/spack.yml
Due: none

add static
  docker/Dockerfile
  docker/Dockerfile.intel
  docker/Dockerfile.nvhpc
Due: none

Fix the CUDA solver type and bump the nvhpc image
  docker/Dockerfile.nvhpc
  src/cuda/cuda_solver.cpp
  src/cuda/cuda_solver.hpp
Due: cpp_fortran

add spack test
  .github/spack/spack_repo/ncar/packages/musica/package.py
  .github/workflows/spack.yml
  src/test/spack/CMakeLists.txt
  src/test/spack/main.F90
  src/test/spack/main.cpp
  src/test/spack/pkgconfig_test.sh
Due: cpp_fortran

cleanup
  .github/workflows/spack.yml
  cmake/cxx_runtime_packaging.cmake
Due: none

Pin micm to the nvc++ C++23 fix
  cmake/dependencies.cmake
Due: none

add title
  .github/workflows/spack.yml
Due: none

find netcdf
  .github/spack/spack_repo/ncar/packages/musica/package.py
  cmake/musica-fortran.pc.in
  cmake/musica.pc.in
  cmake/netcdf_packaging.cmake
  fortran/packaging/CMakeLists.txt
  src/packaging/CMakeLists.txt
Due: cpp_fortran

resolve depedency issue
  .github/spack/spack_repo/ncar/packages/musica/package.py
Due: none

netcdf for miem
  .github/spack/spack_repo/ncar/packages/musica/package.py
  cmake/musicaConfig.cmake.in
Due: none

use py::class_ for carma structs
  python/bindings/carma/carma.cpp
  python/musica/carma/carma.py
Due: python

Update .github/spack/spack_repo/ncar/packages/musica/package.py
  .github/spack/spack_repo/ncar/packages/musica/package.py
Due: none

Use short names in the CARMA Python API, remove nz and dtime, return NaN for disabled physics
  .github/workflows/notebooks.yml
  include/musica/carma/carma.hpp
  include/musica/carma/carma_c_interface.hpp
  python/bindings/carma/carma.cpp
  python/musica/carma/carma.py
  python/musica/examples/carma_aluminum.py
  python/musica/examples/carma_sulfate.py
  python/musica/examples/sulfate_box_model.py
  python/test/integration/test_carma.py
  src/carma/carma.cpp
  src/carma/carma_parameters.F90
  src/carma/carma_state.cpp
  src/carma/interface.F90
  src/test/unit/carma/carma_c_api.cpp
Due: cpp_fortran, python

miem needs netcdf c
  .github/spack/spack_repo/ncar/packages/musica/package.py
  cmake/miem_packaging.cmake
  cmake/musica-fortran.pc.in
  cmake/musica.pc.in
  cmake/netcdf_packaging.cmake
  fortran/packaging/CMakeLists.txt
  src/packaging/CMakeLists.txt
  src/test/spack/CMakeLists.txt
  src/test/spack/main.cpp
  src/test/spack/pkgconfig_test.sh
Due: cpp_fortran

splitting carma notebooks
  .github/workflows/notebooks.yml
  docs/source/user_guide/python/notebooks/index.rst
  python/test/integration/test_miam_components.py
  tutorials/10. tuv-x_conditions.ipynb
  tutorials/11. chapman.ipynb
  tutorials/12. ts1_box_model.ipynb
  tutorials/13. multiple_mechanisms.ipynb
  tutorials/14. tuv-x_subset_photolysis.ipynb
  tutorials/15. aerosol_chemistry_intro.ipynb
  tutorials/16. dae_solving_intro.ipynb
  tutorials/17. miam_processes_and_constraints.ipynb
  tutorials/18. cam_cloud_chemistry.ipynb
  tutorials/19. cam_aerosol_distributions.ipynb
  tutorials/20. miem_nox_box_model.ipynb
  tutorials/7. carma.ipynb
  tutorials/7. carma_aluminum.ipynb
  tutorials/8. carma_sulfate.ipynb
  tutorials/9. tuv-x_standard_configurations.ipynb
Due: python

fixing the packaging issue
  src/test/spack/pkgconfig_test.sh
Due: cpp_fortran

use py::class_ for carma structs (#1057)
  python/bindings/carma/carma.cpp
  python/musica/carma/carma.py
Due: python

Use short names in the CARMA Python API, remove nz and dtime, return NaN for disabled physics (#1058)
  .github/workflows/notebooks.yml
  include/musica/carma/carma.hpp
  include/musica/carma/carma_c_interface.hpp
  python/bindings/carma/carma.cpp
  python/musica/carma/carma.py
  python/musica/examples/carma_aluminum.py
  python/musica/examples/carma_sulfate.py
  python/musica/examples/sulfate_box_model.py
  python/test/integration/test_carma.py
  src/carma/carma.cpp
  src/carma/carma_parameters.F90
  src/carma/carma_state.cpp
  src/carma/interface.F90
  src/test/unit/carma/carma_c_api.cpp
Due: cpp_fortran, python

splitting carma notebooks (#1059)
  .github/workflows/notebooks.yml
  docs/source/user_guide/python/notebooks/index.rst
  python/test/integration/test_miam_components.py
  tutorials/10. tuv-x_conditions.ipynb
  tutorials/11. chapman.ipynb
  tutorials/12. ts1_box_model.ipynb
  tutorials/13. multiple_mechanisms.ipynb
  tutorials/14. tuv-x_subset_photolysis.ipynb
  tutorials/15. aerosol_chemistry_intro.ipynb
  tutorials/16. dae_solving_intro.ipynb
  tutorials/17. miam_processes_and_constraints.ipynb
  tutorials/18. cam_cloud_chemistry.ipynb
  tutorials/19. cam_aerosol_distributions.ipynb
  tutorials/20. miem_nox_box_model.ipynb
  tutorials/7. carma.ipynb
  tutorials/7. carma_aluminum.ipynb
  tutorials/8. carma_sulfate.ipynb
  tutorials/9. tuv-x_standard_configurations.ipynb
Due: python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/bindings/carma/carma.cpp
  python/musica/carma/carma.py
Due: python

Spack verification (#1055)
  .github/spack/spack_repo/ncar/packages/musica/package.py
  .github/spack/spack_repo/ncar/repo.yaml
  .github/workflows/spack.yml
  cmake/cxx_runtime_packaging.cmake
  cmake/miem_packaging.cmake
  cmake/musica-fortran.pc.in
  cmake/musica.pc.in
  cmake/musicaConfig.cmake.in
  cmake/netcdf_packaging.cmake
  docker/Dockerfile
  docker/Dockerfile.intel
  docker/Dockerfile.nvhpc
  fortran/README.md
  fortran/packaging/CMakeLists.txt
  src/packaging/CMakeLists.txt
  src/test/spack/CMakeLists.txt
  src/test/spack/main.F90
  src/test/spack/main.cpp
  src/test/spack/pkgconfig_test.sh
Due: cpp_fortran

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  src/test/spack/main.cpp
Due: cpp_fortran

Update carma interface
  include/musica/carma/carma.hpp
  python/musica/carma/carma.py
  python/test/integration/test_carma.py
  src/carma/carma.cpp
  src/carma/interface.F90
  src/test/unit/carma/carma_c_api.cpp
  tutorials/7. carma_aluminum.ipynb
  tutorials/8. carma_sulfate.ipynb
Due: cpp_fortran, python

update version
  .github/ISSUE_TEMPLATE/release.md
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
  package.json
Due: none

Update carma interface (#1063)
  include/musica/carma/carma.hpp
  python/musica/carma/carma.py
  python/test/integration/test_carma.py
  src/carma/carma.cpp
  src/carma/interface.F90
  src/test/unit/carma/carma_c_api.cpp
  tutorials/7. carma_aluminum.ipynb
  tutorials/8. carma_sulfate.ipynb
Due: cpp_fortran, python

fix micm errors
  src/configuration/parse.cpp
  src/test/unit/micm/parser.cpp
Due: cpp_fortran

add musica solver types to support miam types
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/solver_types.hpp
  include/musica/micm/state.hpp
  include/musica/micm/state_interface.hpp
  src/cuda/cuda_solver.cpp
  src/cuda/cuda_solver.hpp
  src/miam/miam_builder.cpp
  src/micm/cpu_solver.cpp
  src/micm/state.cpp
  src/micm/state_c_interface.cpp
Due: cpp_fortran

update python api
  python/bindings/micm/conditions.cpp
  python/bindings/micm/micm.cpp
  python/bindings/micm/state.cpp
Due: python

remove dead code
  python/bindings/micm/conditions.cpp
Due: python

disable miam
  .github/workflows/julia.yml
  .github/workflows/mac.yml
  .github/workflows/notebooks.yml
  .github/workflows/spack.yml
  .github/workflows/ubuntu.yml
  docker/Dockerfile
  docker/Dockerfile.asan
  docker/Dockerfile.coverage
  docker/Dockerfile.docs
  docker/Dockerfile.intel
  docker/Dockerfile.julia
  docker/Dockerfile.memcheck
  docker/Dockerfile.mpi
  docker/Dockerfile.mpi_openmp
  docker/Dockerfile.nvhpc
  docker/Dockerfile.openmp
  pyproject.toml
Due: none

turn off miam
  .github/workflows/windows.yml
  javascript/bindings/musica_wasm.cpp
  julia/bindings/micm.cpp
  package.json
  python/tools/prepare_build_environment_linux.sh
  python/tools/prepare_build_environment_macos.sh
  python/tools/prepare_build_environment_windows.sh
  src/cuda/cuda_solver.cpp
  src/cuda/cuda_solver.hpp
Due: cpp_fortran, javascript, python

fix nvhpc issue
  cmake/dependencies.cmake
Due: none

micm git tag
  cmake/dependencies.cmake
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  include/musica/micm/cpu_solver.hpp
  include/musica/micm/state.hpp
  include/musica/micm/state_interface.hpp
  python/bindings/micm/conditions.cpp
  src/micm/cpu_solver.cpp
Due: cpp_fortran, python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
