Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  cpp_fortran:
    paths:
      - src
      - include
      - fortran
  javascript:
    paths:
      - javascript
  python:
    paths:
      - python

uploads:
  - target: coverage
    flags: cpp_fortran
    path: coverage.info
  - target: coverage
    flags: javascript
    path: javascript-coverage/lcov.info
  - target: coverage
    flags: python
    path: python-coverage.xml

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/test/test_tuvx.jl
Due: none

Pay run!'s one-time JIT cost with a throwaway warmup call
  julia/test/test_ts1_column_model.jl
Due: none

Pay run!'s one-time JIT cost with a throwaway warmup call (#1032)
  julia/test/test_ts1_column_model.jl
Due: none

Test that a missed update! reuses the last radiation field
  python/test/integration/test_tuvx_radiation_field_updater.py
Due: python

Fix TUVX Python interface bugs found while porting to Julia
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
Due: python

Fix TUVX Python interface bugs found while porting to Julia (#1034)
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx.py
Due: python

bumping version
  CITATION.cff
  CMakeLists.txt
Due: none

bumping mech config tag
  cmake/dependencies.cmake
Due: none

bumping version (#1035)
  CITATION.cff
  CMakeLists.txt
  cmake/dependencies.cmake
Due: none

Update species properties in interfaces
  cmake/dependencies.cmake
  configs/v1/full_configuration/full_configuration.json
  configs/v1/full_configuration/full_configuration.yaml
  javascript/CMakeLists.txt
  javascript/bindings/mechanism_to_val.hpp
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/species_other_properties.test.js
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  julia/src/mechanism_configuration/types.jl
  package-lock.json
  python/bindings/mechanism_configuration/species.cpp
  python/musica/examples/cam_aerosol_configs.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/integration/test_miam_components.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
  src/configuration/parse.cpp
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
  tutorials/16. miam_processes_and_constraints.ipynb
  tutorials/17. cam_cloud_chemistry.ipynb
Due: cpp_fortran, javascript, python

Update species properties in interfaces (#1039)
  cmake/dependencies.cmake
  configs/v1/full_configuration/full_configuration.json
  configs/v1/full_configuration/full_configuration.yaml
  javascript/CMakeLists.txt
  javascript/bindings/mechanism_to_val.hpp
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/full_config.test.js
  javascript/tests/unit/species_other_properties.test.js
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
  julia/src/mechanism_configuration/types.jl
  package-lock.json
  python/bindings/mechanism_configuration/species.cpp
  python/musica/examples/cam_aerosol_configs.py
  python/musica/mechanism_configuration/aerosol/aerosol.py
  python/musica/mechanism_configuration/species/phase.py
  python/musica/mechanism_configuration/species/phase_species.py
  python/musica/mechanism_configuration/species/species.py
  python/test/integration/test_dae_algebraic_overshoot.py
  python/test/integration/test_miam_cloud_chemistry.py
  python/test/integration/test_miam_components.py
  python/test/unit/mechanism_configuration/test_util_full_mechanism.py
  src/configuration/parse.cpp
  src/miam/miam_builder.cpp
  src/test/unit/miam/miam_builder.cpp
  tutorials/14. aerosol_chemistry_intro.ipynb
  tutorials/15. dae_solving_intro.ipynb
  tutorials/16. miam_processes_and_constraints.ipynb
  tutorials/17. cam_cloud_chemistry.ipynb
Due: cpp_fortran, javascript, python

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/src/mechanism_configuration/types.jl
  python/test/integration/test_miam_cloud_chemistry.py
  src/test/unit/miam/miam_builder.cpp
Due: cpp_fortran, python

update default julia solver
  julia/src/micm/micm.jl
Due: none

correct julia tests
  julia/test/runtests.jl
Due: none

removing windows julia support
  .github/workflows/julia.yml
Due: none

prepare julia package for 0.16.7 release
  etc/Musica_jll/Project.toml
  julia/Project.toml
Due: none

update default julia solver to vector ordered rosenbrock (#1042)
  .github/workflows/julia.yml
  etc/Musica_jll/Project.toml
  julia/Project.toml
  julia/src/micm/micm.jl
  julia/test/runtests.jl
Due: none

updating to t1s2
  configs/miem/cams_finn_all_species_emissions_config.yaml
  configs/v1/miem_nox/mechanism.json
  configs/v1/ts1/t1s2.json
  fortran/examples/ts1_box_model.F90
  julia/test/test_ts1_column_model.jl
  pyproject.toml
  python/musica/examples/miem_cams_finn_box_model_real_fixture.py
  python/musica/examples/miem_cams_finn_shared.py
  python/musica/examples/miem_nox_box_model.py
  python/musica/examples/miem_nox_box_model_real_fixture.py
  python/musica/examples/ts1_box_model.py
  python/musica/examples/ts1_latin_hypercube.py
Due: cpp_fortran, python

correcting photoylsis names
  configs/v1/ts1/t1s2.json
Due: none

Fix T1S2 photolysis names, add het1-17 and aerosol surface reactions, fix zero-bound crash in ts1 Latin hypercube sampling.
  configs/v1/ts1/initial_conditions.csv
  configs/v1/ts1/t1s2.json
  python/musica/examples/ts1_latin_hypercube.py
Due: python

Add usr_CO_OH as a zero-rate USER_DEFINED placeholder; documents the JPL19 chemical-activation formula pending a new MICM reaction type.
  configs/v1/ts1/t1s2.json
Due: none

Point ts1 tutorials to t1s2.json and fix a codespell false positive.
  configs/v1/ts1/t1s2.json
  tutorials/11. ts1_box_model.ipynb
  tutorials/19. miem_nox_box_model.ipynb
Due: none

correcting coefficient for 2H2O+SO3 rxn
  configs/v1/ts1/t1s2.json
Due: none

correcting product name, coefficient
  configs/v1/ts1/t1s2.json
Due: none

Carry inventory molecular weights into miem's Source, add SI-units test
  python/bindings/mechanism_configuration/emissions.cpp
  src/configuration/emissions.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_model_end_to_end_nox_si_units.cpp
Due: cpp_fortran, python

Trim comments in the new SI-units end-to-end test
  src/test/unit/miem/emissions_model_end_to_end_nox_si_units.cpp
Due: cpp_fortran

Fix N=0 in five TROE reactions in t1s2.json
  configs/v1/ts1/t1s2.json
Due: none

Bump miem and MechanismConfiguration pins for molecular_weights field
  cmake/dependencies.cmake
Due: none

Fix JS mechanism_configuration falsy values
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/reaction_type_zero_defaults.test.js
Due: javascript

Fix JS mechanism_configuration falsy values (#1046)
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/reaction_type_zero_defaults.test.js
Due: javascript

adding support for other properties
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/other_properties.test.js
Due: javascript

adding support for other properties (#1048)
  javascript/mechanism_configuration/mechanism_configuration.js
  javascript/tests/unit/other_properties.test.js
Due: javascript

Use native WebAssembly exceptions in the WASM build
  CMakeLists.txt
  javascript/CMakeLists.txt
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

Give JS parse errors a message
  javascript/CMakeLists.txt
  javascript/bindings/musica_wasm.cpp
  javascript/tests/unit/parse_mechanism.test.js
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

Set the WASM exception flag on targets instead of globally
  CMakeLists.txt
  javascript/CMakeLists.txt
Due: javascript

Give JS parse errors a message (#1049)
  javascript/CMakeLists.txt
  javascript/bindings/musica_wasm.cpp
  javascript/tests/unit/parse_mechanism.test.js
  javascript/wasm/musica.js
  javascript/wasm/musica.wasm
Due: javascript

Carry inventory molecular weights into miem's Source, add SI-units test (#1045)
  cmake/dependencies.cmake
  python/bindings/mechanism_configuration/emissions.cpp
  src/configuration/emissions.cpp
  src/test/unit/miem/CMakeLists.txt
  src/test/unit/miem/emissions_model_end_to_end_nox_si_units.cpp
Due: cpp_fortran, python

update the document for prerequisties
  README.md
  fortran/README.md
Due: cpp_fortran

build read the docs with tuvx and carma
  .readthedocs.yaml
  environment.yaml
Due: none

remove blas and lapack
  environment.yaml
Due: none
