Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

Use default diffusion coefficient for GLYOXAL in ts1.json
  configs/v1/ts1/ts1.json
Due: none

Add basic TUV-x bindings to Julia interface
  .github/workflows/julia.yml
  .gitignore
  cmake/dependencies.cmake
  docker/Dockerfile.julia
  julia/CMakeLists.txt
  julia/Project.toml
  julia/README.md
  julia/bindings/micm.cpp
  julia/bindings/musica_julia.cpp
  julia/bindings/registration.hpp
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/test/runtests.jl
Due: none

Add basic TUV-x bindings to Julia interface (#1006)
  .github/workflows/julia.yml
  .gitignore
  cmake/dependencies.cmake
  docker/Dockerfile.julia
  julia/CMakeLists.txt
  julia/Project.toml
  julia/README.md
  julia/bindings/micm.cpp
  julia/bindings/musica_julia.cpp
  julia/bindings/registration.hpp
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/test/runtests.jl
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  python/musica/examples/miem_cams_finn_shared.py
Due: python

Exclude generated wasm JavaScript from Prettier
  .prettierignore
Due: none

Exclude generated wasm JavaScript from Prettier (#1009)
  .prettierignore
Due: none

Add Grid and GridMap to the Julia interface
  docs/source/api/julia.rst
  docs/source/user_guide/julia/index.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/grid.jl
  julia/src/tuvx/grid_map.jl
  julia/test/runtests.jl
  julia/test/test_tuvx.jl
Due: none

Use default diffusion coefficient for GLYOXAL in ts1.json (#1005)
  configs/v1/ts1/ts1.json
Due: none

Add Grid and GridMap to the Julia interface (#1010)
  docs/source/api/julia.rst
  docs/source/user_guide/julia/index.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/grid.jl
  julia/src/tuvx/grid_map.jl
  julia/test/runtests.jl
  julia/test/test_tuvx.jl
Due: none

Add Profile and ProfileMap to the Julia interface
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/profile.jl
  julia/src/tuvx/profile_map.jl
  julia/test/test_tuvx.jl
Due: none

Centralize the null-pointer checks in the Julia TUV-x bindings
  julia/bindings/tuvx.cpp
Due: none

Add Profile and ProfileMap to the Julia interface (#1011)
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/profile.jl
  julia/src/tuvx/profile_map.jl
  julia/test/test_tuvx.jl
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/src/tuvx/profile.jl
  julia/src/tuvx/profile_map.jl
  julia/test/test_tuvx.jl
Due: none

Add Radiator and RadiatorMap to the Julia interface
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/radiator_map.jl
  julia/test/test_tuvx.jl
Due: none

Add Radiator and RadiatorMap to the Julia interface (#1013)
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/radiator_map.jl
  julia/test/test_tuvx.jl
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/radiator_map.jl
  julia/test/test_tuvx.jl
Due: none

Add the TUVX core to the Julia interface
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/grid_map.jl
  julia/src/tuvx/profile_map.jl
  julia/src/tuvx/radiator_map.jl
  julia/src/tuvx/tuvx.jl
  julia/test/test_tuvx.jl
Due: none

Move config directory handling out of TUVX and into the caller
  docs/source/api/julia.rst
  julia/src/tuvx/tuvx.jl
  julia/test/test_tuvx.jl
Due: none

Remove Python cross-references from TUV-x interface comments
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/tuvx.jl
  julia/test/test_tuvx.jl
Due: none

Tighten the TUVX config path-resolution docstring
  docs/source/api/julia.rst
  julia/src/tuvx/tuvx.jl
Due: none

Drop the cd suggestion from the TUVX config path docstring
  docs/source/api/julia.rst
  julia/src/tuvx/tuvx.jl
Due: none

Add the TUVX core to the Julia interface (#1015)
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/grid_map.jl
  julia/src/tuvx/profile_map.jl
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/radiator_map.jl
  julia/src/tuvx/tuvx.jl
  julia/test/test_tuvx.jl
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/src/tuvx/tuvx.jl
  julia/test/test_tuvx.jl
Due: none

Add V54 and VTS1 convenience configurations to the Julia interface
  docs/source/api/julia.rst
  julia/src/Musica.jl
  julia/src/tuvx/v54.jl
  julia/src/tuvx/vts1.jl
  julia/test/runtests.jl
  julia/test/test_v54_vts1.jl
Due: none

Fix Grid/Profile/Radiator setters to use the proper C++ SetX methods
  julia/bindings/tuvx.cpp
  julia/src/tuvx/grid.jl
  julia/src/tuvx/profile.jl
  julia/src/tuvx/radiator.jl
Due: none

Add C++ bindings for the TUV-x radiation field updater
  include/musica/tuvx/radiation_field_updater.hpp
  include/musica/tuvx/tuvx.hpp
  include/musica/tuvx/tuvx_c_interface.hpp
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/tuvx/CMakeLists.txt
  src/tuvx/interface_radiation_field_updater.F90
  src/tuvx/radiation_field_updater.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran

Replace the stub Fortran bridge with the real implementation
  configs/tuvx/host_radiation_field/config.json
  include/musica/tuvx/radiation_field_updater.hpp
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/tuvx/interface_radiation_field_updater.F90
  src/tuvx/radiation_field_updater.cpp
Due: cpp_fortran

Add V54 and VTS1 convenience configurations to the Julia interface (#1016)
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/grid.jl
  julia/src/tuvx/profile.jl
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/v54.jl
  julia/src/tuvx/vts1.jl
  julia/test/runtests.jl
  julia/test/test_v54_vts1.jl
Due: none

Auto-format code using Clang-Format, Prettier, autopep8, and JuliaFormatter
  julia/src/tuvx/radiator.jl
  julia/src/tuvx/v54.jl
  julia/src/tuvx/vts1.jl
  julia/test/test_v54_vts1.jl
Due: none

Rename radiation field variables to full names, fix codespell failure
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/tuvx/interface_radiation_field_updater.F90
Due: cpp_fortran

Radiation field updater: C++ bindings (#1024)
  configs/tuvx/host_radiation_field/config.json
  include/musica/tuvx/radiation_field_updater.hpp
  include/musica/tuvx/tuvx.hpp
  include/musica/tuvx/tuvx_c_interface.hpp
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/tuvx/CMakeLists.txt
  src/tuvx/interface_radiation_field_updater.F90
  src/tuvx/radiation_field_updater.cpp
  src/tuvx/tuvx.cpp
  src/tuvx/tuvx_c_interface.cpp
Due: cpp_fortran

Add Python bindings for the radiation field updater
  configs/tuvx/host_radiation_field/config_python.json
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/tuvx/radiation_field_updater.cpp
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/radiation_field_updater.py
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx_radiation_field_updater.py
Due: python

Add a global surface chemistry WASM example (#1027)
  docs/Makefile
  docs/source/user_guide/javascript/global_demo.rst
  docs/source/user_guide/javascript/index.rst
  javascript/README.md
  javascript/wasm/global.html
  javascript/wasm/global_widget.html
  package.json
Due: javascript

Let Grid/GridMap read grids not supplied by the host
  configs/tuvx/host_radiation_field/config_python.json
  fortran/test/integration/test_tuvx_api.F90
  include/musica/tuvx/grid.hpp
  include/musica/tuvx/grid_map.hpp
  python/test/integration/test_tuvx_radiation_field_updater.py
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/interface_grid.F90
  src/tuvx/interface_grid_map.F90
  src/tuvx/profile.cpp
  src/tuvx/radiator.cpp
Due: cpp_fortran, python

Document TUVX submap/updater lifetime contract
  python/musica/tuvx/tuvx.py
Due: python

Add Python bindings for the radiation field updater (#1026)
  fortran/test/integration/test_tuvx_api.F90
  include/musica/tuvx/grid.hpp
  include/musica/tuvx/grid_map.hpp
  python/bindings/CMakeLists.txt
  python/bindings/common.cpp
  python/bindings/common.hpp
  python/bindings/tuvx/radiation_field_updater.cpp
  python/bindings/tuvx/tuvx.cpp
  python/musica/tuvx/radiation_field_updater.py
  python/musica/tuvx/tuvx.py
  python/test/integration/test_tuvx_radiation_field_updater.py
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/tuvx/grid.cpp
  src/tuvx/grid_map.cpp
  src/tuvx/interface_grid.F90
  src/tuvx/interface_grid_map.F90
  src/tuvx/profile.cpp
  src/tuvx/radiator.cpp
Due: cpp_fortran, python

Add Julia bindings for the radiation field updater
  configs/tuvx/ts1_tsmlt_host_radiation_field.json
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/radiation_field_updater.jl
  julia/src/tuvx/tuvx.jl
  julia/test/runtests.jl
  julia/test/test_ts1_column_model.jl
  julia/test/test_tuvx.jl
Due: none

Check all species, not just O3, in the TS1 column model test
  julia/test/test_ts1_column_model.jl
Due: none

Report TUV-x run! timing using only the two runs already needed
  julia/test/test_ts1_column_model.jl
Due: none

Add Julia bindings for the radiation field updater (#1029)
  configs/tuvx/ts1_tsmlt_host_radiation_field.json
  docs/source/api/julia.rst
  julia/bindings/tuvx.cpp
  julia/src/Musica.jl
  julia/src/tuvx/radiation_field_updater.jl
  julia/src/tuvx/tuvx.jl
  julia/test/runtests.jl
  julia/test/test_ts1_column_model.jl
  julia/test/test_tuvx.jl
Due: none

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
