Repository NCAR/MUSICA: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_fortran, javascript, python

changing name
  include/musica/micm/micm_c_interface.hpp
  javascript/src/musica_wasm.cpp
  python/bindings/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/state.cpp
Due: cpp_fortran, javascript, python

Fix JavaScript state indexing for vector-ordered matrices (#729)
  include/musica/micm/micm.hpp
  include/musica/micm/micm_c_interface.hpp
  include/musica/micm/state.hpp
  javascript/CMakeLists.txt
  javascript/micm/index.js
  javascript/micm/micm.js
  javascript/micm/solver.js
  javascript/micm/state.js
  javascript/src/micm/micm_wrapper.cpp
  javascript/src/micm/micm_wrapper.h
  javascript/src/micm/state_wrapper.cpp
  javascript/src/micm/state_wrapper.h
  javascript/src/musica_wasm.cpp
  javascript/tests/integration/analytical.test.js
  javascript/tests/unit/micm.test.js
  javascript/tests/unit/state.test.js
  package-lock.json
  package.json
  python/bindings/micm/micm.cpp
  src/micm/micm.cpp
  src/micm/micm_c_interface.cpp
  src/micm/state.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, javascript, python

Auto-format code using Clang-Format and autopep8
  include/musica/micm/micm.hpp
  python/bindings/micm/micm.cpp
  src/micm/state.cpp
  src/test/unit/micm/micm_wrapper.cpp
Due: cpp_fortran, python

Correcting OIDC publishing
  .github/emsdk_steps/action.yml
  .github/workflows/javascript.yml
  CMakeLists.txt
  javascript/README.md
  package.json
Due: javascript

using configured node versions
  .github/emsdk_steps/action.yml
  .github/workflows/coverage.yml
  .github/workflows/javascript.yml
Due: none

Configure OIDC publishing for npm (#731)
  .github/emsdk_steps/action.yml
  .github/workflows/coverage.yml
  .github/workflows/javascript.yml
  CMakeLists.txt
  javascript/README.md
  package.json
Due: javascript

seeing if lower tuv version passes windows test
  cmake/dependencies.cmake
Due: none

trying a different branch
  cmake/dependencies.cmake
Due: none

another tag
  cmake/dependencies.cmake
Due: none

logging
  .github/workflows/windows.yml
  cmake/dependencies.cmake
  src/test/unit/tuvx/tuvx_c_api.cpp
  src/test/unit/tuvx/tuvx_run_from_config.cpp
Due: cpp_fortran

maybe run all
  .github/workflows/windows.yml
Due: none

maybe bypassing stop test
  .github/workflows/windows.yml
  src/test/unit/tuvx/tuvx_c_api.cpp
Due: cpp_fortran

disabling python
  .github/workflows/windows.yml
Due: none

adding plots to browser example
  CMakeLists.txt
  javascript/README.md
  javascript/wasm/example.html
  package.json
Due: javascript

strating lorenz attractor
  javascript/wasm/example.html
Due: javascript

better lorenz
  javascript/wasm/example.html
Due: javascript

updating camera center
  javascript/wasm/example.html
Due: javascript

redesign
  javascript/wasm/example.html
Due: javascript

cleaning up
  javascript/wasm/example.html
Due: javascript

settting html
  javascript/wasm/example.html
Due: javascript

abc example
  javascript/wasm/example.html
Due: javascript

show table
  javascript/wasm/example.html
Due: javascript

adding equations
  javascript/wasm/example.html
Due: javascript

updatig readme
  javascript/README.md
Due: javascript

Update exmaples packaging (#733)
  CMakeLists.txt
  javascript/README.md
  javascript/wasm/example.html
  package.json
Due: javascript

packing web example
  README.md
  javascript/README.md
  javascript/tools/serve.js
  javascript/wasm/example.html
  package.json
Due: javascript

installation
  javascript/README.md
Due: javascript

Update javascript/wasm/example.html
  javascript/wasm/example.html
Due: javascript

Update README.md
  README.md
Due: none

pr commets
  javascript/wasm/example.html
Due: javascript

packing web example (#734)
  README.md
  javascript/README.md
  javascript/tools/serve.js
  javascript/wasm/example.html
  package.json
Due: javascript

Remove installation section from CMakeLists.txt
  julia/CMakeLists.txt
Due: none

trying to correct wheel packing
  pyproject.toml
  python/tools/repair_wheel_gpu.sh
Due: python

adding lorenz movie creation
  python/musica/examples/examples.py
  python/musica/examples/lorenz.py
Due: python

deleting javascript objects
  javascript/micm/micm.js
  javascript/micm/state.js
  javascript/tests/unit/micm.test.js
Due: javascript

pr comments
  python/musica/examples/lorenz.py
Due: python

Path conditions:
  cpp_fortran: any of: src, include, fortran
  javascript: any of: javascript
  python: any of: python
